/***** pagination ********/
table.scroller {
   border:none;
   width: auto;
   margin-left:auto;
   margin-right:auto;
   text-align:center;
}

table.paginator {
   border:none; 
}

.scroller td {
   background: none;
   border: none;
   padding-top: 0px; 
   padding-bottom: 0px;
}

.scroller a, .paginator a {
   color: black;
   font-weight: normal;
}

.paginator a { 
   text-decoration:underline;
}

/** pour pagination.xhtml */
.active-column {
   text-decoration:none; 
   font-weight: bold;
}

/** pour t:dataScroller */
.active-column a{
   text-decoration:none; 
   font-weight: bold;
}

/***** end pagination ********/