@charset "utf-8";
/* CSS Document */

h2{
	color:#0b334d;
	background-image:url(../img/spe/bg_h1.png);
}

#tp_container{
	background-color:#0E476D;
}

#acc_nav{
	background-image:url(../img/spe/bg_acc_nav.jpg);
}

#content{
	background-color:#0E476D;
}

a{
	color:#FB7600;
}

a:hover{
	color:#FB7600;
}

a:visited{
	/*color:#ff4500;*/
}

a.ext_link{
	background-image:url(../img/spe/spe_ext_link.png);
}

#footer a{
	color:#FB7600;	
}

th a{
	color:#fb9c47;
}

.bouton{
	background-image:url(../img/spe/bg_button.jpg);
}

/*.btn_delete{
	background:url(../img/icn-action-delete2.png) no-repeat 3px 5px,url(../img/spe/bg_button.jpg) repeat left top;
	-pie-background:url(../resources/1_8/img/icn-action-delete2.png) no-repeat 3px 5px,url(../resources/1_8/img/spe/bg_button.jpg) repeat left top;;
	behavior: url(../resources/1_8/css/PIE.htc);
}*/



.mini-btn{
	background-image:url(../img/spe/bg_button.jpg);
}

.bouton:hover, .mini_btn:hover{
	background-image:url(../img/spe/bg_button_over.jpg);
}


.btn_illus{
	background:#ec7519;
	background:url(../img/spe/bg_button.jpg) repeat left top;
}

.btn_illus:hover{
	background:url(../img/spe/bg_button_over.jpg) repeat left top;
}

.btn_delete{
	background:url(../img/icn-action-delete2.png) no-repeat 3px 5px,url(../img/spe/bg_button.jpg) repeat left top;
	-pie-background:url(../resources/1_8/img/icn-action-delete2.png) no-repeat 3px 5px,url(../resources/1_8/img/spe/bg_button.jpg) repeat left top;
	behavior: url(../resources/1_8/css/PIE.htc);
}

.btn_delete:hover{
	background:url(../img/icn-action-delete2.png) no-repeat 3px 5px,url(../img/spe/bg_button_over.jpg) repeat left top;
	-pie-background:url(../resources/1_8/img/icn-action-delete2.png) no-repeat 3px 5px,url(../resources/1_8/img/spe/bg_button_over.jpg) repeat left top;
	behavior: url(../resources/1_8/css/PIE.htc);
}

.btn_modify{
	background:url(../img/icn-action-edit.png) no-repeat 3px 5px,url(../img/spe/bg_button.jpg) repeat left top;
	-pie-background:url(../resources/1_8/img/icn-action-edit.png) no-repeat 3px 5px,url(../resources/1_8/img/spe/bg_button.jpg) repeat left top;
	behavior: url(../resources/1_8/css/PIE.htc);
}

.btn_modify:hover{
	background:url(../img/icn-action-edit.png) no-repeat 3px 5px,url(../img/spe/bg_button_over.jpg) repeat left top;
	-pie-background:url(../resources/1_8/img/icn-action-edit.png) no-repeat 3px 5px,url(../resources/1_8/img/spe/bg_button_over.jpg) repeat left top;
	behavior: url(../resources/1_8/css/PIE.htc);
}

.btn_preview{
	background:url(../img/icn-action-view.png) no-repeat 3px 5px,url(../img/spe/bg_button.jpg) repeat left top;
	-pie-background:url(../resources/1_8/img/icn-action-view.png) no-repeat 3px 5px,url(../resources/1_8/img/spe/bg_button.jpg) repeat left top;
	behavior: url(../resources/1_8/css/PIE.htc);
}

.btn_preview:hover{
	background:url(../img/icn-action-view.png) no-repeat 3px 5px,url(../img/spe/bg_button_over.jpg) repeat left top;
	-pie-background:url(../resources/1_8/img/icn-action-view.png) no-repeat 3px 5px,url(../resources/1_8/img/spe/bg_button_over.jpg) repeat left top;
	behavior: url(../resources/1_8/css/PIE.htc);
}

.btn_print{
	background:url(../img/icn-action-print.png) no-repeat 3px 5px,url(../img/spe/bg_button.jpg) repeat left top;
	-pie-background:url(../resources/1_8/img/icn-action-print.png) no-repeat 3px 5px,url(../resources/1_8/img/spe/bg_button.jpg) repeat left top;
	behavior: url(../resources/1_8/css/PIE.htc);
}

.btn_print:hover{
	background:url(../img/icn-action-print.png) no-repeat 3px 5px,url(../img/spe/bg_button_over.jpg) repeat left top;
	-pie-background:url(../resources/1_8/img/icn-action-print.png) no-repeat 3px 5px,url(../resources/1_8/img/spe/bg_button_over.jpg) repeat left top;
	behavior: url(../resources/1_8/css/PIE.htc);
}

.btn_out{
	background:url(../img/icn-action-out.png) no-repeat 3px 5px,url(../img/spe/bg_button.jpg) repeat left top;
	-pie-background:url(../resources/1_8/img/icn-action-out.png) no-repeat 3px 5px,url(../resources/1_8/img/spe/bg_button.jpg) repeat left top;
	behavior: url(../resources/1_8/css/PIE.htc);
}

.btn_out:hover{
	background:url(../img/icn-action-out.png) no-repeat 3px 5px,url(../img/spe/bg_button_over.jpg) repeat left top;
	-pie-background:url(../resources/1_8/img/icn-action-out.png) no-repeat 3px 5px,url(../resources/1_8/img/spe/bg_button_over.jpg) repeat left top;
	behavior: url(../resources/1_8/css/PIE.htc);
}

.tooltip{
	background-color:#EC741A;	
}

.ui-tooltip{
	background-color: #FB7600;	
}

.btn_icn:hover{
	background-image:url(../img/bg_btn_spe_hover.png);
	background-color:#FB7600;
}

.popin{
	background-color:#0E476D;
}