/***** fileuploader ********/
.fileuploader {
	height: 25px;
}

.fileuploadercontainer {
	padding: 10px;
	background-color: #FFFFFF;
}

.fileuploaderchild {
    display: block;
    line-height: 25px;
}

.fileuploaderchild1 {
	width: 150px;
	display: block;
	float: left;
}

.fileuploaderchild2 {
	width: 250px;
	display: block;
	float: left;
}

.fileuploaderchild3 {
	width: 150px;
	display: block;
	float: left;
	vertical-align: middle;
}

.txt-error-upload {
	clear: both;
}

.msg-select-file{
	margin: 0px;
	clear: both;
    white-space:nowrap;
}

.labelupload {
	font-weight: bold;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	input[type="file"] {
		border: none;
	}
} 

/***** end fileuploader ********/