
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	class="no-js sidebar-left-collapsed" lang="fr" dir="ltr">

<head>
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<meta th:name="_csrf" th:content="${_csrf.token}" />
<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />





<title th:text="${titre}"></title>

<!-- Import FONTS -->
<link th:href="@{/webjars/xcb-wlib/fonts/style.css}" rel="stylesheet" />
<!--[if lt IE 8]><!-->
<link rel="stylesheet" th:href="@{/webjars/xcb-wlib/fonts/ie7/ie7.css}" />

<!-- Import CSS -->
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css" />
<link th:href="@{/webjars/xcb-wlib/css/template.css}" rel="stylesheet" />
<link th:href="@{/webjars/xcb-wlib/css/sidebar.css}" rel="stylesheet" />
<link th:href="@{/webjars/xcb-wlib/css/element.css}" rel="stylesheet" />
<link th:href="@{/webjars/datatables/css/dataTables.bootstrap.css}"
	rel="stylesheet" />
<link rel="stylesheet"
	th:href="@{/webjars/fancybox/jquery.fancybox.css}" />
<link rel="shortcut icon" type="image/x-icon"
	th:href="@{/img/favicon.ico}" />
<link th:href="@{/css/tsgen.css(${applicationBuildTimestamp})}"
	rel="stylesheet" />
<link th:href="@{/css/tsdem.css(${applicationBuildTimestamp})}"
	rel="stylesheet" />


</head>

<body th:with="pageConfigurationActive='active'">

	<div th:replace="fragments/header :: header" />

	<div id="wrapper">

		<div th:replace="fragments/sidebar :: sidebar" />

		<!-- DEBUT CONTENU -->
		<div id="page-content-wrapper">


			<div class="breadcrumbContent">
				<div class="breadcrumb">
					<span> <a th:href="@{/}" class="breadcrumb-item active">Accueil</a>&nbsp;&gt;&nbsp;
						<a th:href="@{/gestion/jobs}"
						class="breadcrumb-item active">JOBS</a> &gt;
					</span>
				</div>
				<div class="triangleTopright"></div>
			</div>

			<div class="container-fluid">
				<h2 class="col-xs-12 col-md-12">Administration des Jobs</h2>
				<div class="text-left" >
					<div class="col-xs-6 col-md-6" style="padding-left: 0px">
						<select style="margin-left: 1em" name="jobsSelect" id="jobsSelectId"
							class="form-control">
							<option value="">Merci de selectionner un job</option>
							<option th:each="job : ${jobs}" th:value="${job.name()}"
								th:text="${job.libelle}"></option>
						</select>
					</div>
					<div class="col-xs-6 col-md-6">
						<input type="submit" value="Exécuter" id="executeJobButton"
							class="btn btn-action ripple-effect ">
					</div>
				</div>
				<div class="row col-xs-12 col-md-12">
					<div class="col-xs-12 col-md-12">
						<div class="tableContent">
							<div class="tableTitle">
								Historique des jobs <span
									class="badge" id="jobsSize"></span>
							</div>
							<table id="datatable-jobs"
								class="table table-striped ">
								<thead>
									<tr>
										<th class="col-md-2">Nom</th>
										<th class="col-md-2">Date de création</th>
										<th class="col-md-2">Date de la dernière modification</th>
										<th class="col-md-2">Statut</th>
										<th class="col-md-4">Message</th>
									</tr>
								</thead>
							</table>
						</div>

					
					</div>
				</div>
				
				<div class="row">
					<div id="executeJobConfirmPanel" style="display: none">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-12" id="executeJobConfirmationMsg"
									style="padding: 20px">Etes vous sure de vouloir exécuter
									le job ?</div>
							</div>

							<div class="row ">
								<div class=" text-right">
									<a class="annuler-preview btn btn-action ripple-effect"
										id="cancelExecuteJobButton">Annuler</a> <a
										class="valider-preview btn btn-action ripple-effect"
										id="executeJobConfirmationButton">Valider</a>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>

			<input type="hidden" href="javascript:void(0);" data-type="success"
				data-delay="5000" data-message="" id="successMessage"
				class="notification" /> <input type="hidden"
				href="javascript:void(0);" data-type="danger" data-delay="0"
				data-message="" id="errorMessage" class="notification" />


			<!-- FIN CONTENU -->
		</div>



		<div th:replace="fragments/footer :: footer" />
		<script th:src="@{/js/tsadminjobs.js(${applicationBuildTimestamp})}"></script>
</body>
</html>