# Eclipse
.classpath
.project
.settings/
.factorypath

# Intellij
*.iml
*.iws
*.ipr
.idea/

# Mac
.DS_Store

# Maven
log/
target/
pom.xml.versionsBackup

.flattened-pom.xml

xaf-sup/src/main/resources/xaf12
/**/application-local.properties
