<p>Prendre le code HTML de ce qui suit en cliquant sur &quot;Source&quot; dans l&#39;éditeur Redmine, puis utiliser&nbsp;mc.gouv.af.back.util.MIGenerator.java du projet af-back (disponible sur SVN) afin de transformer MIGenerique.html en MICustom.html dont le HTML est prêt à être copié dans le ticket Redmine de mise en production.</p>

<h2>1) Motivation</h2>

<ul>
	<li>Déploiement du TS &quot;${TSNomComplet}&quot; (${TSCode})</li>
</ul>

<h2>2) Créneau &amp; Coupure de Service</h2>

<p>C&#39;est une nouvelle application, aucune coupure de service.</p>

<h2>3) Périmètre</h2>

<table>
	<thead>
		<tr>
			<th scope="col">&nbsp;</th>
			<th scope="col">Modules / Applications</th>
			<th scope="col">Impacté ?</th>
			<th scope="col">comments</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="1" rowspan="6">Modules<br />
			(internes)</td>
			<td>-apiserver</td>
			<td>OUI</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>-backserver</td>
			<td>OUI</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>-frontserver</td>
			<td>OUI</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>-win</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>-db</td>
			<td>OUI</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>-shell</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="1" rowspan="5">Systèmes<br />
			(externes)</td>
			<td>EXPL</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>LGOB</td>
			<td><strong>OUI</strong></td>
			<td>.</td>
		</tr>
		<tr>
			<td>MONIT</td>
			<td>OUI</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>PWKB</td>
			<td>n/a</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>PROXY-IN</td>
			<td>n/a</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>

<h2>4) Paramètres</h2>

<table>
	<thead>
		<tr>
			<th scope="col">clé</th>
			<th scope="col">descr.</th>
			<th scope="col">Fournisseur</th>
			<th scope="col">mise à disposition</th>
			<th scope="col">comments</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="1"><span style="background-color:#66ffff">[[${TSCodeLowerCase}.sig.secret]]</span></td>
			<td>secret partagé entre le back et le front pour le sso</td>
			<td>&nbsp;</td>
			<td>
			<p>KeePass</p>
			</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="1"><span style="background-color:#66ffff">[[${TSCodeLowerCase}-api.jwt.secret]]</span></td>
			<td>secret pour la génération du JWT pour accéder à l&#39;API server</td>
			<td>&nbsp;</td>
			<td>
			<p>KeePass</p>
			</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="1"><span style="background-color:#66ffff">[[${TSCodeLowerCase}-db.password]]</span></td>
			<td>Mot de passe de la base de données</td>
			<td>&nbsp;</td>
			<td>
			<p>KeePass</p>
			</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="1"><span style="background-color:#66ffff">[[mail-api.back.jwt]]</span></td>
			<td>JWT pour accéder à mail</td>
			<td>&nbsp;</td>
			<td>
			<p>KeePass</p>
			</td>
			<td>
			<p>Le JWT est à générer à l&rsquo;aide de la classe &quot;<em>mc.gouv.xboot.test.jwt.JwtUtils&quot; :</em></p>

			<pre>
<code>HashMap&lt;String, Object&gt; map = new HashMap&lt;String, Object&gt;();
        String jwt = createJWTToken("&lt;mail-api.jwt.secret&gt;", "${TSCode}", new String[] { "USER"}, "MAIL", null,null);
System.out.println(jwt);</code></pre>

			<p>mail-api.jwt.secret : Secret utilisé pour la génération des JWTs pour mail (mc.gouv.api.mail.security.jwt.secret)</p>
			</td>
		</tr>
		<tr>
			<td colspan="1"><span style="background-color:#66ffff">[[file-api.back.jwt]]</span></td>
			<td>JWT pour accéder à file depuis le backserver</td>
			<td>&nbsp;</td>
			<td>
			<p>KeePass</p>
			</td>
			<td>
			<pre>
<code>HashMap&lt;String, Object&gt; map = new HashMap&lt;String, Object&gt;();
        String jwt = createJWTToken("&lt;file-api.jwt.secret&gt;", "${TSCode}", new String[] { "USER"}, "FILE", null,null);
System.out.println(jwt);</code></pre>

			<p>file-api.jwt.secret :&nbsp;Secret utilisé pour la génération des JWTs pour file (mc.gouv.api.file.security.jwt.secret)</p>
			</td>
		</tr>
		<tr>
			<td colspan="1"><span style="background-color:#66ffff">[[file-api.front.jwt]]</span></td>
			<td>JWT pour accéder à file depuis le frontserver</td>
			<td>&nbsp;</td>
			<td>
			<p>KeePass</p>
			</td>
			<td>
			<pre>
<code>HashMap&lt;String, Object&gt; map = new HashMap&lt;String, Object&gt;();
        String jwt = createJWTToken("&lt;file-api.jwt.secret&gt;", "${TSCode}", new String[] { "USER"}, "FILE", null,null);
System.out.println(jwt);</code></pre>

			<p>file-api.jwt.secret :&nbsp;Secret utilisé pour la génération des JWTs pour file (mc.gouv.api.file.security.jwt.secret)</p>

			<p>Même si c&#39;est la même ligne de code que file-api.back.jwt, nous créons 2 JWT avec uid unique.</p>

			<p>Nous sommes obligés de mettre en appelant &quot;${TSCode}&quot; qui est l&#39;account utilisé dans FILE</p>
			</td>
		</tr>
		<tr>
			<td colspan="1"><span style="background-color:#66ffff">[[${TSCodeLowerCase}-api.jwt]]</span></td>
			<td>JWT pour accéder à l&#39;apiserver depuis le front</td>
			<td>&nbsp;</td>
			<td>
			<p>KeePass</p>
			</td>
			<td>
			<pre>
<code>HashMap&lt;String, Object&gt; map = new HashMap&lt;String, Object&gt;();
        String jwt = createJWTToken("&lt;${TSCodeLowerCase}-api.jwt.secret&gt;", "${TSCode}-FRONT", new String[] { "USER"}, "${TSCode}", null,null);
System.out.println(jwt);</code></pre>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="1"><span style="background-color:#66ffff">[[${TSCodeLowerCase}.piwik.frontserver.siteId]]</span> et <span style="background-color:#66ffff">[[${TSCodeLowerCase}.piwik.backserver.siteId]]</span></td>
			<td>piwik site id</td>
			<td>&nbsp;</td>
			<td>
			<p>KeePass</p>
			</td>
			<td>Voir Pré-MEP</td>
		</tr>
	</tbody>
</table>

<h2>5 ) Eléments manquants</h2>

<p>&nbsp;</p>

<h2>6 )Execution plan</h2>

<table border="1" cellpadding="5" cellspacing="0" style="border-collapse:collapse">
	<thead>
		<tr>
			<th scope="col">Phase</th>
			<th scope="col">planification<br />
			(qui + timing)</th>
			<th scope="col" style="width:1627px;">quoi</th>
			<th scope="col" style="width:384px;">Réalisation</th>
			<th scope="col">comments</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
			<p>Prérequis</p>

			<p>0-/</p>

			<p>&nbsp;</p>
			</td>
			<td>&nbsp;</td>
			<td style="width:1627px">
			<h2>[${TSCode}] PIWIK</h2>

			<p>génération des identifiants [[${TSCodeLowerCase}.piwik.frontserver.siteId]] et [[${TSCodeLowerCase}.piwik.backserver.siteId]]</p>

			<p>&nbsp;</p>
			</td>
			<td style="width:384px">
			<p>&nbsp;</p>

			<p>&nbsp;</p>
			</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td style="width:1627px">
			<h2>[${TSCode}] ANSIBLE</h2>

			<p>Création de la configuration Ansible</p>
			</td>
			<td style="width:384px">
			<p>&nbsp;</p>
			</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td><strong>Pré-MEP</strong></td>
			<td>&nbsp;</td>
			<td style="width:1627px">&nbsp;</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td style="width:1627px">
			<h2>[${TSCode}-FRONT] WAF</h2>

			<p>Créer un ticket GLPI dans la catégorie <strong>Réseau &gt; Sécurité</strong> avec le contenu suivant :</p>

			<ol>
				<li>La copie des règles ASM (de la REC de&nbsp;${TSCode}&nbsp;vers la PROD)</li>
				<li>La publication de l&#39;URL publique&nbsp;</li>
			</ol>

			<pre>
<code>Publier https://teleservice.gouv.mc/${SuffixeURLFront} qui pointe sur http://${TSCodeLowerCase}-frnt1-0:${PortFront}/${SuffixeURLFront}/</code></pre>

			<p>&nbsp;</p>
			</td>
			<td style="width:384px">
			<p>&nbsp;</p>

			<p>&nbsp;</p>
			</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>YBi</td>
			<td style="width:1627px">
			<h2>[JENKD] Configuration pour ${TSCode}</h2>

			<p>Créer les jobs</p>

			<ul>
				<li>${TSCodeLowerCase}-jenkd-provision</li>
				<li>${TSCodeLowerCase}-jenkd-network-checks</li>
			</ul>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>YBi</td>
			<td style="width:1627px">
			<h2>[${TSCode}] Provisionning des VMs</h2>

			<p>Exécuter le Job admin/${TSCodeLowerCase}-jenkd-provision&nbsp;avec les paramètres suivant&nbsp;:</p>

			<ul>
				<li>HOST_SUBSET : *</li>
			</ul>

			<p>&nbsp;</p>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>Équipe Exploitation</td>
			<td style="width:1627px">
			<h2>[LGOB] Configuration de l&#39;application ${TSCode} et des rôles associés</h2>

			<p>&nbsp;</p>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>INFRA</td>
			<td style="width:1627px">
			<h2>[LOGON] Configuration Apache</h2>

			<ul>
				<li>Editer le fichier /root/proxy-http/gen-proxy.sh@linuxin</li>
				<li>Ajouter dans le paramètre LOGON_ALLOWED l&#39;IP du serveur ${TSCodeLowerCase}-appl1-0 ${ApplIPAddress}</li>
				<li>Regénérer la configuration apache&nbsp;<code>./gen_proxy.sh</code></li>
				<li>Redémarer apache&nbsp;<code>/etc/init.d/httpd restart</code></li>
			</ul>
			</td>
			<td style="width:384px">
			<p>&nbsp;</p>
			</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>DBA</td>
			<td style="width:1627px">
			<h2>[LOGIN] Configuration de la page Contacts</h2>

			<ul>
				<li>ticket de tracking de la conf. coté LOGIN : <span style="color:#e74c3c"><strong>TODO (Exemple :&nbsp;#11139)</strong></span></li>
				<li>ticket de tracking &quot;execution en Prod par DBA&quot; : <span style="color:#e74c3c"><strong>TODO (Exemple :&nbsp;#11088)</strong></span></li>
			</ul>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>${NomResponsable}</td>
			<td style="width:1627px">
			<h2>[FILE] Création du container et de l&#39;account</h2>

			<p>Le but est de valider que l&#39;ouverture des flux est fonctionnelle, que le JWT est valide tout en initialisant l&#39;account et le container dans FILE</p>

			<p><strong>Depuis le serveur sur lequel sera hébergé le backserver</strong></p>

			<p>Création de l&#39;account : Exécuter la commande (<strong>En&nbsp;remplaçant&nbsp;[[file-api.back.jwt]] </strong>)&nbsp; :</p>

			<pre>
<code>curl -H "Content-Type: application/json" -H "Authorization: [[file-api.back.jwt]]" --request POST --data '{"basedir" : "/www/data/file/${TSCode}"}' http://linuxas-1:30490/file/api/v1/file/${TSCode}</code></pre>

			<p>Création du container : Exécuter la commande (<strong>En&nbsp;remplaçant&nbsp;[[file-api.back.jwt]] </strong>)&nbsp; :</p>

			<pre>
<code>curl -H "Content-Type: application/json" -H "Authorization: [[file-api.back.jwt]]" --request POST  http://linuxas-1:30490/file/api/v1/file/${TSCode}/ROOT</code></pre>

			<p><strong>Depuis le serveur sur lequel sera hébergé le font serveur</strong></p>

			<pre>
<code>curl -H "Content-Type: application/json" -H "Authorization: [[file-api.back.jwt]]" --request GET linuxas-1:30490/file/api/v1/file/RANDOM/ROOT/test.pdf</code></pre>

			<p>Réponse :</p>

			<pre>
<code class="language-json">{
    "errors": [
        {
            "libelle": "Accès à ce compte non autorisé"
        }
    ]
}</code></pre>

			<p>&nbsp;</p>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>${NomResponsable}</td>
			<td style="width:1627px">
			<h2>[MAIL] Test de l&#39;accès depuis le back</h2>

			<p>Le but est de valider que l&#39;ouverture des flux est fonctionnelle et que le JWT est valide</p>

			<p><strong>Depuis le serveur sur lequel sera hébergé le backserver</strong></p>

			<p>Exécuter la commande (<strong>En&nbsp;remplaçant&nbsp;[[mail-api.back.jwt]] et en mettant l&#39;adresse souhaitée de destination à la place de adiallo.ext@gouv.mc</strong>)&nbsp; :</p>

			<pre>
<code>curl -H "Content-Type: application/json" -H "Authorization: [[mail-api.back.jwt]]" --request POST \ 
--data '{"to":[{"address":"adiallo.ext@gouv.mc","name":"Adresse 1"}],"from":{"address":"adresse0@gouv.mc" \ 
,"name":"Adresse 0"},"subject":"Test04","text":"Test envoi mail","html":"&lt;html&gt;&lt;body&gt;&lt;p&gt;Test envoi mail (HTML)&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;"}' http://linuxas-1:30480/mail/api/v1/mail</code></pre>

			<p>&nbsp;</p>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>YBi</td>
			<td style="width:1627px">
			<h2>[LOGIN] Ajout de l&#39;adresse IP du front dans la liste des IP autorisées de login-front</h2>

			<ul>
				<li>Éditer le fichier&nbsp;login-frontserver.properties@linuxas-2</li>
				<li>Ajouter dans la property&nbsp;login.authorizedRESTClientIPs l&#39;adresse IP du serveur&nbsp;${TSCodeLowerCase}-frnt1-0&nbsp;${FrntIPAddress}.</li>
				<li>Appliquer la procédure <strong>JENKD-RESTART</strong> avec les paramètres suivants:
				<ul>
					<li>Module:&nbsp;&nbsp;&nbsp;&nbsp;login-frontserver.</li>
				</ul>
				</li>
			</ul>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td><strong>MeP</strong><br />
			&nbsp;</td>
			<td>
			<p>DBA</p>
			</td>
			<td style="width:1627px">
			<h2>[${TSCode}-DB] Création des tables et données dans schéma ${TSCode}</h2>

			<p>&nbsp;</p>

			<p>&nbsp;</p>
			</td>
			<td style="width:384px">
			<p>&nbsp;</p>
			</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>${NomResponsable}</td>
			<td style="width:1627px">
			<h2>[${TSCode}-ES] Configuration Elastic Search</h2>

			<p>Créer l&#39;index via l&#39;appel du webservice (depuis le poste d&#39;admin)</p>

			<pre>
<code>curl -H "Content-Type: application/json" -XPUT "http://${TSCodeLowerCase}-eose1-0-mgmt:9200/${TSCodeLowerCase}-index" -d @${TSCodeLowerCase}-es-schema.json</code></pre>

			<p>Créer l&#39;alias&nbsp;via l&#39;appel du webservice (depuis le post d&#39;admin)</p>

			<pre>
<code>curl -H "Content-Type: application/json" -XPOST "http://${TSCodeLowerCase}-eose1-0-mgmt:9200/_aliases" -d '{
    "actions" : [
        { "add" : { "index" : "${TSCodeLowerCase}-index", "alias" : "${TSCodeLowerCase}" } }
    ]
}'</code></pre>

			<p>&nbsp;</p>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>Équipe Exploitation</td>
			<td style="width:1627px">
			<h2>[${TSCode}-BACK] Deploy @JENKD</h2>

			<p>Appliquer la procédure <strong>JENKD-DEPLOY</strong> avec les paramètres suivant :</p>

			<ul>
				<li>
				<p>Module :&nbsp;&nbsp; ${TSCodeLowerCase}-backserver</p>
				</li>
				<li>
				<p>Version :&nbsp;&nbsp; 1.0.0</p>
				</li>
			</ul>

			<p style="margin-left:0cm; margin-right:0cm; margin-top:0cm; text-align:justify">&nbsp; ​​​​​</p>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>Équipe Exploitation</td>
			<td style="width:1627px">
			<h2>[${TSCode}-BACK] START @JENKD</h2>

			<p>Appliquer la procédure&nbsp;<strong>JENKD-START</strong> avec les paramètres suivant&nbsp;:</p>

			<ul>
				<li>Module&nbsp;:&nbsp;&nbsp; ${TSCodeLowerCase}-backserver</li>
				<li>Version&nbsp;: &nbsp; 1.0.0</li>
			</ul>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>${NomResponsable}</td>
			<td style="width:1627px">
			<h2>[${TSCode}-BACK] VABF</h2>

			<p>Accès à l&rsquo;application ${TSCode} via LOGON (Avoir les droits en amont)</p>

			<p style="margin-left:0cm; margin-right:0cm; margin-top:0cm; text-align:justify">&nbsp;</p>

			<p>&nbsp;</p>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td style="width:1627px">&nbsp;</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>Équipe Exploitation</td>
			<td style="width:1627px">
			<h2>[${TSCode}-API] Deploy @JENKD</h2>

			<p>Appliquer la&nbsp;procédure&nbsp;<strong>JENKD-DEPLOY</strong> avec les paramètres suivant&nbsp;:</p>

			<ul>
				<li>Module&nbsp;:&nbsp;&nbsp; ${TSCodeLowerCase}-apiserver</li>
				<li>Version&nbsp;: &nbsp; 1.0.0</li>
			</ul>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>Équipe Exploitation</td>
			<td style="width:1627px">
			<h2>[${TSCode}-API] Start @JENKD</h2>

			<p>Appliquer la&nbsp;procédures <strong>JENKD-START</strong> avec les paramètres suivant&nbsp;:</p>

			<ul>
				<li>Module&nbsp;:&nbsp; &nbsp;${TSCodeLowerCase}-apiserver</li>
				<li>Version&nbsp;: &nbsp; 1.0.0</li>
			</ul>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>${NomResponsable}</td>
			<td style="width:1627px">
			<h2>[${TSCode}-API] VABF</h2>

			<p>GET&nbsp;<a href="https://%24%7BTSCodeLowerCase%7D-api.monaco-gouvernement.mc/%24%7BTSCodeLowerCase%7D/api/v1/motifs">https://${TSCodeLowerCase}-api.monaco-gouvernement.mc/${TSCodeLowerCase}/api/v1/motifs</a></p>

			<p>HEADER</p>

			<ul>
				<li>Content-Type : application/json</li>
				<li>Authorization : [[${TSCodeLowerCase}-api.jwt]]</li>
			</ul>

			<p>A exécuter sur le serveur qui héberge le FRONT&nbsp;<strong>${TSCodeLowerCase}-frnt1-0</strong></p>

			<pre>
<code>curl -H "Content-Type: application/json" -H "Authorization: [[${TSCodeLowerCase}-api.jwt]]" --request GET https://${TSCodeLowerCase}-api.monaco-gouvernement.mc/${TSCodeLowerCase}/api/v1/motifs</code></pre>

			<p style="margin-left:0cm; margin-right:0cm; margin-top:0cm; text-align:justify"><span style="background-color:null">Résultat :</span></p>

			<pre>
&nbsp;</pre>

			<p style="margin-left:0cm; margin-right:0cm; margin-top:0cm; text-align:justify">&nbsp;</p>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>Équipe Exploitation</td>
			<td style="width:1627px">
			<h2>[${TSCode}-FRONT] Deploy @JENKD</h2>

			<p>Appliquer la&nbsp;procédures <strong>JENKD-DEPLOY</strong> avec les paramètres suivant&nbsp;:</p>

			<ul>
				<li>Module&nbsp;:&nbsp;&nbsp; ${TSCodeLowerCase}-frontserver</li>
				<li>Version&nbsp;: &nbsp; 1.0.0</li>
			</ul>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>Équipe Exploitation</td>
			<td style="width:1627px">
			<h2>[${TSCode}-FRONT] Start @JENKD</h2>

			<p>Appliquer la procédures <strong>JENKD-START</strong> avec les paramètres suivant&nbsp;:</p>

			<ul>
				<li>Module&nbsp;:&nbsp;&nbsp; ${TSCodeLowerCase}-frontserver</li>
				<li>Version&nbsp;: &nbsp; 1.0.0</li>
			</ul>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>YBi</td>
			<td style="width:1627px">
			<h2>[${TSCodeLowerCase}-jmx-discovery] @JENKD</h2>

			<p>Exécuter le Job <strong>admin/${TSCodeLowerCase}-jenkd-network-checks</strong>&nbsp;avec les paramètres suivant&nbsp;</p>

			<ul>
				<li>HOST_SUBSET : *</li>
			</ul>

			<p>Si tout est OK éxécuter le job<strong> admin/${TSCodeLowerCase}-jmx-discovery&nbsp;</strong>avec les paramètres suivant:</p>

			<ul>
				<li>host: ${TSCodeLowerCase}-appl1-0</li>
			</ul>

			<p>Si tout est OK éxécuter le job <strong>admin/${TSCodeLowerCase}-jmx-discovery</strong>&nbsp;avec les paramètres suivant:</p>

			<ul>
				<li>host: ${TSCodeLowerCase}-frnt1-0</li>
			</ul>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>Vérifier que le monitoring est actif</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>${NomResponsable}</td>
			<td style="width:1627px">
			<h2>[${TSCode}-FRONT] VABF</h2>

			<p><strong>Tests de l&#39;accès au TS :</strong></p>

			<p>Accéder à https://teleservice.gouv.mc/${SuffixeURLFront}/</p>

			<p>Se connecter avec un compte usager et vérifier l&#39;affichage de la page d&#39;acceuil du téléservice.</p>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>Yann Biancheri</td>
			<td style="width:1627px">
			<h2>[${TSCode}- PAAS]</h2>

			<p>Mettre à jour le fichier PAAS-INVENTAIRE&nbsp;</p>

			<p>https://redmine.monaco-gouvernement.mc/projects/paas/documents</p>

			<p>&nbsp;</p>

			<p>&nbsp;</p>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>

<h2>7) Clôture</h2>

<table border="1" cellpadding="1" cellspacing="1">
	<thead>
		<tr>
			<th scope="col">Modules / Applications</th>
			<th scope="col">Impacté ?</th>
			<th scope="col">comments</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Notif DAN/Services</td>
			<td>OUI</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Notif DRSI<br />
			&nbsp;&gt; EXPL<br />
			&nbsp;&gt; CDS</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Notif Pretataires externes</td>
			<td>n/a</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Maj CMDB/PAAS</td>
			<td><strong>OUI</strong></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Maj doc &quot;Manuel Exploitation&quot;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Close tickets &amp; Jalon</td>
			<td><strong>OUI</strong></td>
			<td>vérifier également s&#39;il faut clôturer AF, DEM</td>
		</tr>
		<tr>
			<td>Cleansing NEXUS (&amp; SVN / GiT) &gt; -rc,...&nbsp;</td>
			<td><strong>OUI</strong></td>
			<td>Si rc</td>
		</tr>
		<tr>
			<td>Stopper les modules&nbsp;<span style="overflow:hidden"><span style="font-size:10pt"><span style="font-family:Verdana,sans-serif">${TSCodeLowerCase}</span></span></span><span style="font-size:10pt"><span style="font-family:Verdana,sans-serif">-backserver,&nbsp;</span></span><br />
			<span style="overflow:hidden"><span style="font-size:10pt"><span style="font-family:Verdana,sans-serif">${TSCodeLowerCase}</span></span></span><span style="font-size:10pt"><span style="font-family:Verdana,sans-serif">-apiserver,&nbsp;</span></span><br />
			<span style="overflow:hidden"><span style="font-size:10pt"><span style="font-family:Verdana,sans-serif">${TSCodeLowerCase}</span></span></span><span style="font-size:10pt"><span style="font-family:Verdana,sans-serif">-frontserver</span></span></td>
			<td><strong>OUI</strong></td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>