#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

	<div id="sectionobservation${artifactIdLower}" th:fragment="sectionobservation${artifactIdLower}"
		th:remove="tag">
		<div class="row mt-15">
			<div class="col-xs-12">
				<div class="panel-group accordion" role="tablist"
					aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading4">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse"
									data-parent="${symbol_pound}accordion4" href="${symbol_pound}collapse4"
									aria-controls="collapse4" 
									th:attr="aria-expanded=${symbol_dollar}{isObservationPanelActive}"
									th:class="${symbol_dollar}{isObservationPanelActive}  ? '' : collapsed "> 
									<i	class="pannelState" 
									th:classappend="${symbol_dollar}{isObservationPanelActive} ? icon-action_accordeon-ouvert : icon-action_accordeon-ferme"></i>
									Informations réservées à l'administration
								</a>
							</h4>
						</div>
						<div id="collapse4" class="panel-collapse collapse" th:classappend="${symbol_dollar}{isObservationPanelActive} ? in:out"
							role="tabpanel" aria-labelledby="heading4">
							<div class="panel-body">
								<div class="row">
									<div class="col-xs-12">
										<form id="infos-demande" action="${symbol_pound}"
											th:action="@{/demandes/infosAdministration}" method="post">
											<div class="row">
												<div class="col-xs-12">
													<label for="observation-admin">OBSERVATIONS</label>
													<textarea id="observation-admin" class="form-control"
														th:field="${symbol_dollar}{traitementFormBean.observations}"
														th:disabled="!${symbol_dollar}{isObservationPanelActive}" ></textarea>
												</div>
											</div>
											<div class="row mt-15">
												<div class="col-xs-12 text-right">
													<input class="btn btn-action ripple-effect" type="submit"
														name="action" value="Sauvegarder"
														th:disabled="!${symbol_dollar}{isObservationPanelActive}" />
												</div>
											</div>
											<input type="hidden" name="pkDemande"
												th:value="${symbol_dollar}{demandeDTO.pkDemandes}" />
										</form>
									</div>


								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>