#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div id="sectionsuivicomptable" th:fragment="sectionsuivicomptable" th:remove="tag">
		<div class="row mt-15">
			<div class="col-xs-12">
				<div class="panel-group accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingSuiviComptable">
							<h4 class="panel-title">
								<a href="${symbol_pound}collapseSuiviComptable" role="button" data-toggle="collapse"
									th:attr="aria-expanded=${symbol_dollar}{isComptableAccardeonIsOpen}"
									th:class="${symbol_dollar}{isComptableAccardeonIsOpen}  ? '' : collapsed "> <i
										class="pannelState"
										th:classappend="${symbol_dollar}{isComptableAccardeonIsOpen} ? icon-action_accordeon-ouvert : icon-action_accordeon-ferme">
										</i> SUIVI	COMPTABLE
								</a>
							</h4>
						</div>
						<div id="collapseSuiviComptable" class="panel-collapse collapse"  th:classappend="${symbol_dollar}{isComptableAccardeonIsOpen} ? in:out" role="tabpanel"
							aria-labelledby="headingSuiviComptable">
							<div class="panel-body">
								<div class="row">
									<div class="col-xs-12" id="suivicomptableSector">
										<form th:action="@{/demandes/suivicomptable}"
											th:object="${symbol_dollar}{suiviComptableFormBean}" id="suivi-comptable" method="POST">
											<div class="row">
												<div class="col-xs-6 form-group">
													<label for="exercice" id="lbl-exercice">Exercice</label><span
														class="mandatory">&nbsp;*</span> <input type="text"
														id="exercice" th:required="required" name="exercice"
														class="form-control" th:value="*{${symbol_pound}strings.isEmpty(exercice)} ? ${symbol_dollar}{${symbol_pound}calendars.format(${symbol_pound}calendars.createNow(), 'yyyy')} :  *{exercice}"
														th:disabled="!${symbol_dollar}{isComptablePanelActive}" 
													/>

													</div>
											</div>
											<div class="row">
												<div class="col-xs-6 form-group">
													<label for="article" id="lbl-excercice">Article</label><span 
														class="mandatory">&nbsp;*</span>
													 <input type="text"
														id="article" th:required="required" name="article"
														class="form-control" th:value="*{article}"
														th:disabled="!${symbol_dollar}{isComptablePanelActive}"
													/>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-6 form-group">
													<label for="numeroOrdre" id="lbl-numero-ordre">Numéro
														d'ordre</label><span class="mandatory">&nbsp;*</span> 
														<input
															id="numeroOrdre" type="text" th:required="required"
															name="numeroOrdre" class="form-control"
															th:value="*{numeroOrdre}"
															th:disabled="!${symbol_dollar}{isComptablePanelActive}"  
														/>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-6 form-group">
													<label for="fed">F.E.D</label><span class="mandatory">&nbsp;*</span>
													<input type="text" id="fed" name="fed"
														th:required="required" class="form-control"
														th:value="*{fed}"
														th:disabled="!${symbol_dollar}{isComptablePanelActive}"  
													/>
											</div>
											</div>
											
											<input type="hidden" name="pkDemande" id="pkDemande"
												th:value="${symbol_dollar}{demandeDTO.pkDemandes}" />
											<div class="row">
												<div class="col-xs-12 text-right	">
													<input class="btn btn-action ripple-effect" type="submit"
														name="suivicomptable-save-button" id="suivicomptable-save-button"
														 value="ENREGISTRER ET GENERER EN PDF"
														th:disabled="!${symbol_dollar}{isComptablePanelActive}" 
													/>
											</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>