<div class="wiki wiki-page">
<h2>Demande</h2>

<p>Afin de suivre les audience du téléservice ${TSCODE}, pourriez vous nous créer les codes du tracking piwik back et front de ce téléservice pour l&#39;environnement de DEV ?</p>

<h2>Réalisation</h2>

<ul>
	<li>${tscode} -frontserver
	<ul>
		<li>urls :&nbsp;<a href="https://front-dev.monaco-gouvernement.mc/${TSCONTEXTE}">https://front-dev.monaco-gouvernement.mc/${TSCONTEXTE}</a></li>
		<li>id : [TODO]</li>
	</ul>
	</li>
	<li>${tscode} -backserver
	<ul>
		<li>urls :&nbsp;<a href="https://${tscode}-back-dev.monaco-gouvernement.mc/${tscode}">https://${tscode}-back-dev.monaco-gouvernement.mc/${tscode}</a></li>
		<li>id : [TODO]</li>
	</ul>
	</li>
</ul>
</div>
