<h2><strong>Demande :&nbsp;</strong></h2>

<p>Création du répository Git :</p>

<ul>
	<li><code>applis/${tscode}</code></li>
</ul>

<p>et donner les habilitaions à :</p>

<ul>
	<li>Quentin Démé&nbsp; (Developer)</li>
	<li>Alimou DIALLO (Developer)</li>
	<li>Manuel Pavone (Developer)</li>
	<li>Mathieu Boutelier (Developer)</li>
	<li>Jenkins (Developer)</li>
</ul>

<h2>Réalisation</h2>

<p>Dans Settings &gt; General &gt; Visibility &gt; project&nbsp;features, permissions, désactiver&nbsp;</p>

<ul>
	<li>Issues</li>
	<li>Repositiories &gt; Pipelines&nbsp;</li>
	<li>Wiki</li>
	<li>Snippets</li>
</ul>

<p>Configuration de l&#39;intégration avec Redmine</p>
