
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	class="no-js sidebar-left-collapsed" lang="fr" dir="ltr">

<head>
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<meta th:name="_csrf" th:content="${_csrf.token}" />
<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />





<title th:text="${titre}"></title>

<!-- Import FONTS -->
<link th:href="@{/webjars/xcb-wlib/fonts/style.css}" rel="stylesheet" />
<!--[if lt IE 8]><!-->
<link rel="stylesheet" th:href="@{/webjars/xcb-wlib/fonts/ie7/ie7.css}" />

<!-- Import CSS -->
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css" />
<link th:href="@{/webjars/xcb-wlib/css/template.css}" rel="stylesheet" />
<link th:href="@{/webjars/xcb-wlib/css/sidebar.css}" rel="stylesheet" />
<link th:href="@{/webjars/xcb-wlib/css/element.css}" rel="stylesheet" />
<link th:href="@{/webjars/datatables/css/dataTables.bootstrap.css}"
	rel="stylesheet" />
<link rel="stylesheet"
	th:href="@{/webjars/fancybox/jquery.fancybox.css}" />
<link rel="shortcut icon" type="image/x-icon"
	th:href="@{/img/favicon.ico}" />
<link th:href="@{/css/tsgen.css(${applicationBuildTimestamp})}"
	rel="stylesheet" />
<link th:href="@{/css/tsdem.css(${applicationBuildTimestamp})}"
	rel="stylesheet" />


</head>

<body th:with="pageConfigurationActive='active'">

	<div th:replace="fragments/header :: header"></div>

	<div id="wrapper">

		<div th:replace="fragments/sidebar :: sidebar"></div>

		<!-- DEBUT CONTENU -->
		<div id="page-content-wrapper">

			<div class="breadcrumbContent">
				<div class="breadcrumb">
					<a id="ariane0" th:href="@{/}" class="breadcrumb-item active">Accueil</a>&nbsp;&gt;&nbsp;
					<a id="ariane1" th:href="@{/gestion/adminrecherche}"
						class="breadcrumb-item active">Administration de la recherche
						avancée</a> &gt;
				</div>
				<div class="triangleTopright"></div>
			</div>

			<div class="container-fluid">
				<div class="text-left col-md-3" style="padding-left: 0px">
					<input type="submit" value="Ajouter une catégorie"
						id="addCategoryButton" class="btn btn-action ripple-effect ">
				</div>
				<div class="text-right col-md-9">



					<a th:href="@{/ws/admin/export}" id="exportConfigButton"
						style="float: right; margin-left: 10px"
						class="btn btn-action ripple-effect pull-right"><i
						class="icon-action_telecharger"></i> <span>Exporter</span></a> <input
						type="submit" value="Valider l'import"
						style="float: right; margin-left: 10px"
						id="submitImportConfigButtonButton"
						class="btn btn-action ripple-effect pull-right" /> <input
						type="file" value="Importer" style="margin-left: 10px"
						id="importConfigButtonButton" accept=".json"
						class="btn btn-action ripple-effect pull-right" />



				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="tableContent">
							<div class="tableTitle">
								Configuration des catégories <span class="badge"
									id="categoriesSize"></span>
							</div>
							<table id="datatable-categories" class="table table-striped ">
								<thead>
									<tr>
										<th class="col-xs-9">Libellé</th>
										<th class="col-xs-3">Action</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>

				<div class="col-xs-12 text-right">
					<input type="submit" value="Enregistrer" id="saveCatButton"
						class="btn btn-action ripple-effect " disabled>
				</div>

				<div class="row">
					<div class="col-xs-12">

						<div class="tableContent">
							<div class="tableTitle">
								Configuration des champs de la recherche avancée <span
									class="badge" id="propertiesSize"></span>
							</div>
							<table id="datatable-search-properties"
								class="table table-striped ">
								<thead>
									<tr>
										<th class="col-md-3">Clé</th>
										<th class="col-md-5">Libellé</th>
										<th class="col-md-3">Catégorie</th>
										<th class="col-md-1">Actif</th>
									</tr>
								</thead>
							</table>
						</div>

						<div class="col-xs-12 text-right">
							<input type="submit" value="Enregistrer"
								id="savePropertiesButton" class="btn btn-action ripple-effect"
								disabled>
						</div>
					</div>
				</div>

				<div class="row">
					<div id="removeCategoryConfirmPanel" style="display: none">

						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-12" id="removeCatConfirmationMsg"
									style="padding: 20px">Êtes-vous sûr de vouloir supprimer
									cette catégorie ?</div>
							</div>

							<div class="row ">
								<div class=" text-right">
									<a class="annuler-preview btn btn-action ripple-effect"
										id="cancelDeleteCategoryButton">Annuler</a> <a
										class="valider-preview btn btn-action ripple-effect"
										id="deleteCategoryButton">Valider</a>
								</div>
							</div>
						</div>
					</div>
					<div id="saveCategoriesConfirmPanel" style="display: none">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-12" id="saveCategoriesConfirmationMsg"
									style="padding: 20px">Êtes-vous sûr de vouloir mettre à
									jour les catégories ?</div>
							</div>

							<div class="row ">
								<div class=" text-right">
									<a class="annuler-preview btn btn-action ripple-effect"
										id="cancelSaveCategoriesButton">Annuler</a> <a
										class="valider-preview btn btn-action ripple-effect"
										id="saveCategoriesButton">Valider</a>
								</div>
							</div>
						</div>
					</div>
					<div id="savePropertiesConfirmPanel" style="display: none">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-12" id="savePropertiesConfirmationMsg"
									style="padding: 20px">Êtes-vous sûr de vouloir mettre à
									jour les facets ?</div>
							</div>

							<div class="row ">
								<div class=" text-right">
									<a class="annuler-preview btn btn-action ripple-effect"
										id="cancelSavePropertiesButton">Annuler</a> <a
										class="valider-preview btn btn-action ripple-effect"
										id="savePropertiesConfirmButton">Valider</a>
								</div>
							</div>
						</div>
					</div>
					<div id="addCategoryPanel" style="display: none">
						<form>
							<div class="container-fluid">
								<div class="row">
									<h1>Ajouter une catégorie</h1>
								</div>
								<div class="row">
									<div class="form-group" id="addCategoryMsgDiv">
										<p id="catErrorMessage" class="bg-danger"
											style="padding: 15px; visibility: hidden; display: none;"></p>
									</div>
									<div class="form-group">
										<label for=libelleCatInput>Catégorie</label> <input
											class="form-control" id="libelleCatInput">
									</div>
								</div>
								<div class="row ">
									<div class="text-right">
										<input class="annuler-preview btn btn-action ripple-effect"
											id="cancelAddCategoryConfirmButton" value="Annuler" /> <input
											class="valider-preview btn btn-action ripple-effect"
											id="addCategoryConfirmButton" value="Valider" />
									</div>
								</div>

							</div>
						</form>
					</div>

				</div>

			</div>

			<input type="hidden" href="javascript:void(0);" data-type="success"
				data-delay="5000" data-message="" id="successMessage"
				class="notification" /> <input type="hidden"
				href="javascript:void(0);" data-type="danger" data-delay="0"
				data-message="" id="errorMessage" class="notification" />


			<!-- FIN CONTENU -->
		</div>

	</div>

	<div th:replace="fragments/footer :: footer"></div>
	<script
		th:src="@{/js/tsadminrechercheavancee.js(${applicationBuildTimestamp})}"></script>
</body>
</html>