
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	class="no-js sidebar-left-collapsed" lang="fr" dir="ltr">

<head>
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title th:text="${titre}"></title>

<!-- Import FONTS -->
<link th:href="@{/webjars/xcb-wlib/fonts/style.css}" rel="stylesheet" />
<!--[if lt IE 8]><!-->
<link rel="stylesheet" th:href="@{/webjars/xcb-wlib/fonts/ie7/ie7.css}" />

<!-- Import CSS -->
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css" />
<link th:href="@{/webjars/xcb-wlib/css/template.css}" rel="stylesheet" />
<link th:href="@{/webjars/xcb-wlib/css/sidebar.css}" rel="stylesheet" />
<link th:href="@{/webjars/xcb-wlib/css/element.css}" rel="stylesheet" />
<link th:href="@{/webjars/datatables/css/dataTables.bootstrap.css}"
	rel="stylesheet" />

<link rel="shortcut icon" type="image/x-icon"
	th:href="@{/img/favicon.ico}" />
<link th:href="@{/css/tsgen.css(${applicationBuildTimestamp})}"
	rel="stylesheet" />
<link th:href="@{/css/tsdem.css(${applicationBuildTimestamp})}"
	rel="stylesheet" />

</head>

<body th:with="pageParametresActive='active'">

	<div>

		<div th:replace="fragments/header :: header" />

		<div id="wrapper">

			<div th:replace="fragments/sidebar :: sidebar" />

			<!-- DEBUT CONTENU -->
			<div id="page-content-wrapper">

				<div class="breadcrumbContent">
					<div class="breadcrumb">
						<div th:if="${motifsFormBean.motifPkFr != null}">
							<span><a th:href="@{/index}"
								class="breadcrumb-link">Accueil</a>&nbsp;&gt;&nbsp;<a
								th:href="@{/gestion/parametres}" class="breadcrumb-link">PARAMÈTRES</a>
								&gt; Modification</span>
						</div>

						<div th:unless="${motifsFormBean.motifPkFr != null}">
							<span><a th:href="@{/index}"
								class="breadcrumb-link">Accueil</a>&nbsp;&gt;&nbsp;<a
								th:href="@{/gestion/parametres}" class="breadcrumb-link">PARAMÈTRES</a>
								&gt; Création</span>
						</div>
					</div>
					<div class="triangleTopright"></div>
				</div>
				
				<div class="container-fluid">
					<div class="row">

						<form class="form-horizontal" action="*"
							th:action="@{/gestion/parametres/newCreate}" method="POST"
							th:object="${motifsFormBean}" novalidate="novalidate">

							<div class="col-xs-12">
								<span class="titre" th:if="${motifsFormBean.motifPkFr != null}">Formulaire
									de modification du motif</span>
								<span class="titre" th:unless="${motifsFormBean.motifPkFr != null}">Formulaire
									de création du motif</span>

								<div class="panel panel-simple">
									<input th:if="${motifsFormBean.motifPkFr != null}"
										type="hidden" name="codeVisible" th:value="*{code}" /> <input
										type="hidden" name="hashCode" th:value="*{hashCode}" /> <input
										type="hidden" name="motifPkEn" th:value="*{motifPkEn}" /> <input
										type="hidden" name="motifPkFr" th:value="*{motifPkFr}" />
	
									<div class="row container-fluid">
										<div
											th:class="${#fields.hasErrors('code') || motifsFormBean.isErrGlobale} ? 'form-group error' : 'form-group'">
											<div class="col-xs-3">
												<label for="code">Code<span class="required" /> :
												</label>
											</div>
											<div th:if="${motifsFormBean.motifPkFr != null}"
												class="col-xs-9">
												<input type="text" id="code" name="code"
													th:value="${motifsFormBean.code}" disabled="disabled" class="form-control"
													required="required" th:errorclass="errorTooltip" title="TEST"
													th:attr="data-title=${#fields.hasErrors('code')} ? ${#fields.errors('code')} :''" />
											</div>
											<div th:unless="${motifsFormBean.motifPkFr != null}"
												class="col-xs-9">
												<input type="text"
													th:class="${#fields.hasErrors('code') || motifsFormBean.isErrGlobale} ? 'form-control erorr' : 'form-control'"
													id="code" name="code" required="required"
													th:value="${motifsFormBean.code}"
													th:errorclass="errorTooltip" />
											</div>
										</div>
									</div>
							
									<div class="row">
										<div class="col-xs-3">
											<label>Désactivé le :</label>
										</div>
										<div class="col-xs-9">
											<input type="text" class="form-control" id="dateArchive"
												th:value="${motifsFormBean.dateArchive}" name="dateArchive"
												disabled="disabled" />
										</div>
									</div>
									<br/>
									<div class="row container-fluid">
										<div
											th:class="${#fields.hasErrors('statut') || motifsFormBean.isErrGlobale} ? 'form-group error' : 'form-group'">
											<div class="col-xs-3">
												<label for="statut">Statut<span class="required" />
													:
												</label>
											</div>
											<div class="col-xs-9">
												<select class="form-control"
													th:if="${motifsFormBean.isMotifActif()}"
													th:field="*{statutEnum}" required="required"
													id="statutEnum" name="statutEnum"
													th:errorclass="errorTooltip" th:class="${#fields.hasErrors('statut') || motifsFormBean.isErrGlobale} ? 'form-control erorr' : 'form-control'">
													<option th:each="statut : ${statuts}"
														th:value="${statut.name}" th:text="${statut.libelle}" />
												</select>
												<select class="form-control" disabled="disabled"
													th:unless="${motifsFormBean.isMotifActif()}"
													th:field="*{statutEnum}" required="required"
													id="statutEnum" name="statutEnum">
													<option th:each="statut : ${statuts}"
														th:value="${statut.name}" th:text="${statut.libelle}"
														th:errorclass="errorTooltip" />
												</select>
											</div>
										</div>
									</div>
									
									<div class="row container-fluid">
										<div th:class="${#fields.hasErrors('libelleFr') || motifsFormBean.isErrGlobale} ? 'form-group error' : 'form-group'">
											<div class="col-xs-3">
												<label for="libelleFr">Libellé Français<span
													class="required" /> :
												</label>
											</div>
											<div th:if="${motifsFormBean.isMotifActif()}"
												class="col-xs-9">
												<input class="form-control" type="text" id="libelleFr"
													name="libelleFr" th:value="${motifsFormBean.libelleFr}"
													required="required" th:errorclass="errorTooltip"
													th:attr="data-title=${#fields.hasErrors('libelleFr')} ? ${#fields.errors('libelleFr')} :''" />
											</div>
											<div th:unless="${motifsFormBean.isMotifActif()}"
												class="col-xs-9">
												<input disabled="disabled" type="text"
													th:class="${#fields.hasErrors('libelleFr') || motifsFormBean.isErrGlobale} ? 'form-control error' : 'form-control'"
													id="libelleFr" th:value="${motifsFormBean.libelleFr}"
													name="libelleFr" required="required"
													th:errorclass="errorTooltip" />
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-xs-3">
											<label for="libelleEn">Libellé Anglais</label>
										</div>
										<div th:if="${motifsFormBean.isMotifActif()}" class="col-xs-9">
											<input class="form-control" type="text" id="libelleEn"
												name="libelleEn" th:value="${motifsFormBean.libelleEn}" />
										</div>
										<div th:unless="${motifsFormBean.isMotifActif()}"
											class="col-xs-9">
											<input disabled="disabled" type="text"
												th:class="${#fields.hasErrors('libelleEn') || motifsFormBean.isErrGlobale} ? 'form-control error' : 'form-control error'"
												id="libelleEn" th:value="${motifsFormBean.libelleEn}"
												name="libelleEn" required="required" />
										</div>
									</div>
									
									<br/>
									<div class="row text-center">
										<div th:if="${motifsFormBean.motifPkFr != null}"
											class="align-center">
											<div th:if="${motifsFormBean.isMotifActif()}"
												class="col-xs-12 text-center">
												<a class="btn btn-action-second ripple-effect"
													th:href="@{/gestion/parametres}">Annuler</a> <input
													class="btn btn-action ripple-effect" type="submit"
													value="Désactiver le motif" name="desactiveMotif" /> <input
													type="submit" action="Creer" value="Mettre à jour le motif"
													class="btn btn-action ripple-effect" />
											</div>
											<div th:unless="${motifsFormBean.isMotifActif()}"
												class="col-xs-12 text-center">
												<a class="btn btn-action-second ripple-effect"
													th:href="@{/gestion/parametres}">Annuler</a> <input
													class="btn btn-action ripple-effect" type="submit"
													value="Activer le motif" name="activeMotif" />
											</div>
										</div>

										<div th:unless="${motifsFormBean.motifPkFr != null}"
											class="row">
											<div class="col-xs-12 text-center">
												<a class="btn btn-action-second ripple-effect"
													th:href="@{/gestion/parametres}">Annuler</a> <input
													type="submit" name="action" value="Créer le motif"
													class="btn btn-action ripple-effect" />
											</div>
										</div>
									</div>

								</div>
							</div>

						</form>
					</div>
				</div>

			</div>
		</div>

	</div>

	<div class="row">
		<div th:replace="fragments/footer :: footer" /></div>

		<div class="row">
			<div th:replace="fragments/message :: message" /></div>

	<script>
		$(document).ready(function() {

			//Initialisaiton des tooltips pour les erreurs
			$(".errorTooltip").each(function() {
							
				var $this = $(this);
				var title = $this.data("title");
				//New title sans les crochets car les erreurs et un toString d'un tableau d'erreur messages
				var newTitle = title.substring(1, title.length - 1);
				$this.tooltip({
					placement : "bottom",
					title : newTitle
				});

			});
	</script>
	
</body>
</html>