<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="en"
	dir="ltr"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title th:text="${AfBackUtils.getDemarcheNom()}"></title>
<link rel="shortcut icon" th:href="@{/img/favicon.ico}" />
<!-- Import FONTS -->
<link th:href="@{/webjars/xcb-wlib/fonts/style.css}" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/webjars/xcb-wlib/fonts/ie7/ie7.css}" />

<!-- Import CSS -->
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css" />
<link th:href="@{/webjars/xcb-wlib/css/template.css}" rel="stylesheet" />
<link th:href="@{/webjars/xcb-wlib/css/sidebar.css}" rel="stylesheet" />
<link th:href="@{/webjars/xcb-wlib/css/element.css}" rel="stylesheet" />
<link th:href="@{/webjars/datatables/css/dataTables.bootstrap.css}"
	rel="stylesheet" />
<link
	th:href="@{/webjars/bootstrap-datepicker/css/bootstrap-datepicker.css}"
	rel="stylesheet" />
<link rel="stylesheet"
	th:href="@{/webjars/fancybox/jquery.fancybox.css}" />

<link rel="shortcut icon" type="image/x-icon"
	th:href="@{/img/favicon.ico}" />
<link th:href="@{/css/tsgen.css(${applicationBuildTimestamp})}"
	rel="stylesheet" />
<link th:href="@{/css/tsdem.css(${applicationBuildTimestamp})}"
	rel="stylesheet" />
</head>

<body th:with="pageCourriersActive='active'">

	<div th:replace="fragments/header :: header"></div>

	<div id="wrapper">

		<div th:replace="fragments/sidebar :: sidebar"></div>

		<!-- DEBUT CONTENU -->
		<div id="page-content-wrapper">
			<div class="breadcrumbContent">
				<ol class="breadcrumb">
					<span class="breadcrumb-item active"> <a
						th:href="@{/}" class="breadcrumb-link">ACCUEIL</a>&nbsp;&gt;&nbsp;
						<a th:href="@{/gestion/courriers}" class="breadcrumb-link">COURRIERS</a>
						&gt;
					</span>
				</ol>
				<div class="triangleTopright"></div>
			</div>

			<div class="container-fluid">

				<div class="row">
					<div class="col-xs-12">
						<h1>Gestion du courrier</h1>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="panel-group accordion" id="accordion" role="tablist"
							aria-multiselectable="true">
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingOne">
									<h4 class="panel-title">
										<a role="button" data-toggle="collapse"
											data-parent="#accordion" href="#collapseOne"
											aria-expanded="true" aria-controls="collapseOne"> <i
											class="pannelState icon-action_accordeon-ouvert"></i>
											COURRIERS EN ATTENTE D'IMPRESSION <span class="badge info"
											th:text="${#lists.size(courriersEnAttente)}"></span>
										</a>
									</h4>
								</div>
								<div id="collapseOne" class="panel-collapse collapse in"
									role="tabpanel" aria-labelledby="headingOne">
									<div class="panel-body">
										<table id="courriersEnAttente" class="table table-striped">
											<thead>
												<tr>
													<th>Date génération</th>
													<th>Demande</th>
													<th>État</th>
													<th>Actions</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="courrier : ${courriersEnAttente}">
													<td
														th:text="${#dates.format(courrier.dateCreation,'dd/MM/yyyy')}" />
													<td><a
														th:href="@{'/demandes/'+${courrier.demandeId}}"><span
															th:text="${courrier.demandeIdentifiant}" /></a></td>
													<td
														th:text="${AfBackUtils.getStatusLibelleFromName(courrier.fkStatut.libelle)}" />
													<td><a th:href="@{/ws/file/get/}+${courrier.url}">
															<span class="btn btn-action ripple-effect greyTooltip"
															data-toggle="tooltip" data-placement="bottom"
															data-original-title="Télécharger" title=""> <i
																class="icon-action_pdf"></i></span>
													</a>&nbsp;&nbsp; <a href="#"
														th:attr="data-courrierid=${courrier.pkCourrier},data-demandeid=${courrier.demandeId}"
														class="print"> <span
															class="btn btn-action ripple-effect greyTooltip"
															data-toggle="tooltip" data-placement="bottom"
															data-original-title="Valider l'impression" title="">
																<i class="icon-action_expedie_ok"></i>
														</span>
													</a></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-xs-12">
						<div class="panel-group accordion" role="tablist"
							aria-multiselectable="true">
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingTwo">
									<h4 class="panel-title">
										<a role="button" data-toggle="collapse"
											data-parent="#accordion" href="#collapseTwo"
											aria-expanded="true" aria-controls="collapseTwo"> <i
											class="pannelState icon-action_accordeon-ouvert"></i>
											COURRIERS IMPRIMÉS <span class="badge info"
											th:text="${#lists.size(courriersImprimes)}"></span>
										</a>
									</h4>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse in"
									role="tabpanel" aria-labelledby="headingTwo">
									<div class="panel panel-body">
										<table id="courriersImprimes" class="table table-striped">
											<thead>
												<tr>
													<th>Date génération</th>
													<th>Demande</th>
													<th>État</th>
													<th>Identifiant</th>
													<th>Actions</th>
												</tr>
											<tbody>
												<tr th:each="courrier : ${courriersImprimes}">
													<td
														th:text="${#dates.format(courrier.dateCreation,'dd/MM/yyyy')}" />
													<td><a
														th:href="@{'/demandes/'+${courrier.demandeId}}"><span
															title="Télécharger"
															th:text="${courrier.demandeIdentifiant}" /></a></td>
													<td
														th:text="${AfBackUtils.getStatusLibelleFromName(courrier.fkStatut.libelle)}" />
													<td th:text="${courrier.identifiant}" />
													<td><a th:href="@{/ws/file/get/}+${courrier.url}"><span
															class="btn btn-action ripple-effect greyTooltip"
															data-toggle="tooltip" data-placement="bottom"
															data-original-title="Télécharger" title=""> <i
																class="icon-action_pdf"></i></span></a></td>
												</tr>
											</tbody>
											</thead>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
		<!-- FIN CONTENU -->

	</div>

	<div th:replace="fragments/footer :: footer"></div>


	<div class="row">
		<div id="print-box" style="display: none" class="container-fluid">
			<div id="print-content">
				<form id="form-print" action="#"
					th:action="@{/gestion/courriers/print}" method="post">
					<input type="hidden" id="demandeId" name="demandeId" /> <input
						type="hidden" id="courrierId" name="courrierId" /> <span>Identifiant
						de courrier :</span><br />
					<textarea name="refCourrier" maxlength="128"></textarea>
					<div class="row-mt-5">
						<input id="print-button" type="submit" name="action"
							value="Continuer" class="btn btn-action ripple-effect"
							style="margin-top: 20px;" />
					</div>
				</form>
			</div>

		</div>
	</div>



	<script th:inline="javascript">
		/*<![CDATA[*/
		
		$(document).ready(
						function() {

							// Prevent double form submission
							$("form").submit(function (e) {
								$('form input[type=submit]').prop('disabled',true);
								return true;
							});

							$(".print").click(function(e) {
								e.preventDefault();

								var courrierId = $(this).data("courrierid");
								var demandeId = $(this).data("demandeid");

								$.fancybox.open($("#print-box"));

								$("#demandeId").val(demandeId);
								$("#courrierId").val(courrierId);

								return false;

							});

				            $('#courriersEnAttente').each(function(index,value){
				                $(this).DataTable({
				                    paging: true,
				                    searching: false,
				                    select: false,
				                    bInfo: false,
				                    lengthChange : false,
				                    columnDefs: [
                                       {"orderable": false, "targets": 3}
                                       ],
                                       language: frenchTranslation,
                                       lengthMenu: [ 5, 10, 25, 50, 100 ]
				                });
				            });

				            $('#courriersImprimes').each(function(index,value){
				                $(this).DataTable({
				                    paging: true,
				                    searching: false,
				                    select: false,
				                    bInfo: false,
				                    lengthChange : false,
				                    columnDefs: [
                                       {"orderable": false, "targets": 4}
                                       ],
                                       language: frenchTranslation,
                                       lengthMenu: [ 5, 10, 25, 50, 100 ]
				                });
				            });

						});
		/*]]>*/
	</script>

</body>
</html>