<div id="annulerDemandeConfirm" class="modal fade" tabindex="-1" role="dialog"
     th:fragment="annulerdemandeconfirm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Confirmation de l'annulation</h4>
      </div>
      <div class="modal-body">
        <form method="POST" th:action="@{/demandes/annuler}"
              id="annulerDemandeForm">
          <div class="row no-margin-row">
            <span class="titre">Motif :</span>
            <select id="codeMotifAnnuleeChoisi" name="codeMotif"
                    class="form-control form-group">
            </select>
          </div>
          <div class="row no-margin-row mt-15">
            <span for="com-annulation">Commentaire :</span>
            <textarea id="com-annulation" class="form-control" name="commentaire"></textarea>
          </div>
          <div class="row no-margin-row mt-15">
            <div class="text-right">
              <input type="hidden" name="pkDemande" th:value="${demandeDTO.pkDemandes}"/>
              <input type="submit" value="Confirmer" class="btn btn-action ripple-effect"/>
            </div>
          </div>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
