<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div id="encartinfoerreur" th:fragment="encartinfoerreur"
		th:remove="tag">

		<div id="errinfo" class="panel panel-simple encartinfoerreur">
			<div class="row mt-15" style="margin: 0">
				<div class="col-xs-11"></div>
				<div class="col-xs-1">
					<a title="Copier les informations" onclick="copyErrorInfo()">
						<i class="icon-action_dupliquer" style="font-size: 18px"></i>
					</a>
				</div>
			</div>
			<dl>
				<dt>
					<span>Téléservice</span>
				</dt>
				<dd>
					<span id="tsCode" th:text="${tsCode}"></span>
				</dd>
				<dt>
					<span>Environnement</span>
				</dt>
				<dd>
					<span id="environnement" th:if="${#strings.isEmpty(environnement)}">Production</span>
					<span id="environnement" th:if="!${#strings.isEmpty(environnement)}" th:text="${environnement}"></span>
				</dd>
				<dt>
					<span>Matricule</span>
				</dt>
				<dd>
					<span id="matricule" th:text="${matricule}"></span>
				</dd>
				<dt>
					<span>Code erreur</span>
				</dt>
				<dd>
					<span id="errCode" th:text="${errCode}"></span>
				</dd>
				<dt>
					<span>Date erreur</span>
				</dt>
				<dd>
					<span id="errDate" th:text="${errDate}"></span>
				</dd>
				<dt>
					<span>URL</span>
				</dt>
				<dd>
					<span id="url"></span>
				</dd>
				<dt>
					<span>Navigateur</span>
				</dt>
				<dd>
					<span id="browser"></span>
				</dd>
				<dt>
					<span>ID erreur</span>
				</dt>
				<dd>
					<span id="errId" th:text="${errId}"></span>
				</dd>
			</dl>
		</div>

		<div
			th:if="${errCode == 500} and ${displayStackTrace}"
			class="row mt-15">
			<h2>Stack trace (affichée uniquement hors Production) :</h2>
			<div class="col-xs-12">
				<div class="panel panel-simple encartinfoerreur">
					<div class="row mt-15" style="margin: 0">
						<div class="col-xs-11"></div>
						<div class="col-xs-1">
							<a title="Copier les informations" onclick="copyStackTrace()">
								<i class="icon-action_dupliquer" style="font-size: 18px"></i>
							</a>
						</div>
					</div>
					<span id="stacktrace" th:text="${stacktrace}"></span>
				</div>
			</div>
		</div>
</body>
</html>
