<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="footer" th:remove="tag">
		<div id="footer">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12 col-sm-4 ">
						<img th:src="@{/webjars/xcb-wlib/img/logo_gvt.svg}"
							alt="Gouvernement Princier Logo" />
					</div>
					<div class="col-xs-12 col-sm-8 footerRight">
						Tous droits réservés - <span th:text="${AfBackUtils.getDemarcheInfos().pkDemarches}"></span> <span
							th:text="${DemarchesDataProvider.getVersion()}"></span>
						- Le <span
							th:text="${#dates.format(#dates.createNow(), 'dd/MM/yyyy à HH:mm:ss')}"></span>
					</div>
				</div>
			</div>
		</div>

		<!-- Import JS -->

		<script th:src="@{/webjars/jquery/dist/jquery.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
		<script th:src="@{/webjars/bootstrap-notify/bootstrap-notify.min.js}"></script>
		<script th:src="@{/webjars/momentjs/moment.js}"></script>
		<script th:src="@{/webjars/momentjs/min/moment-with-locales.js}"></script>
		<script th:src="@{/webjars/datatables/js/jquery.dataTables.js}"></script>
		<script th:src="@{/webjars/jasny-bootstrap/dist/js/jasny-bootstrap.min.js}"></script>
		<script th:src="@{/webjars/xcb-wlib/js/datatable.french.js}"></script>
		<script th:src="@{/webjars/xcb-wlib/js/datatable.plugin.row.show.js}"></script>
		<script th:src="@{/webjars/fancybox/jquery.fancybox.js}"></script>
		<script th:src="@{/webjars/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
		<script th:src="@{/webjars/bootstrap-datepicker/locales/bootstrap-datepicker.fr.min.js}"></script>
		<script th:src="@{/webjars/Eonasdan-bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js}"></script>

		<script th:src="@{/js/vendor/jquery.autocomplete.js(${applicationBuildTimestamp})}"></script>
		<script th:src="@{/js/vendor/what-input.js(${applicationBuildTimestamp})}"></script>
		<script th:src="@{/js/vendor/xss-escape.js(${applicationBuildTimestamp})}"></script>
		<script th:src="@{/js/vendor/autosize.min.js}"></script>

		<script th:src="@{/webjars/pdf-js/build/pdf.js}"></script>

		<script th:src="@{/webjars/xcb-wlib/js/menu.js}"></script>
		<script th:src="@{/webjars/xcb-wlib/js/theme.js}"></script>
		<script th:src="@{/webjars/xcb-wlib/js/xcb.js}"></script>
		
		<script th:src="@{/js/tsgen.js(${applicationBuildTimestamp})}"></script>
		<script type="text/javascript" th:src="@{/dynamicjs/dynamicjs.js}"></script>
		<script th:src="@{/js/tsdem.js(${applicationBuildTimestamp})}"></script>
		<script th:src="@{/js/tsgenrechercheavancee.js(${applicationBuildTimestamp})}"></script>
		<div th:if="${piwikTracker != null}"
			th:utext="${piwikTracker.getPiwikJavaScriptTrackingCode()}"
			th:remove="tag"></div>




	</div>


</body>
</html>
