<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div id="message" th:fragment="message">
  <div th:each="message : ${messages}" th:remove="tag">
    <script th:inline="javascript">
      /*<![CDATA[*/

      $.notify({
        // options
        message: [[${message}]]
      }, {
        // settings
        type: 'success'
      });

      /*]]>*/
    </script>
  </div>

  <div th:each="error : ${errors}" th:remove="tag">
    <script th:inline="javascript">
      /*<![CDATA[*/

      $.notify({
        // options
        message: [[${error}]]
      }, {
        // settings
        type: 'danger'
      });

      /*]]>*/
    </script>
  </div>

  <div th:each="warning : ${warnings}" th:remove="tag">
    <script th:inline="javascript">
      /*<![CDATA[*/

      $.notify({
        // options
        message: [[${warning}]]
      }, {
        // settings
        type: 'warning'
      });

      /*]]>*/
    </script>
  </div>

</div>
</body>
</html>
