<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div id="panelfichiersjoints" th:fragment="panelfichiersjoints"
     th:remove="tag">
  <div role="tabpanel" class="tab-pane" id="tab2">
    <div th:each="cat : ${categories}">
      <h3 th:text="${cat.name}"></h3>
      <table id="datatable-fichiers"
             class="table table-striped datatablefichiers fixed-layout">
        <thead>
        <tr>
          <th class="file-name-col">Nom du fichier</th>
          <th class="date-col">Date</th>
          <th class="action-col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="file : ${cat.files}">
          <td class="file-name-col" th:text="${file.name}"/>

          <td class="date-col"
              th:text="${#dates.format(file.date, 'dd/MM/yyyy HH:mm')}"/>
          <td class="action-col"><a
              th:href="@{/ws/file/get}+${file.url}"> <span
              class="btn btn-action ripple-effect greyTooltip"
              data-toggle="tooltip" data-placement="bottom"
              data-original-title="Télécharger" title=""> <i
              class="icon-action_pdf"></i></span>
          </a></td>
        </tr>
        </tbody>
      </table>
      <br/>
    </div>
  </div>
</div>
</body>
</html>
