<div id="preview-container-second" class="modal fade" tabindex="-1" role="dialog"
     th:fragment="previewcontainersecond">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Confirmation de réponse</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div id="canvas-container-second" class="row fixed-height">
            <div id="preview-content-second"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="annuler-preview btn btn-action-second ripple-effect">Annuler
        </button>
        <button type="button" class="valider-preview btn btn-action ripple-effect">Valider
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
