<div id="preview-container-second" class="modal fade" tabindex="-1" role="dialog" th:fragment="previewcontainersecond">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-fluid">
          <div id="canvas-container-second" class="row fixed-height">
            <div class="col-xs-12" id="preview-content-second"></div>
          </div>

          <div class="row ">
            <div class="col-xs-12 text-right">
              <a href="" class="annuler-preview btn btn-action ripple-effect">Annuler</a>
              <button class="valider-preview btn btn-action ripple-effect">Valider</button>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
