#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">
    <contextName>${symbol_dollar}{MC_APPNAME}</contextName>
    <jmxConfigurator />

    <!-- address performance concern with jul-to-slf4j -->
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${symbol_dollar}{MC_LOGDIR:-/www/logs}/${symbol_dollar}{MC_APPNAME}/console.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${symbol_dollar}{MC_LOGDIR:-/www/logs}/${symbol_dollar}{MC_APPNAME}/console_%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
             <pattern>%date [%thread] [%X{JSESSIONID}] [%X{USER}] %level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="FILE" />
    </root>
</configuration>