<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      class="no-js sidebar-left-collapsed" lang="fr" dir="ltr">

<head>
  <meta charset="utf-8"/>
  <meta content="ie=edge" http-equiv="x-ua-compatible"/>
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
        name="viewport"/>
  <meta content="" name="description"/>
  <meta content="" name="author"/>
  <meta th:content="${_csrf.token}" th:name="_csrf"/>
  <meta th:content="${_csrf.headerName}" th:name="_csrf_header"/>


  <title th:text="${titre}"></title>

  <!-- Import FONTS -->
  <link rel="stylesheet" th:href="@{/css/font-style.css(${applicationBuildTimestamp})}"/>

  <!-- Import CSS -->
  <link rel="stylesheet"
        th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
  <link rel="stylesheet" th:href="@{/webjars/xcb-wlib/css/template.css}"/>
  <link rel="stylesheet" th:href="@{/webjars/xcb-wlib/css/sidebar.css}"/>
  <link rel="stylesheet" th:href="@{/webjars/xcb-wlib/css/element.css}"/>
  <link rel="stylesheet"
        th:href="@{/webjars/datatables/css/dataTables.bootstrap.min.css}"/>
  <link rel="shortcut icon" th:href="@{/img/favicon.ico}"
        type="image/x-icon"/>
  <link rel="stylesheet"
        th:href="@{/css/tsgen.css(${applicationBuildTimestamp})}"/>
  <link rel="stylesheet"
        th:href="@{/css/tsdem.css(${applicationBuildTimestamp})}"/>
  <style>
    .dataTables_wrapper .dataTables_filter {
      padding: 10px;
      border-left: 2px solid #068BAD;
      border-right: 2px solid #068BAD;
      background: #E7F4F8;
      color: #068BAD;
      filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=15);
    }

    .tableContent .table {
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    .marqueur-warning {
      font-weight: bold;
      color: red;
    }
  </style>
</head>

<body>

<div th:replace="~{fragments/header :: header}"></div>

<div id="wrapper">

  <div th:replace="~{fragments/sidebar :: sidebar}"></div>

  <!-- DEBUT CONTENU -->
  <div id="page-content-wrapper">

    <div class="breadcrumbContent">
      <div class="breadcrumb">
					<span> <a id="ariane0" th:href="@{/}"
                    class="breadcrumb-item active">ACCUEIL</a>&nbsp;&gt;&nbsp; <a
              id="ariane1" th:href="@{/gestion/marqueurs}"
              class="breadcrumb-item active">MARQUEURS</a>
						&gt;
					</span>
      </div>
      <div class="triangleTopright"></div>
    </div>


    <div class="container-fluid">
      <div class="col-xs-12">
        <h1>Administration des marqueurs</h1>
      </div>
      <div class="col-md-3">
        <select class="form-control" id="selectBuildId">
          <option th:each="config : ${configs}" th:selected="${config.buildId} == ${buildId}"
                  th:value="${config.buildId}"
                  th:text="${config.buildId}+' | '+${config.date}+' | '+${config.version}"></option>
        </select>
      </div>
      <div class="col-md-3">
        <button class="btn btn-action ripple-effect" id="boutonAjouter">
          <i class="icon-action_plus"></i><span>Ajouter un marqueur</span>
        </button>
      </div>

      <div class="col-md-6 text-right">
        <form th:action="@{/gestion/marqueurs/import}" method="post" enctype="multipart/form-data">
          <a th:href="@{/gestion/marqueurs/export}" id="exportConfigButton"
             style="float: right; margin-left: 10px"
             class="btn btn-action ripple-effect pull-right"><i
              class="icon-action_telecharger"></i> <span>Exporter</span></a>

          <input type="submit" value="Valider l'import"
                 style="float: right; margin-left: 10px"
                 id="submitImportConfigButtonButton"
                 class="btn btn-action ripple-effect pull-right" disabled/>

          <input type="file" name="file" value="Importer" style="margin-left: 10px"
                 id="importConfigButtonButton" accept=".json"
                 class="btn btn-action ripple-effect pull-right"/>
        </form>
      </div>

      <div class="col-xs-12">
        <div class="tableContent">
          <div class="tableTitle">
            Liste des marqueurs
            <span class="badge" id="marqueursTableCounter">0</span>
          </div>
          <table id="datatable-marqueurs" class="table table-striped" style="width: 100%">
            <thead>
            <tr>
              <th>ID</th>
              <th>Description</th>
              <th>Identifiant technique</th>
              <th>Type</th>
              <th>Référence dans le formulaire usager</th>
              <th>Actions</th>
            </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- FIN CONTENU -->

  <!-- OPTIONS MODAL -->
  <div id="optionsModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="titreOptions"></h4>
        </div>
        <div class="modal-body">
          <div class="row no-margin-row">
            <table class="table" id="optionsTable">
              <thead>
              <tr>
                <th>Clé</th>
                <th>Valeur</th>
                <th th:if="!${isFrenchOnly}">Valeur (EN)</th>
              </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <!-- FIN OPTIONS MODAL -->

  <!-- EDITION MODAL -->
  <div id="editionModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="saveTitle"></h4>
        </div>
        <div class="modal-body">
          <form id="editionPeriodesForm" method="POST" th:action="@{/gestion/marqueurs/edit}">
            <!-- input cachée pour insérer la pk de la properties à modifier -->
            <input id="pkMarqueur" name="pkMarqueur" type="hidden"/>
            <input name="buildId" type="hidden" th:value="${buildId}"/>
            <div class="row no-margin-row">
              <div class="col-xs-12 text-center form-group" id="formWarning"></div>
              <div class="col-xs-12 col-md-6 form-group">
                <label for="description">Description</label>
                <div class="input-group">
                  <input class="form-control" id="description" name="description" type="text"/>
                </div>
              </div>
              <div class="col-xs-12 col-md-6 form-group">
                <label for="identifiant">Identifiant technique</label>
                <div class="input-group">
                  <input class="form-control" id="identifiant" name="identifiant" type="text"/>
                </div>
              </div>
              <div class="col-xs-12 form-group">
                <label for="chemin">Référence dans le formulaire usager</label>
                <select class="form-control" id="chemin" name="chemin">
                  <option th:each="chemin : ${chemins}" th:value="${chemin}"
                          th:text="${chemin}"></option>
                </select>
              </div>
              <div class="col-xs-12 form-group error" id="formError"></div>
              <div class="col-xs-12 text-right">
                <button class="btn btn-action-second ripple-effect annulerBouton"
                        id="annulerEditBouton"
                        name="annuler" type="button"
                        value="annuler">
                  annuler
                </button>
                <!-- La valeur de l'action et le texte du bouton sont modifiées à l'ouverture de la popup -->
                <button class="btn btn-action ripple-effect" id="saveBtn" type="button">
                  SAVE_BTN
                </button>
                <!-- Input pour submit le formulaire -->
                <input id="formSubmit" name="action" style="display: none" type="submit"
                       value="save"/>
              </div>
            </div>
          </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <!-- FIN EDITION MODAL -->

  <!-- SUPRESSION MODAL -->
  <div id="supressionModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Supprimer un marqueur</h4>
        </div>
        <div class="modal-body">
          <form id="suppressionForm" method="POST" th:action="@{/gestion/marqueurs/supprimer}">
            <input id="pkMarqueurSuppr" name="pkMarqueur" type="hidden"/>
            <input name="buildId" type="hidden" th:value="${buildId}"/>
            <div class="row no-margin-row">
              <div>
                <span id="suppressionMessage">Êtes-vous sûr(e) de vouloir continuer ?</span>
              </div>
              <div class="margin-top text-right">
                <button class="btn btn-action-second ripple-effect annulerBouton"
                        id="annulerSupprBouton"
                        name="annuler" type="button"
                        value="annuler">
                  annuler
                </button>
                <button class="btn btn-action ripple-effect" id="supprBtn" type="submit">
                  supprimer
                </button>
              </div>
            </div>
          </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <!-- FIN SUPPRESSION MODAL -->

</div>

<div th:replace="~{fragments/footer :: footer}"></div>

<script th:inline="javascript">

  var columnsMarqueurs = [
    {
      data: "pkMarqueur",
      visible: false,
      render: function (data, type, marqueur) {
        return marqueur.pkMarqueur;
      }
    },
    {
      data: "description",
      render: function (data, type, marqueur) {
        return marqueur.description;
      }
    },
    {
      data: "identifiant",
      render: function (data, type, marqueur) {
        return marqueur.identifiant;
      }
    },
    {
      data: "type",
      render: function (data, type, marqueur) {
        return marqueur.type;
      }
    },
    {
      data: "chemin",
      render: function (data, type, marqueur) {
        if (marqueur.chemin != null) {
          return marqueur.chemin;
        }
        return '<span class="marqueur-warning">⚠️Le chemin n\'existe pas ou a été modifié dans cette version !⚠️</span>';
      }
    },
    {
      orderable: false,
      searchable: false,
      render: function (data, type, marqueur) {
        var optionsButton = marqueur.options != null
            ? '<button class="btn btn-action ripple-effect greyTooltip boutonOptions" style="margin-right: 8px" data-toggle="tooltip"'
            + ' data-options="' + encodeURIComponent(JSON.stringify(marqueur.options)) + '"' // encode JSON string
            + ' data-placement="bottom" data-original-title="Voir les valeurs possibles" data-identifiant="'
            + marqueur.identifiant + '"><i class="icon-action_voir"></i></button>'
            : "";
        return '<button class="btn btn-action ripple-effect greyTooltip boutonModifier" style="margin-right: 8px" data-toggle="tooltip"'
            + ' data-placement="bottom" data-original-title="Modifier le marqueur" data-pkmarqueur="'
            + marqueur.pkMarqueur + '" data-description="' + marqueur.description
            + '" data-identifiant="' + marqueur.identifiant + '" data-chemin="' + marqueur.chemin
            + '"><i class="icon-action_modifier"></i></button>' +
            '<button class="boutonSupprimer btn btn-action ripple-effect greyTooltip"' +
            'data-pkmarqueur="' + marqueur.pkMarqueur + '" ' +
            'data-toggle="tooltip" style="margin-right: 8px" data-placement="bottom" data-original-title="Supprimer le marqueur">'
            +
            '<i class="icon-action_supprimer"></i></button>' + optionsButton;
      }
    }];

  /*<![CDATA[*/
  $(document).ready(function () {
    var marqueurs = /*[[${marqueurs}]]*/'default';
    var table = $('#datatable-marqueurs');
    table.DataTable({
      paging: false,
      searching: true,
      select: false,
      bInfo: false,
      order: [ [2, 'asc']], // NE PAS supprimer l'espace entre les deux accolades de debut
      columns: columnsMarqueurs,
      data: marqueurs,
      language: frenchTranslation,
      drawCallback: function (settings) {
        $('[data-toggle="tooltip"]').tooltip();
      }
    });
    $("#marqueursTableCounter").text(marqueurs.length);

    table.on('click', 'button.boutonSupprimer', function (e) {
      e.preventDefault();
      $('#pkMarqueurSuppr').val($(this).data('pkmarqueur'));

      $('#supressionModal').modal();
      return true;
    });

    table.on('click', 'button.boutonModifier', function (e) {
      e.preventDefault();

      $('#formError').html('');
      $('#formWarning').html('');
      $('#saveTitle').html('Modifier un marqueur');
      $('#formSubmit').val('modifier');
      $('#saveBtn').html('modifier');

      $('#pkMarqueur').val($(this).data('pkmarqueur'));
      $('#description').val($(this).data('description'));
      $('#identifiant').val($(this).data('identifiant'));
      $('#chemin').val($(this).data('chemin'));

      $('#editionModal').modal();
      return true;
    });

    table.on('click', 'button.boutonOptions', function (e) {
      e.preventDefault();

      $('#titreOptions').html($(this).data('identifiant'));
      $('#optionsTable tbody').empty();

      var encodedOptions = $(this).data('options');
      if (encodedOptions) {
        try {
          var optionsString = decodeURIComponent(encodedOptions);
          var options = JSON.parse(optionsString);

          // Vérifie si le JSON contient des clés "fr" et "en"
          var isBilingual = options.hasOwnProperty('fr') && options.hasOwnProperty('en');

          if (isBilingual) {
            var optionsFr = options.fr || {};
            var optionsEn = options.en || {};

            for (var key in optionsFr) {
              if (optionsFr.hasOwnProperty(key)) {
                var valFr = optionsFr[key];
                var valEn = optionsEn[key] || '';
                $('#optionsTable tbody').append(
                    '<tr><td>' + key + '</td><td>' + valFr + '</td><td>' + valEn + '</td></tr>'
                );
              }
            }
          } else {
            // Sinon, format simple (FR uniquement)
            for (var key in options) {
              if (options.hasOwnProperty(key)) {
                var value = options[key];
                $('#optionsTable tbody').append(
                    '<tr><td>' + key + '</td><td>' + value + '</td><td></td></tr>'
                );
              }
            }
          }
        } catch (e) {
          console.error('Failed to parse options JSON', e);
          $('#optionsTable tbody').append('<tr><td colspan="3">Erreur de parsing du JSON</td></tr>');
        }
      } else {
        $('#optionsTable tbody').append('<tr><td colspan="3">Aucune option disponible</td></tr>');
      }

      $('#optionsModal').modal();
      return true;
    });

    var messagesSuccessList = /*[[${successMessages}]]*/'default';
    if (messagesSuccessList !== 'undefined' && messagesSuccessList !== null) {
      $.each(messagesSuccessList, function (key, msg) {
        $.notify({
          message: msg
        }, {
          type: 'success'
        });
      });
    }

    var messagesErrorList = /*[[${errorMessages}]]*/'default';
    if (messagesErrorList !== 'undefined' && messagesErrorList !== null) {
      $.each(messagesErrorList, function (key, msg) {
        $.notify({
          message: msg
        }, {
          type: 'danger'
        });
      });
    }

    $("#boutonAjouter").click(function (e) {
      e.preventDefault();
      isCreate = true;

      $('#formError').html('');
      $('#formWarning').html('');
      $('#saveTitle').html('Ajout d\'un marqueur');
      $('#formSubmit').val('ajouter');
      $('#saveBtn').html('ajouter');

      $('#description').val('');
      $('#identifiant').val('');
      $('#chemin').val('');

      $('#editionModal').modal();

      return true;
    });

    $('#saveBtn').click(function (e) {
      var identifiant = $('#identifiant').val();
      var chemin = $('#chemin').val();

      if (identifiant === '' || chemin === '') {
        $('#formError').html('Veuillez renseigner les champs.');
      } else {
        $('#formError').html('');
        $('#formSubmit').click();
        $('#saveBtn').prop('disabled', true);
        return true;
      }

      e.preventDefault();
      return false;
    });

    $('.annulerBouton').click(function (e) {
      e.preventDefault();
      $('.modal').modal('hide');
      return true;
    });

    $('#selectBuildId').change(function () {
      var value = $(this).val();
      window.location.href = APP.getContextPath() + '/gestion/marqueurs/' + value;
    });

    $('#importConfigButtonButton').change(function () {
      const fileInput = document.getElementById('importConfigButtonButton');

      if (fileInput.files.length > 0) {
        $('#submitImportConfigButtonButton').prop('disabled', false);// Active le bouton si un fichier est sélectionné
      } else {
        $('#submitImportConfigButtonButton').prop('disabled', true); // Désactive le bouton si aucun fichier n'est sélectionné
      }
    });


  });
  /*]]>*/
</script>
</body>
</html>
