<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      class="no-js sidebar-left-collapsed" lang="fr" dir="ltr">

<head>

  <meta charset="utf-8"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta th:name="_csrf" th:content="${_csrf.token}"/>
  <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
  <title th:text="${AfBackUtils.getDemarcheNom()}"></title>

  <!-- Import FONTS -->
  <link rel="stylesheet" th:href="@{/css/font-style.css(${applicationBuildTimestamp})}"/>

  <!-- Import CSS -->
  <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
        rel="stylesheet" type="text/css"/>
  <link th:href="@{/webjars/xcb-wlib/css/template.css}" rel="stylesheet"/>
  <link th:href="@{/webjars/xcb-wlib/css/sidebar.css}" rel="stylesheet"/>
  <link th:href="@{/webjars/xcb-wlib/css/element.css}" rel="stylesheet"/>
  <link th:href="@{/webjars/datatables/css/dataTables.bootstrap.min.css}"
        rel="stylesheet"/>
  <link
      th:href="@{/webjars/bootstrap-datepicker/css/bootstrap-datepicker.min.css}"
      rel="stylesheet"/>

  <link rel="shortcut icon" type="image/x-icon"
        th:href="@{/img/favicon.ico}"/>
  <link th:href="@{/css/tsgen.css(${applicationBuildTimestamp})}"
        rel="stylesheet"/>
  <link th:href="@{/css/tsdem.css(${applicationBuildTimestamp})}"
        rel="stylesheet"/>
  <link
      th:href="@{/webjars/bootstrap-datepicker/css/bootstrap-datepicker.min.css}"
      rel="stylesheet"/>

</head>

<body th:with="pageConfigurationActive='active'">

<div th:replace="~{fragments/header :: header}"></div>

<div id="wrapper">

  <div th:replace="~{fragments/sidebar :: sidebar}"></div>

  <!-- DEBUT CONTENU -->
  <div id="page-content-wrapper">

    <div class="breadcrumbContent">
      <div class="breadcrumb">
        <a id="ariane0" th:href="@{/}" class="breadcrumb-item">ACCUEIL</a>&nbsp;&gt;&nbsp;
        <a id="ariane1" th:href="@{/gestion/parametrage}"
           class="breadcrumb-item">PARAMÉTRAGE DE LA DÉMARCHE</a> &gt;
      </div>
      <div class="triangleTopright"></div>
    </div>

    <div class="container-fluid">

      <div class="container-fluid">
        <h1>Propriétés principales</h1>
      </div>
      <div class="container-fluid">
        <div class="col-md-12 text-right">
          <form th:action="@{/gestion/parametrage/import}" method="post"
                enctype="multipart/form-data">
            <a th:href="@{/gestion/parametrage/export}" id="exportConfigButton"
               style="float: right; margin-left: 10px"
               class="btn btn-action ripple-effect pull-right"><i
                class="icon-action_telecharger"></i> <span>Exporter</span></a>

            <input type="submit" value="Valider l'import"
                   style="float: right; margin-left: 10px"
                   id="submitImportConfigButtonButton"
                   class="btn btn-action ripple-effect pull-right" disabled/>

            <input type="file" name="file" value="Importer" style="margin-left: 10px"
                   id="importConfigButtonButton" accept=".json"
                   class="btn btn-action ripple-effect pull-right"/>
          </form>
        </div>
      </div>

      <form id="form-parametrage" style="display: inline;"
            th:action="@{/gestion/parametrage/sauvegarder}" method="post"
            th:object="${parametrageFormBean}">
        <div class="panel panel-simple">
          <div class="row container-fluid">
            <div class="col-xs-2">
              <label>TITRE</label>
            </div>
            <div class="col-xs-2">
              <label>VARIABLE</label>
            </div>
            <div class="col-xs-8">
              <label>VALEUR</label>
            </div>
          </div>
          <div class="row container-fluid mt-15">
            <div th:class="form-group">
              <div class="col-xs-2">
                <label style="font-weight: normal" for="nomDemarche">Titre de la démarche (FR)
                  <span class="required mandatory"></span> :</label>
              </div>
              <div class="col-xs-2">
                <label style="font-weight: normal">${nomTs}</label>
              </div>
              <div class="col-xs-8">
                <input type="text" id="nomDemarche" name="nomDemarche" th:field="*{nomDemarche}"
                       class="form-control" required maxlength="256"/>
              </div>
            </div>
          </div>
          <div class="row container-fluid mt-15">
            <div th:class="form-group">
              <div class="col-xs-2">
                <label style="font-weight: normal" for="nomDemarcheEn">Titre de la démarche (EN)
                  :</label>
              </div>
              <div class="col-xs-2">
                <label style="font-weight: normal">${nomTsEn}</label>
              </div>
              <div class="col-xs-8">
                <input type="text" id="nomDemarcheEn" name="nomDemarcheEn"
                       th:field="*{nomDemarcheEn}"
                       class="form-control" maxlength="256"/>
              </div>
            </div>
          </div>
          <div class="row container-fluid mt-15">
            <div th:class="form-group">
              <div class="col-xs-2">
                <label style="font-weight: normal" for="emailService">Adresse e-mail du service
                  <span
                      class="required mandatory"></span> :</label>
              </div>
              <div class="col-xs-2">
                <label style="font-weight: normal">${emailService}</label>
              </div>
              <div class="col-xs-8">
                <input type="text" id="emailService" name="emailService" th:field="*{emailService}"
                       class="form-control" required maxlength="256"/>
              </div>
            </div>
          </div>
          <div class="row container-fluid mt-15">
            <div th:class="form-group">
              <div class="col-xs-2">
                <label style="font-weight: normal" for="emailReplyto">Adresse e-mail reply-to du
                  service <span
                      class="required mandatory"></span> :</label>
              </div>
              <div class="col-xs-2">
                <label style="font-weight: normal">${emailReplyto}</label>
              </div>
              <div class="col-xs-8">
                <input type="text" id="emailReplyto" name="emailReplyto" th:field="*{emailReplyto}"
                       class="form-control" required maxlength="256"/>
              </div>
            </div>
          </div>
          <div class="row container-fluid mt-15">
            <div th:class="form-group">
              <div class="col-xs-2">
                <label style="font-weight: normal" for="emailReplytoNom">Nom associé à l'adresse
                  e-mail reply-to du service <span
                      class="required mandatory"></span> :</label>
              </div>
              <div class="col-xs-2">
                <label style="font-weight: normal">${emailReplytoNom}</label>
              </div>
              <div class="col-xs-8">
                <input type="text" id="emailReplytoNom" name="emailReplytoNom"
                       th:field="*{emailReplytoNom}" class="form-control" required maxlength="256"/>
              </div>
            </div>
          </div>
          <div class="row container-fluid mt-15">
            <div th:class="form-group">
              <div class="col-xs-2">
                <label style="font-weight: normal" for="emailFrom">Adresse e-mail "from" du service
                  <span
                      class="required mandatory"></span> :</label>
              </div>
              <div class="col-xs-2">
                <label style="font-weight: normal">${emailFrom}</label>
              </div>
              <div class="col-xs-8">
                <input type="text" id="emailFrom" name="emailFrom" th:field="*{emailFrom}"
                       class="form-control" required maxlength="256"/>
              </div>
            </div>
          </div>
          <div class="row container-fluid mt-15">
            <div th:class="form-group">
              <div class="col-xs-2">
                <label style="font-weight: normal" for="emailFromNom">Nom associé à l'adresse e-mail
                  "from" du service <span
                      class="required mandatory"></span> :</label>
              </div>
              <div class="col-xs-2">
                <label style="font-weight: normal">${emailFromNom}</label>
              </div>
              <div class="col-xs-8">
                <input type="text" id="emailFromNom" name="emailFromNom" th:field="*{emailFromNom}"
                       class="form-control" required maxlength="256"/>
              </div>
            </div>
          </div>
          <div class="row container-fluid mt-15">
            <div th:class="form-group">
              <div class="col-xs-2">
                <label style="font-weight: normal" for="identifiantPrefixe">Préfixe des identifiants
                  des demandes <span
                      class="required mandatory"></span> :</label>
              </div>
              <div class="col-xs-2">
                <label style="font-weight: normal">${identifiantPrefixe}</label>
              </div>
              <!-- on limite à 7, car le code des TS ne doivent pas dépasser ce nombre -->
              <div class="col-xs-8">
                <input type="text" id="identifiantPrefixe" name="identifiantPrefixe"
                       th:field="*{identifiantPrefixe}" class="form-control" required minlength="3"
                       maxlength="7"/>
              </div>
            </div>
          </div>
          <div class="row container-fluid mt-15">
            <div th:class="form-group">
              <div class="col-xs-2">
                <label style="font-weight: normal" for="nomDirection">Nom direction (FR) <span
                    class="required mandatory"></span> :</label>
              </div>
              <div class="col-xs-2">
                <label style="font-weight: normal">${nomDirection}</label>
              </div>
              <div class="col-xs-8">
                <input type="text" id="nomDirection" name="nomDirection" th:field="*{nomDirection}"
                       class="form-control" required maxlength="256"/>
              </div>
            </div>
          </div>
          <div class="row container-fluid mt-15">
            <div th:class="form-group">
              <div class="col-xs-2">
                <label style="font-weight: normal" for="nomDirectionEn">Nom direction (EN) :</label>
              </div>
              <div class="col-xs-2">
                <label style="font-weight: normal">${nomDirectionEn}</label>
              </div>
              <div class="col-xs-8">
                <input type="text" id="nomDirectionEn" name="nomDirectionEn"
                       th:field="*{nomDirectionEn}"
                       class="form-control" maxlength="256"/>
              </div>
            </div>
          </div>
          <div class="row container-fluid mt-15">
            <div th:class="form-group">
              <div class="col-xs-2">
                <label style="font-weight: normal" for="nomSousDirection">Nom sous direction (FR)
                  :</label>
              </div>
              <div class="col-xs-2">
                <label style="font-weight: normal">${nomSousDirection}</label>
              </div>
              <div class="col-xs-8">
                <input type="text" id="nomSousDirection" name="nomSousDirection"
                       th:field="*{nomSousDirection}" class="form-control" maxlength="256"/>
              </div>
            </div>
          </div>
          <div class="row container-fluid mt-15">
            <div th:class="form-group">
              <div class="col-xs-2">
                <label style="font-weight: normal" for="nomSousDirectionEn">Nom sous direction (EN)
                  :</label>
              </div>
              <div class="col-xs-2">
                <label style="font-weight: normal">${nomSousDirectionEn}</label>
              </div>
              <div class="col-xs-8">
                <input type="text" id="nomSousDirectionEn" name="nomSousDirectionEn"
                       th:field="*{nomSousDirectionEn}" class="form-control" maxlength="256"/>
              </div>
            </div>
          </div>
          <div class="row container-fluid mt-15">
            <div th:class="form-group">
              <div class="col-xs-2">
                <label style="font-weight: normal" for="nomSousDirectionComplement">Nom sous
                  direction complément (FR) :</label>
              </div>
              <div class="col-xs-2">
                <label style="font-weight: normal">${nomSousDirectionComplement}</label>
              </div>
              <div class="col-xs-8">
                <input type="text" id="nomSousDirectionComplement" name="nomSousDirectionComplement"
                       th:field="*{nomSousDirectionComplement}" class="form-control"
                       maxlength="256"/>
              </div>
            </div>
          </div>
          <div class="row container-fluid mt-15">
            <div th:class="form-group">
              <div class="col-xs-2">
                <label style="font-weight: normal" for="nomSousDirectionComplementEn">Nom sous
                  direction complément (EN) :</label>
              </div>
              <div class="col-xs-2">
                <label style="font-weight: normal">${nomSousDirectionComplementEn}</label>
              </div>
              <div class="col-xs-8">
                <input type="text" id="nomSousDirectionComplementEn"
                       name="nomSousDirectionComplementEn"
                       th:field="*{nomSousDirectionComplementEn}" class="form-control"
                       maxlength="256"/>
              </div>
            </div>
          </div>

          <div class="row container-fluid mt-15">
            <div th:class="form-group">
              <div class="col-xs-2">
                <label style="font-weight: normal" for="nomFooter">Nom footer <span
                    class="required mandatory"></span> :</label>
              </div>
              <div class="col-xs-2">
                <label style="font-weight: normal">${nomFooter}</label>
              </div>
              <div class="col-xs-8">
                <input type="text" id="nomFooter" name="nomFooter" th:field="*{nomFooter}"
                       class="form-control" required maxlength="256"/>
              </div>
            </div>
          </div>
          <div class="row container-fluid mt-15">
            <div th:class="form-group">
              <div class="col-xs-2">
                <label style="font-weight: normal" for="adresseService">Adresse service <span
                    class="required mandatory"></span> :</label>
              </div>
              <div class="col-xs-2">
                <label style="font-weight: normal">${adresseService}</label>
              </div>
              <div class="col-xs-8">
                <input type="text" id="adresseService" name="adresseService"
                       th:field="*{adresseService}" class="form-control" required maxlength="256"/>
              </div>
            </div>
          </div>
          <div class="row container-fluid mt-15">
            <div th:class="form-group">
              <div class="col-xs-2">
                <label style="font-weight: normal" for="telephoneService">Téléphone service
                  :</label>
              </div>
              <div class="col-xs-2">
                <label style="font-weight: normal">${telephoneService}</label>
              </div>
              <div class="col-xs-8">
                <input type="text" id="telephoneService" name="telephoneService"
                       th:field="*{telephoneService}" class="form-control" required
                       maxlength="256"/>
              </div>
            </div>
          </div>
        </div>

        <div class="row container-fluid">
          <div th:class="form-group">
            <div class="col-xs-2">
              <label>Version <span th:text="${displayName}"/></label>
            </div>
            <div class="col-xs-8">
              <span th:text="${tsVersion}"/>
            </div>
          </div>
        </div>
        <div class="row container-fluid">
          <div th:class="form-group">
            <div class="col-xs-2">
              <label>Version XAF</label>
            </div>
            <div class="col-xs-8">
              <span th:text="${xafVersion}"/>
            </div>
          </div>
        </div>
        <div class="row container-fluid">
          <div class="col-xs-12">
            <div class="text-center">
              <input id="sauvegarder-button" type="submit" name="action"
                     value="Sauvegarder" class="btn btn-action ripple-effect"/>
            </div>
          </div>
        </div>
      </form>
      <div class="container-fluid">
        <small>Les champs obligatoires sont suivis par <span
            class="required mandatory"></span></small>
      </div>
    </div>
  </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>

<script type="text/javascript" th:inline="javascript">
  $(document).ready(function () {


    var messagesSuccessList = /*[[${successMessages}]]*/'default';

    if (messagesSuccessList !== 'undefined' && messagesSuccessList !== null) {
      $.each(messagesSuccessList, function (key, msg) {
        $.notify({
          message: msg
        }, {
          type: 'success'
        });
      });
    }

    var messagesErrorList = /*[[${errorMessages}]]*/'default';

    if (messagesErrorList !== 'undefined' && messagesErrorList !== null) {
      $.each(messagesErrorList, function (key, msg) {
        $.notify({
          message: msg
        }, {
          type: 'danger'
        });
      });
    }

    var messagesWarningList = /*[[${warningMessages}]]*/'default';

    if (messagesWarningList !== 'undefined' && messagesWarningList !== null) {
      $.each(messagesWarningList, function (key, msg) {
        $.notify({
          message: msg
        }, {
          type: 'warning'
        });
      });
    }

    $('#importConfigButtonButton').change(function () {
      const fileInput = document.getElementById('importConfigButtonButton');

      if (fileInput.files.length > 0) {
        $('#submitImportConfigButtonButton').prop('disabled', false);// Active le bouton si un fichier est sélectionné
      } else {
        $('#submitImportConfigButtonButton').prop('disabled', true); // Désactive le bouton si aucun fichier n'est sélectionné
      }
    });


  });
</script>
</html>








