<!doctype html>
<html class="no-js" dir="ltr" lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8"/>
    <meta content="ie=edge" http-equiv="x-ua-compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title th:text="${AfBackUtils.getDemarcheNom()}"></title>
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}"/>
    <!-- Import FONTS -->
    <link rel="stylesheet" th:href="@{/css/font-style.css(${applicationBuildTimestamp})}"/>

    <!-- Import CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/webjars/xcb-wlib/css/template.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/xcb-wlib/css/sidebar.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/xcb-wlib/css/element.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/datatables/css/dataTables.bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/css/bootstrap-datepicker.min.css}"/>

    <link rel="shortcut icon" th:href="@{/img/favicon.ico}"
          type="image/x-icon"/>
    <link rel="stylesheet"
          th:href="@{/css/tsgen.css(${applicationBuildTimestamp})}"/>
    <link rel="stylesheet"
          th:href="@{/css/tsdem.css(${applicationBuildTimestamp})}"/>
</head>

<body th:with="pageCourriersActive='active'">

<div th:replace="~{fragments/header :: header}"></div>

<div id="wrapper">

    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <!-- DEBUT CONTENU -->
    <div id="page-content-wrapper">
        <div class="breadcrumbContent">
            <div class="breadcrumb">
					<span class="breadcrumb-item active">
                        <a class="breadcrumb-link" id="ariane0" th:href="@{/}">ACCUEIL</a>&nbsp;&gt;&nbsp;
						<a class="breadcrumb-link" id="ariane1" th:href="@{/gestion/courriers}">IMPRESSIONS</a>&nbsp;&gt;&nbsp;
					</span>
            </div>
            <div class="triangleTopright"></div>
        </div>

        <div class="container-fluid">

            <div class="row">
                <div class="col-xs-12">
                    <h1>Impression des courriers</h1>
                </div>
            </div>

            <div class="container-fluid"
                 th:unless="${AfBackUtils.getDemarcheCanGenerateCourriers()}">
                <div class="row">
                    <div class="col-xs-12">
                        Il n'y a pas de courriers pour cette démarche.
                    </div>
                </div>
            </div>

            <div th:if="${AfBackUtils.getDemarcheCanGenerateCourriers()}">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="rechercheForm">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="panel panel-simple">
                                        <h4 class="titre">Recherche</h4>
                                        <div class="form-group">
                                            <label for="txtRechercheCourriers">Saisissez un terme</label>
                                            <div class="row">
                                                <div class="col-xs-8">
                                                    <input class="form-control" id="txtRechercheCourriers" name="texte"
                                                           th:value="${texte}" title=""
                                                           type="text"/>
                                                </div>
                                                <div class="col-xs-4 nopadding">
													<span class="btn btn-action ripple-effect"
                                                          id="btnRechercherCourriers"> <i
                                                            class="icon-action_chercher"></i>
													</span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel-group" id="accordion" role="tablist"
                             aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" id="headingOne" role="tab">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" href="#grilleCourriersEnAttente"
                                           aria-expanded="true" aria-controls="grilleCourriersEnAttente"> <i
                                                class="pannelState icon-action_accordeon-ouvert"></i>
                                            COURRIERS EN ATTENTE D'IMPRESSION <span class="badge info numberEnAttente"
                                                                                    id="numberEnAttente"></span>
                                        </a>
                                    </h4>
                                </div>
                                <div aria-labelledby="headingOne" class="panel-collapse collapse in"
                                     id="grilleCourriersEnAttente" role="tabpanel">
                                    <div class="panel-body">
                                        <table class="table table-striped" id="courriersEnAttente">
                                            <thead>
                                            <tr>
                                                <th>IDENTIFIANT</th>
                                                <th>DATE GÉNÉRATION</th>
                                                <th>TYPE</th>
                                                <th>IDENTIFIANT DEMANDE</th>
                                                <th>ACTIONS</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel-group" role="tablist"
                             aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" id="headingTwo" role="tab">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" href="#grilleCourriersImprimes"
                                           aria-expanded="true" aria-controls="grilleCourriersImprimes"> <i
                                                class="pannelState icon-action_accordeon-ouvert"></i>
                                            COURRIERS IMPRIMÉS <span class="badge info"
                                                                     id="numberImprimes"></span>
                                        </a>
                                    </h4>
                                </div>
                                <div aria-labelledby="headingTwo" class="panel-collapse collapse in"
                                     id="grilleCourriersImprimes" role="tabpanel">
                                    <div class="panel panel-body">
                                        <table class="table table-striped" id="courriersImprimes">
                                            <thead>
                                            <tr>
                                                <th>IDENTIFIANT</th>
                                                <th>DATE GÉNÉRATION</th>
                                                <th>TYPE</th>
                                                <th>IDENTIFIANT DEMANDE</th>
                                                <th>RÉFÉRENCE INTERNE</th>
                                                <th>ACTIONS</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- FIN CONTENU -->

</div>

<div th:replace="~{fragments/footer :: footer}"></div>


<div class="row">
    <div id="print-box" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="print-content">
                        <h2>Valider l'impression</h2>
                        <form action="#" id="form-print"
                              method="post" th:action="@{/gestion/courriers/print}">
                            <input id="demandeId" name="demandeId" type="hidden"/>
                            <input id="courrierId" name="courrierId" type="hidden"/>
                            <span>Identifiant de courrier :</span><br/>
                            <textarea id="txtIdentifiantCourrier" maxlength="128" name="refCourrier"></textarea>
                            <div class="row-mt-5">
                                <a class="annuler-imppr btn btn-action ripple-effect" href="">Annuler</a>
                                <input class="btn btn-action ripple-effect" id="btnValiderIdentifiantCourrier" name="action"
                                       type="submit" value="Valider"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>


<script th:inline="javascript">
    /*<![CDATA[*/

    $(document).ready(function () {

        var columnsTableAttente = [
            {
                "data": "name",
                render: function (data, type, element) {
                    return element.name;
                }
            },
            {
                "data": "dateCreation",
                render: function (data, type, element) {
                    // On ne format pas en STRING la demande si l'accès à la donnée se fait pendant un SORT ou un TYPE
                    if (type === "sort" || type === "type") {
                        return data;
                    }
                    return moment(element.dateCreation).format("DD/MM/YYYY");
                }
            },
            {
                "data": "fkStatut.libelle",
                render: function (data, type, element) {
                    return data;
                }
            },
            {
                "data": "demandeIdentifiant",
                "orderable": false,
                render: function (data, type, element) {
                    return "<a href='" + APP.getContextPath() + "/demandes/" + element.demandeId + "'><span class='identifiant-demande'>" + data + "</span></a>";
                }
            },
            {
                "orderable": false,
                render: function (data, type, element, meta) {
                    return '<a id="btnTelechargerCourrier' + meta.row + '" href="' + APP.getContextPath() + '/ws/file/get/' + element.url + '" >' +
                        '<span class="btn btn-action ripple-effect greyTooltip" data-html="true" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Télécharger"> ' +
                        '<i class="icon-action_pdf"></i></span></a>' +

                        '<a id="btnValiderImpression' + meta.row + '" href="#" data-courrierid="' + element.pkCourrier + '" data-demandeid="' + element.demandeId + '" class="print"> ' +
                        '<span class="btn btn-action ripple-effect greyTooltip" data-html="true" data-toggle="tooltip" data-placement="bottom" data-original-title="Valider l\'impression" title="">' +
                        '<i class="icon-action_expedie_ok"></i></span></a>';
                }
            }
        ];
        var columnsTableImprimes = [
            {
                "data": "name",
                render: function (data, type, element) {
                    return element.name;
                }
            },
            {
                "data": "dateCreation",
                render: function (data, type, element) {
                    // On ne format pas en STRING la demande si l'accès à la donnée se fait pendant un SORT ou un TYPE
                    if (type === "sort" || type === "type") {
                        return data;
                    }
                    return moment(element.dateCreation).format("DD/MM/YYYY");
                }
            },
            {
                "data": "fkStatut.libelle",
                render: function (data, type, element) {
                    return data;
                }
            },
            {
                "data": "demandeIdentifiant",
                "orderable": false,
                render: function (data, type, element) {
                    return "<a href='" + APP.getContextPath() + "/demandes/" + element.demandeId + "'><span class='identifiant-demande'>" + data + "</span></a>";
                }
            },
            {
                "data": "identifiantFichier",
                "orderable": false,
                render: function (data, type, element) {
                    return element.identifiant;
                }
            },
            {
                "orderable": false,
                render: function (data, type, element, meta) {
                    return '<a id="btnTelechargerCourrier' + meta.row + '" href="' + APP.getContextPath() + '/ws/file/get/' + element.url + '" >' +
                        '<span class="btn btn-action ripple-effect greyTooltip" data-html="true" data-toggle="tooltip" data-placement="bottom" data-original-title="Télécharger" title=""> ' +
                        '<i class="icon-action_pdf"></i></span></a>';
                }
            }
        ];
        var buildSearchDatafunction = function (params, imprime) {

            params.texte = $("#txtRechercheCourriers").val();

            //Suppression de toutes les valeurs renvoyées par datatable
            params.columns = null;
            params.search = null;

            //conversion des params pour Pageable Spring MVC
            params.size = params.length;
            params.page = params.start / params.length;

            params.imprime = imprime;

            var keyword = '';
            var col = (imprime) ? columnsTableImprimes[params.order[0].column] : columnsTableAttente[params.order[0].column];
            if (col.keyword) {
                keyword = '.keyword'
            }
            //sort=identifiant,desc
            params.sort = columnsTableAttente[params.order[0].column].data + keyword + "," + params.order[0].dir;
            if (imprime) {
                params.sort = columnsTableImprimes[params.order[0].column].data + keyword + "," + params.order[0].dir;
            }
            console.log("params", params);
        };

        // Prevent double form submission
        $("form").submit(function (e) {
            $('form input[type=submit]').prop('disabled', true);
            return true;
        });

        var rebindClicks = function () {
            $(".print").click(function (e) {
                e.preventDefault();

                var courrierId = $(this).data("courrierid");
                var demandeId = $(this).data("demandeid");

                $('#print-box').modal();

                $("#demandeId").val(demandeId);
                $("#courrierId").val(courrierId);

                return false;
            });
        };

        $(".annuler-imppr").click(function (e) {
            e.preventDefault();
            $('.modal').modal('hide');
            return false;
        });

        $('#btnRechercherCourriers').click(function (e) {
            e.preventDefault();
            filterTable($("#txtRechercheCourriers").val());
        });

        var buildSearchDatafunctionEnAttente = function (params) {
            buildSearchDatafunction(params, false);
        };

        var buildSearchDatafunctionImprimes = function (params) {
            buildSearchDatafunction(params, true);
        };

        // Courriers en attente
        var configurationDataTableCourrierAttente = APP.getConfigurationDataTableCourriers(columnsTableAttente, false);
        configurationDataTableCourrierAttente.ajax.data = buildSearchDatafunctionEnAttente;
        $('#courriersEnAttente').DataTable(configurationDataTableCourrierAttente);

        // Courriers a imprimer
        var configurationDataTableCourrierImprimes = APP.getConfigurationDataTableCourriers(columnsTableImprimes, true);
        configurationDataTableCourrierImprimes.ajax.data = buildSearchDatafunctionImprimes;
        $('#courriersImprimes').DataTable(configurationDataTableCourrierImprimes);

        $('#courriersEnAttente').on('draw.dt', function () {
            rebindClicks();
        });

        $('.dataTables_filter').hide();

        $("#txtRechercheCourriers").on('keypress', function (e) {
            if (e.which == 13) {
                e.preventDefault();
                filterTable($("#txtRechercheCourriers").val());
            }
        });

        var filterTable = function (text) {
            // check if user entered a date with format dd/mm/yyyy and convert it to elastic search mapped format
            var regexDate = /^(0?[1-9]|[12][0-9]|3[01])\/(0?[1-9]|1[012])\/\d{4}$/;
            if (text.match(regexDate)) {
                var dateFormatted = moment(text, 'DD/MM/YYYY').format('YYYY-MM-DD');
                if (dateFormatted && dateFormatted !== 'Invalid date') {
                    text = dateFormatted;
                }
            }

            $('#courriersEnAttente').DataTable().ajax.reload(null, true);
            $('#courriersImprimes').DataTable().ajax.reload(null, true);
        }
    });

    /*]]>*/
</script>

</body>
</html>
