<h2>Demande</h2>

<p>Ticket dédié au tracking du déploiement du script SQL pour la conf. d&#39;intégration &quot;page Contact&quot; pour le TS ${TSCODE}</p>

<h2>Réalisation</h2>

<p>Commiter le script SQL : login/login-db/expl/#xxxxx/LOGIN_01_GEN_D_#xxxxx-AjoutConfTs${TSCODE}.sql, contenant les requêtes &quot;insert into&nbsp;GEN.LOGIN_TS_TEXTES ...&quot;</p>

<h3>Déploiement</h3>

<ul>
	<li>@dev : exécuté le [Date de réalisation DEV, format dd/MM/yyyy hh:mm:ss]</li>
	<li>@rec : exécuté le [Date de réalisation REC, format dd/MM/yyyy hh:mm:ss]</li>
	<li>@prod: Ticket #[ID Ticket de PROD]">#18178 exécuté le [Date de réalisation PROD, format dd/MM/yyyy hh:mm:ss]</li>
</ul>


