<p>Prendre le code HTML de ce qui suit en cliquant sur &quot;Source&quot; dans l&#39;éditeur Redmine, puis utiliser&nbsp;mc.gouv.af.back.util.MIGenerator.java du projet af-back (disponible sur SVN) afin de transformer MIGenerique.html en MICustom.html dont le HTML est prêt à être copié dans le ticket Redmine de mise en recuction.</p>

<p>Variables:</p>

<ul>
	<li>${TSNomComplet} : Nom du Téléservice (ex:&nbsp;Demander une aide à l&#39;achat d&#39;un véhicule écologique)</li>
	<li>${TSCODE} : Code du TS (ex. SUBVECO)</li>
	<li>${tscode}: Code du TS en minuscule (ex: subveco)</li>
	<li>${TSPortFront} : Le port du front office (ex: 20790)</li>
	<li>${TSCONTEXTE} : Contexte du front (ex:&nbsp;subvention-vehicule-ecologique)</li>
	<li>${TSAPPLZABBIX} : Adresse IP de la carte REC du serveur -appl1-3</li>
	<li>${TSFRNTZABBIX} :&nbsp;Adresse IP de la carte REC du serveur -frnt1-3</li>
	<li>${NomResponsable} : Nom du responsable dans l&#39;équipe TS (ex: Alimou Diallo)</li>
</ul>

<h2>1) Motivation</h2>

<ul>
	<li>Déploiement du TS &quot;${TSNomComplet}&quot; (${TSCODE})</li>
</ul>

<h2>2) Créneau &amp; Coupure de Service</h2>

<p>C&#39;est une nouvelle application, aucune coupure de service.</p>

<h2>3) Périmètre</h2>

<table>
	<thead>
		<tr>
			<th scope="col">&nbsp;</th>
			<th scope="col">Modules / Applications</th>
			<th scope="col">Impacté ?</th>
			<th scope="col">comments</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="1" rowspan="6">Modules<br />
			(internes)</td>
			<td>-apiserver</td>
			<td>OUI</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>-backserver</td>
			<td>OUI</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>-frontserver</td>
			<td>OUI</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>-win</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>-db</td>
			<td>OUI</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>-shell</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="1" rowspan="5">Systèmes<br />
			(externes)</td>
			<td>EXPL</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>LGOB</td>
			<td><strong>OUI</strong></td>
			<td>.</td>
		</tr>
		<tr>
			<td>MONIT</td>
			<td>OUI</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>PWKB</td>
			<td>n/a</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>PROXY-IN</td>
			<td>n/a</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>

<h2>4) Paramètres</h2>

<table>
	<thead>
		<tr>
			<th scope="col">clé</th>
			<th scope="col">descr.</th>
			<th scope="col">Fournisseur</th>
			<th scope="col">mise à disposition</th>
			<th scope="col">comments</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="1"><span style="background-color:#66ffff">[[${tscode}.sig.secret]]</span></td>
			<td>secret partagé entre le back et le front pour le sso</td>
			<td>&nbsp;</td>
			<td>
			<p>KeePass</p>
			</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="1"><span style="background-color:#66ffff">[[${tscode}-api.jwt.secret]]</span></td>
			<td>secret pour la génération du JWT pour accéder à l&#39;API server</td>
			<td>&nbsp;</td>
			<td>
			<p>KeePass</p>
			</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="1"><span style="background-color:#66ffff">[[${tscode}-db.password]]</span></td>
			<td>Mot de passe de la base de données</td>
			<td>&nbsp;</td>
			<td>
			<p>KeePass</p>
			</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="1"><span style="background-color:#66ffff">[[mail-api.back.jwt]]</span></td>
			<td>JWT pour accéder à mail</td>
			<td>&nbsp;</td>
			<td>
			<p>KeePass</p>
			</td>
			<td>
			<p>Le JWT est à générer à l&rsquo;aide de la classe &quot;<em>mc.gouv.xboot.test.jwt.JwtUtils&quot; :</em></p>

			<pre>
<code>HashMap&lt;String, Object&gt; map = new HashMap&lt;String, Object&gt;();
        String jwt = createJWTToken("&lt;mail-api.jwt.secret&gt;", "${TSCODE}", new String[] { "USER"}, "MAIL", null,null);
System.out.println(jwt);</code></pre>

			<p>mail-api.jwt.secret : Secret utilisé pour la génération des JWTs pour mail (mc.gouv.api.mail.security.jwt.secret)</p>
			</td>
		</tr>
		<tr>
			<td colspan="1"><span style="background-color:#66ffff">[[file-api.back.jwt]]</span></td>
			<td>JWT pour accéder à file depuis le backserver</td>
			<td>&nbsp;</td>
			<td>
			<p>KeePass</p>
			</td>
			<td>
			<pre>
<code>HashMap&lt;String, Object&gt; map = new HashMap&lt;String, Object&gt;();
        String jwt = createJWTToken("&lt;file-api.jwt.secret&gt;", "${TSCODE}", new String[] { "USER"}, "FILE", null,null);
System.out.println(jwt);</code></pre>

			<p>file-api.jwt.secret :&nbsp;Secret utilisé pour la génération des JWTs pour file (mc.gouv.api.file.security.jwt.secret)</p>
			</td>
		</tr>
		<tr>
			<td colspan="1"><span style="background-color:#66ffff">[[file-api.front.jwt]]</span></td>
			<td>JWT pour accéder à file depuis le frontserver</td>
			<td>&nbsp;</td>
			<td>
			<p>KeePass</p>
			</td>
			<td>
			<pre>
<code>HashMap&lt;String, Object&gt; map = new HashMap&lt;String, Object&gt;();
        String jwt = createJWTToken("&lt;file-api.jwt.secret&gt;", "${TSCODE}", new String[] { "USER"}, "FILE", null,null);
System.out.println(jwt);</code></pre>

			<p>file-api.jwt.secret :&nbsp;Secret utilisé pour la génération des JWTs pour file (mc.gouv.api.file.security.jwt.secret)</p>

			<p>Même si c&#39;est la même ligne de code que file-api.back.jwt, nous créons 2 JWT avec uid unique.</p>

			<p>Nous sommes obligés de mettre en appelant &quot;${TSCODE}&quot; qui est l&#39;account utilisé dans FILE</p>
			</td>
		</tr>
		<tr>
			<td colspan="1"><span style="background-color:#66ffff">[[${tscode}-api.jwt]]</span></td>
			<td>JWT pour accéder à l&#39;apiserver depuis le front</td>
			<td>&nbsp;</td>
			<td>
			<p>KeePass</p>
			</td>
			<td>
			<pre>
<code>HashMap&lt;String, Object&gt; map = new HashMap&lt;String, Object&gt;();
        String jwt = createJWTToken("&lt;${tscode}-api.jwt.secret&gt;", "${TSCODE}-FRONT", new String[] { "USER"}, "${TSCODE}", null,null);
System.out.println(jwt);</code></pre>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="1"><span style="background-color:#66ffff">[[${tscode}.piwik.frontserver.siteId]]</span> et <span style="background-color:#66ffff">[[${tscode}.piwik.backserver.siteId]]</span></td>
			<td>piwik site id</td>
			<td>&nbsp;</td>
			<td>
			<p>KeePass</p>
			</td>
			<td>Voir Pré-MER</td>
		</tr>
	</tbody>
</table>

<h2>5 )Execution plan</h2>

<table border="1" cellpadding="5" cellspacing="0" style="border-collapse:collapse">
	<thead>
		<tr>
			<th scope="col">Phase</th>
			<th scope="col">planification<br />
			(qui + timing)</th>
			<th scope="col" style="width:1627px;">quoi</th>
			<th scope="col" style="width:384px;">Réalisation</th>
			<th scope="col">comments</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong>Prérequis</strong></td>
			<td>&nbsp;</td>
			<td style="width:1627px">&nbsp;</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>

			<p>&nbsp;</p>
			</td>
			<td>Yann BIANCHERI</td>
			<td style="width:1627px">
			<h2>[${TSCODE}] PIWIK</h2>

			<p>génération des identifiants [[${tscode}.piwik.frontserver.siteId]] et [[${tscode}.piwik.backserver.siteId]]</p>

			<p>&nbsp;</p>
			</td>
			<td style="width:384px">
			<p>&nbsp;</p>

			<p>&nbsp;</p>
			</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>${NomResponsable}</td>
			<td style="width:1627px">
			<h2>[${TSCODE}] ANSIBLE</h2>

			<p>Création de la configuration Ansible</p>
			</td>
			<td style="width:384px">
			<p>&nbsp;</p>
			</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td><strong>Pré-MER</strong></td>
			<td>&nbsp;</td>
			<td style="width:1627px">&nbsp;</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>${NomResponsable}</td>
			<td style="width:1627px">
			<h2>[LGOB] Configuration de l&#39;application ${TSCODE} et des rôles associés pour la DAN</h2>

			<p>Se baser sur le fichier &quot;Roles et Droits du téléservice ${TSCODE}&quot; pour créer l&#39;application dans LGOB et ajouter toute l&#39;équipe eAdmin avec tous les rôles.</p>

			<p>&nbsp;</p>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>${NomResponsable}</td>
			<td style="width:1627px">
			<h2>[LOGIN] Configuration de la page Contacts</h2>

			<ul>
				<li>ticket de tracking de la conf. coté LOGIN : <span style="color:#e74c3c"><strong>TODO (Exemple :&nbsp;#11139)</strong></span></li>
			</ul>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>${NomResponsable}</td>
			<td style="width:1627px">
			<h2>[-DB] Création des tables et données dans schéma ${TSCODE}</h2>

			<p>Dans le ticket, attacher les fichiers SQL d&#39;init de la BD pour le téléservice (${TSCODE}). Les fichier sont à exécuter dans l&#39;ordre suivant :</p>

			<ul>
				<li>${tscode}-db/v1.0.0/full/${TSCODE}_01_S_v1.0.0-full.sql</li>
				<li>${tscode}-db/v1.0.0/full/${TSCODE}_01_D_v1.0.0-full.sql</li>
			</ul>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>${NomResponsable}</td>
			<td style="width:1627px">
			<h2>[FILE] Création du container et de l&#39;account</h2>

			<p>Le but est de valider que l&#39;ouverture des flux est fonctionnelle, que le JWT est valide tout en initialisant l&#39;account et le container dans FILE</p>

			<p><strong>Depuis le serveur sur lequel sera hébergé le backserver</strong></p>

			<p>Création de l&#39;account : Exécuter la commande (<strong>En&nbsp;remplaçant&nbsp;[[file-api.back.jwt]] </strong>)&nbsp; :</p>

			<pre>
<code>curl -H "Content-Type: application/json" -H "Authorization: [[file-api.back.jwt]]" --request POST --data '{"basedir" : "/www/data/file/${TSCODE}"}' http://as-api-1-rec.monaco-gouvernement.mc:30490/file/api/v1/file/${TSCODE}</code></pre>

			<p>Création du container ROOT : Exécuter la commande (<strong>En&nbsp;remplaçant&nbsp;[[file-api.back.jwt]] </strong>)&nbsp; :</p>

			<pre>
<code>curl -H "Content-Type: application/json" -H "Authorization: [[file-api.back.jwt]]" --request POST  http://as-api-1-rec.monaco-gouvernement.mc:30490/file/api/v1/file/${TSCODE}/ROOT</code></pre>

			<p><strong>A partir de la version XAF 7.1.0</strong></p>

			<p>Création d&#39;un container MODELES</p>

			<pre>
<code>curl -H "Content-Type: application/json" -H "Authorization: [[file-api.back.jwt]]" --request POST  http://as-api-1-rec.monaco-gouvernement.mc:30490/file/api/v1/file/${TSCODE}/MODELES</code></pre>

			<p>puis ajouter tous les fichiers &quot;Modèles&quot;.</p>

			<p>Pour les modèles &quot;COURRIER&quot;, exécuter cette commande pour chacun des fichiers modèle</p>

			<pre>
<code>curl --location --request POST 'http://as-api-1-rec:30490/file/api/v1/file/${TSCODE}/MODELES/[[FichierModele]].docx' \
                --header 'Authorization: Bearer &lt;JWT&gt;' \
                --header 'X-MC-TypeModele: COURRIER' \
                --header 'Content-Type: multipart/form-data; boundary=--------------------------580002968873143290233191' \
                --form 'data=@@/${tscode}/${tscode}-shared/src/main/resources/modeles/[[FichierModele]].docx'</code></pre>

			<p>&nbsp;</p>

			<p>Pour les modèles &quot;Export Excel&quot;, exécuter cette commande pour chacun des fichiers modèle</p>

			<pre>
<code>curl --location --request POST 'http://as-api-1-rec:30490/file/api/v1/file/${TSCODE}/MODELES/[[FichierModele]].xlsx' \
                --header 'Authorization: Bearer &lt;JWT&gt;' \
                --header 'X-MC-TypeModele: EXPORT_EXCEL' \
                --header 'Content-Type: multipart/form-data; boundary=--------------------------580002968873143290233191' \
                --form 'data=@@/${tscode}/${tscode}-shared/src/main/resources/modeles/[[FichierModele]].xlsx'</code></pre>

			<p>Pour les modèles &quot;Justificatif&quot; exécuter cette commande pour chacun des fichiers modèle</p>

			<p>&nbsp;</p>

			<pre>
<code>curl --location --request POST 'http://as-api-1-rec:30490/file/api/v1/file/${TSCODE}/MODELES/[[FichierModele]].docx' \
                --header 'Authorization: Bearer &lt;JWT&gt;' \
                --header 'X-MC-TypeModele: JUSTIFICATIF' \
                --header 'Content-Type: multipart/form-data; boundary=--------------------------580002968873143290233191' \
                --form 'data=@@/${tscode}/${tscode}-shared/src/main/resources/modeles/[[FichierModele]].docx'</code></pre>

			<p>&nbsp;</p>

			<p><strong>Depuis le serveur sur lequel sera hébergé le font serveur</strong></p>

			<pre>
<code>curl -H "Content-Type: application/json" -H "Authorization: [[file-api.back.jwt]]" --request GET http://as-api-1-rec.monaco-gouvernement.mc:30490/file/api/v1/file/RANDOM/ROOT/test.pdf</code></pre>

			<p>Réponse :</p>

			<pre>
<code class="language-json">{
    "errors": [
        {
            "libelle": "Accès à ce compte non autorisé"
        }
    ]
}</code></pre>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>${NomResponsable}</td>
			<td style="width:1627px">
			<h2>[MAIL] Test de l&#39;accès depuis le back</h2>

			<p>Le but est de valider que l&#39;ouverture des flux est fonctionnelle et que le JWT est valide</p>

			<p><strong>Depuis le serveur sur lequel sera hébergé le backserver</strong></p>

			<p>Exécuter la commande (<strong>En&nbsp;remplaçant&nbsp;[[mail-api.back.jwt]] et en mettant l&#39;adresse souhaitée de destination à la place de adiallo.ext@gouv.mc</strong>)&nbsp; :</p>

			<pre>
<code>curl -H "Content-Type: application/json" -H "Authorization: [[mail-api.back.jwt]]" --request POST \ 
--data '{"to":[{"address":"adiallo.ext@gouv.mc","name":"Adresse 1"}],"from":{"address":"adresse0@gouv.mc" \ 
,"name":"Adresse 0"},"subject":"Test04","text":"Test envoi mail","html":"&lt;html&gt;&lt;body&gt;&lt;p&gt;Test envoi mail (HTML)&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;"}' http://linuxas-1:30480/mail/api/v1/mail</code></pre>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>${NomResponsable}</td>
			<td style="width:1627px">
			<h2>[JENKD] Configuration pour ${TSCODE}</h2>

			<p>Créer les jobs</p>

			<ul>
				<li>${tscode}-jenkd-provision</li>
				<li>${tscode}-jenkd-network-checks</li>
			</ul>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>${NomResponsable}</td>
			<td style="width:1627px">
			<h2>[${TSCODE}] Provisionning des VMs</h2>

			<p>Exécuter le Job admin/${tscode}-jenkd-provision&nbsp;avec les paramètres suivant&nbsp;:</p>

			<ul>
				<li>HOST_SUBSET : *</li>
			</ul>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>${NomResponsable}</td>
			<td style="width:1627px">
			<h2>[-ES] Configuration Elastic Search</h2>

			<p>Créer l&#39;index via l&#39;appel du webservice (depuis le poste d&#39;admin)</p>

			<pre>
<code>curl -H "Content-Type: application/json" -XPUT "http://${tscode}-eose1-3-mgmt:9200/${tscode}-index" -d @${tscode}-es-schema.json</code></pre>

			<p>Créer l&#39;alias&nbsp;via l&#39;appel du webservice (depuis le post d&#39;admin)</p>

			<pre>
<code>curl -H "Content-Type: application/json" -XPOST "http://${tscode}-eose1-3-mgmt:9200/_aliases" -d '{
    "actions" : [
        { "add" : { "index" : "${tscode}-index", "alias" : "${tscode}" } }
    ]
}'</code></pre>

			<div>&nbsp;</div>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>${NomResponsable}</td>
			<td style="width:1627px">
			<h2>[JENKB] Perfom maven release</h2>

			<p>Faire une release du projet&nbsp;${TSCODE} avec les paramètres suivant:</p>

			<ul>
				<li>Release Version: 1.0.0-rc1</li>
				<li>Development version: 1.0.0-SNAPSHOT</li>
			</ul>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>${NomResponsable}</td>
			<td style="width:1627px">
			<h2>[-BACK] Deploy @JENKD</h2>

			<p>Appliquer la procédure <strong>JENKD-DEPLOY</strong> avec les paramètres suivant :</p>

			<ul>
				<li>
				<p>Module :&nbsp;&nbsp; ${tscode}-backserver</p>
				</li>
				<li>
				<p>Version :&nbsp;&nbsp; 1.0.0-rc1</p>
				</li>
			</ul>

			<p style="margin-left:0cm; margin-right:0cm; margin-top:0cm; text-align:justify">&nbsp; ​​​​​</p>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>${NomResponsable}</td>
			<td style="width:1627px">
			<h2>[-BACK] START @JENKD</h2>

			<p>Appliquer la procédure&nbsp;<strong>JENKD-START</strong> avec les paramètres suivant&nbsp;:</p>

			<ul>
				<li>Module&nbsp;:&nbsp;&nbsp; ${tscode}-backserver</li>
			</ul>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>${NomResponsable}</td>
			<td style="width:1627px">
			<h2>[-API] Deploy @JENKD</h2>

			<p>Appliquer la&nbsp;procédure&nbsp;<strong>JENKD-DEPLOY</strong> avec les paramètres suivant&nbsp;:</p>

			<ul>
				<li>Module&nbsp;:&nbsp;&nbsp; ${tscode}-apiserver</li>
				<li>Version&nbsp;: &nbsp; 1.0.0-rc1</li>
			</ul>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>${NomResponsable}</td>
			<td style="width:1627px">
			<h2>[-API] Start @JENKD</h2>

			<p>Appliquer la&nbsp;procédures <strong>JENKD-START</strong> avec les paramètres suivant&nbsp;:</p>

			<ul>
				<li>Module&nbsp;:&nbsp; &nbsp;${tscode}-apiserver</li>
			</ul>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>${NomResponsable}</td>
			<td style="width:1627px">
			<h2>[-FRONT] Deploy @JENKD</h2>

			<p>Appliquer la&nbsp;procédures <strong>JENKD-DEPLOY</strong> avec les paramètres suivant&nbsp;:</p>

			<ul>
				<li>Module&nbsp;:&nbsp;&nbsp; ${tscode}-frontserver</li>
				<li>Version&nbsp;: &nbsp; 1.0.0-rc1</li>
			</ul>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>${NomResponsable}</td>
			<td style="width:1627px">
			<h2>[-FRONT] Start @JENKD</h2>

			<p>Appliquer la procédures <strong>JENKD-START</strong> avec les paramètres suivant&nbsp;:</p>

			<ul>
				<li>Module&nbsp;:&nbsp;&nbsp; ${tscode}-frontserver</li>
			</ul>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>${NomResponsable}</td>
			<td style="width:1627px">
			<h2>[-BACK] VABF</h2>

			<p>Accès à l&rsquo;application ${TSCODE} via LOGON (Avoir les droits en amont)</p>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>${NomResponsable}</td>
			<td style="width:1627px">
			<h2>[-API] VABF</h2>

			<p>GET&nbsp;<a href="https://%24%7BTSCodeLowerCase%7D-api.monaco-gouvernement.mc/%24%7BTSCodeLowerCase%7D/api/v1/motifs">https://${tscode}-api.monaco-gouvernement.mc/${tscode}/api/v1/motifs</a></p>

			<p>HEADER</p>

			<ul>
				<li>Content-Type : application/json</li>
				<li>Authorization : [[${tscode}-api.jwt]]</li>
			</ul>

			<p>A exécuter sur le serveur qui héberge le FRONT&nbsp;<strong>${tscode}-frnt1-3</strong></p>

			<pre>
<code>curl -H "Content-Type: application/json" -H "Authorization: [[${tscode}-api.jwt]]" --request GET https://${tscode}-api.monaco-gouvernement.mc/${tscode}/api/v1/motifs</code></pre>

			<p style="margin-left:0cm; margin-right:0cm; margin-top:0cm; text-align:justify"><span style="background-color:null">Résultat :</span></p>

			<pre>
&nbsp;</pre>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>${NomResponsable}</td>
			<td style="width:1627px">
			<h2>[-FRONT] VABF</h2>

			<p><strong>Tests de l&#39;accès au TS :</strong></p>

			<p>Accéder à https://front-rec.monaco-gouvernement.mc/${TSCONTEXTE}/</p>

			<p>Se connecter avec un compte usager et vérifier l&#39;affichage de la page d&#39;acceuil du téléservice.</p>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>${NomResponsable}</td>
			<td style="width:1627px">
			<h2>[-jmx-discovery] @JENKD</h2>

			<p>Exécuter le Job <strong>admin/${tscode}-jenkd-network-checks</strong>&nbsp;avec les paramètres suivant&nbsp;</p>

			<ul>
				<li>HOST_SUBSET : *</li>
			</ul>

			<p>Si tout est OK éxécuter le job<strong> admin/${tscode}-jmx-discovery&nbsp;</strong>avec les paramètres suivant:</p>

			<ul>
				<li>host: ${tscode}-appl1-3</li>
			</ul>

			<p>Si tout est OK éxécuter le job <strong>admin/${tscode}-jmx-discovery</strong>&nbsp;avec les paramètres suivant:</p>

			<ul>
				<li>host: ${tscode}-frnt1-3</li>
			</ul>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>${NomResponsable}</td>
			<td style="width:1627px">
			<h2>VABF Monitoring</h2>

			<p>Vérifier dans zabbix que les sondes applicatives sont bien présentes et remontent des données:</p>

			<ul>
				<li>Se connecter sur zabbix:&nbsp;<a href="https://zabbix1.monaco-gouvernement.mc/zabbix/">https://zabbix1.monaco-gouvernement.mc/zabbix/</a></li>
				<li>Dans Monitoring &gt; Latest Data
				<ul>
					<li>Host:&nbsp;${tscode}-appl1-3&nbsp;${tscode}-frnt1-3</li>
					<li>Name:&nbsp;${tscode}-</li>
					<li>Show items without data: checked</li>
				</ul>
				</li>
				<li>Vérifier la présence des sondes et des données ${tscode}-apiserver&nbsp;${tscode}-frontserver&nbsp;${tscode}-backserver&nbsp;</li>
			</ul>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td><strong>MeR</strong></td>
			<td>&nbsp;</td>
			<td style="width:1627px">
			<p>&nbsp;</p>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td><strong>Post-MeR</strong></td>
			<td>&nbsp;</td>
			<td style="width:1627px">&nbsp;</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>${NomResponsable}</td>
			<td style="width:1627px">
			<h2>&nbsp;</h2>
			</td>
			<td style="width:384px">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>

<h2>6) Clôture</h2>

<table border="1" cellpadding="1" cellspacing="1">
	<thead>
		<tr>
			<th scope="col">Modules / Applications</th>
			<th scope="col">Impacté ?</th>
			<th scope="col">comments</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Notif DAN/Services</td>
			<td>OUI</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Notif DRSI<br />
			&nbsp;&gt; EXPL<br />
			&nbsp;&gt; CDS</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Notif Pretataires externes</td>
			<td>n/a</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Maj CMDB/PAAS</td>
			<td><strong>OUI</strong></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Maj doc &quot;Manuel Exploitation&quot;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Close tickets &amp; Jalon</td>
			<td><strong>OUI</strong></td>
			<td>vérifier également s&#39;il faut clôturer XAF</td>
		</tr>
		<tr>
			<td>Release notes v1.0.0</td>
			<td><strong>OUI</strong></td>
			<td>Faire une release note des en faisant apparaître surtout les versions des modules dépendants : XAF, Login, Logon, WYSIWYG etc...&nbsp;</td>
		</tr>
		<tr>
			<td>Cleaning NEXUS (&amp; SVN / GiT) &gt; -rc,...&nbsp;</td>
			<td><strong>OUI</strong></td>
			<td>Si rc</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
