table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 50px;
}

table, th, td {
	border: grey solid 1px;
}

h1, .sectiondemande h3, th {
	text-transform: uppercase;
}

h1, h2 {
	text-align: center;
	margin: 0;
}

h1 {
	font-size: 20px;
}

h2 {
	font-weight: normal;
	font-size: 18px;
}

th {
	text-align: left;
	background-color: #e5e5e5;
	font-size: 20px;
}

td > :first-child {
	margin-top: 0;
}

dl {
	width: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

dd {
	margin-bottom: 0;
	float: left;
	padding: 0;
	margin: 0;
	font-weight: bold;
	clear: both;
}

dt {
	margin-bottom: 0;
	float: left;
	padding: 0;
	margin: 0;
	font-weight: normal !important;
	margin-left: 20px;
}

.sectiondemande h3 {
	margin-bottom: 0;
}

.display-commentaire {
	white-space: pre-wrap;
}