@charset "utf-8";
/* CSS Document */


legend, .legend{
	display:inline;
	margin:0px;
	padding:0px;
	padding-top:15px;
	padding-bottom:7px;
	width:888px;
	border-bottom:3px solid #999999;
}

legend{
	margin-bottom:10px;
}

.fieldset h3{
	margin:5px;
	border-bottom:3px solid #999999;
	width:885px;
	padding-bottom:7px;
	padding-left:0px;
	margin-bottom:10px;	
}

.popin{
		width:auto;
		height:auto;
		display: inline;
 		zoom: 1;
}

.popin .inner_white{
		display:inline;
		zoom:1;
		width:10px;
}