<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      class="no-js sidebar-left-collapsed" lang="fr" dir="ltr">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title th:text="${AfBackUtils.getDemarcheNom()}"></title>

    <!-- Import FONTS -->
    <link th:href="@{/webjars/xcb-wlib/fonts/style.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/webjars/xcb-wlib/fonts/ie7/ie7.css}" />

    <!-- Import CSS -->
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" type="text/css" />
    <link th:href="@{/webjars/xcb-wlib/css/template.css}" rel="stylesheet" />
    <link th:href="@{/webjars/xcb-wlib/css/sidebar.css}" rel="stylesheet" />
    <link th:href="@{/webjars/xcb-wlib/css/element.css}" rel="stylesheet" />
    <link th:href="@{/webjars/datatables/css/dataTables.bootstrap.css}"
          rel="stylesheet" />
    <link
            th:href="@{/webjars/bootstrap-datepicker/css/bootstrap-datepicker.css}"
            rel="stylesheet" />

    <link rel="shortcut icon" type="image/x-icon"
          th:href="@{/img/favicon.ico}" />
    <link th:href="@{/css/tsgen.css(${applicationBuildTimestamp})}"
          rel="stylesheet" />
    <link th:href="@{/css/tsdem.css(${applicationBuildTimestamp})}"
          rel="stylesheet" />
    <link
            th:href="@{/webjars/bootstrap-datepicker/css/bootstrap-datepicker.css}"
            rel="stylesheet" />

</head>

<body th:with="pageIndicateursActive='active'">

<div th:replace="fragments/header :: header"></div>

<div id="wrapper">

    <div th:replace="fragments/sidebar :: sidebar"></div>

    <!-- DEBUT CONTENU -->
    <div id="page-content-wrapper">

        <!-- DEBUT CONTENU -->
        <div id="page-content-wrapper">

            <div class="breadcrumbContent">
                <div class="breadcrumb">
						<span> <a th:href="@{/}" class="breadcrumb-item">ACCUEIL</a>&nbsp;&gt;&nbsp;
							<a th:href="@{/gestion/indicateurs}" class="breadcrumb-item">INDICATEURS</a>
							&gt;
						</span>
                </div>
                <div class="triangleTopright"></div>
            </div>

            <div class="container-fluid">
                <div class="text-center">
                    <h1>Export Excel des demandes</h1>
                </div>
                <br />
                <br />
                <form style="display: inline;" action="*"
                      th:action="@{/ws/export/excel}" method="GET">
                    <div class="row" style="display: flex;align-items: center;justify-content: center;">
                        <div class="col-xs-4 col-md-3 col-lg-2 text-center">
                            <h2 style="margin-top:0; margin-bottom: 0">Date de création</h2>
                        </div>
                        <div class="col-xs-4 col-md-3 col-lg-2 form-group">
                            <label for="creationStartDate">Après le (Optionnel)</label>
                            <div class="input-group date">
                                <input type="text" id="creationStartDate"
                                       name="creationStartDate" placeholder="__/__/____"
                                       class="form-control" /> <span
                                    class="input-group-addon"><i
                                    class="icon-action_calendrier"></i></span>
                            </div>
                        </div>
                        <div class="col-xs-4 col-md-3 col-lg-2 form-group">
                            <label for="creationEndDate">Avant le (Optionnel)</label>
                            <div class="input-group date">
                                <input type="text" id="creationEndDate"
                                       name="creationEndDate" placeholder="__/__/____"
                                       class="form-control" /> <span
                                    class="input-group-addon"><i
                                    class="icon-action_calendrier"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12" align="center">
                            <input class="btn btn-action ripple-effect" id="print-button" type="submit" name="action" value="Export Excel des demandes"
                                   style="margin-top: 20px;" />
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>

<script type="text/javascript" th:inline="javascript">
    // Sélection d'une date dans un calendrier
    $('#creationStartDate, #creationEndDate').datepicker({
        format : "dd/mm/yyyy",
        weekStart : 1,
        language : "fr",
        todayHighlight : true
    });
    $('.input-group-addon').click(function() {
        var $input = $(this).closest('div').find(':input');
        $input.focus();
    });
</script>
</html>








