<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

	<div id="panelfichiersjoints" th:fragment="panelfichiersjoints"
		th:remove="tag">
		<div role="tabpanel" class="tab-pane" id="tab3">
			<div th:each="complement, iter : ${demandeDTO.complements}"
				class="row">
				<div class="col-xs-12">
					<div class="panel-group accordion" aria-multiselectable="true">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab"
								th:id="'heading' + ${iter.index}">
								<h4 class="panel-title">
									<a role="button" data-toggle="collapse" aria-expanded="false"
										data-parent="#accordion"
										th:attr="aria-controls='IC'+${complement.pkDemandeComplements}"
										th:href="${'#IC'+complement.pkDemandeComplements}"
										class="collapsed"><i
										class="pannelState icon-action_accordeon-ferme"></i><span
										th:text="${#dates.format(complement.question.date,'dd/MM/yyyy')}" />
										: INFORMATION COMPLÉMENTAIRE <span
										th:text="'#'+${demandeDTO.pkDemandes}+'-'+${complement.pkDemandeComplements}" />
									</a>
								</h4>
							</div>

							<div th:id="${'IC'+complement.pkDemandeComplements}"
								class="panel-body sectionic panel-collapse collapse"
								role="tabpanel"
								th:attr="aria-labelledby='heading' + ${iter.index}">
								<div class="col-xs-12">
									<p>Demande de l'administration</p>
									<dl>
										<dd>
											<span>Date création</span>
										</dd>
										<dt>
											<span
												th:text="${#dates.format(complement.question.date,'dd/MM/yyyy HH:mm:ss')}" />
										</dt>
										<dd>
											<span>Motif</span>
										</dd>
										<dt>
											<span
												th:text="${MotifsCache.getMotif(complement.question.codeMotif,'fr').libelle}" />
										</dt>
										<dd>
											<span>Texte</span>
										</dd>
										<dt>
											<span th:text="${complement.question.texte}" class="display-commentaire" />
										</dt>
										<dd>
											<span>Agent</span>
										</dd>
										<dt>
											<span
												th:text="${AfBackUtils.getUserNameFromID(complement.question.agentId)}" />
										</dt>
									</dl>
									<br />
									<div th:if="${complement.reponse} != null">
										<p>Réponse de l'usager</p>
										<dl>
											<dd>
												<span>Date</span>
											</dd>
											<dt>
												<span
													th:text="${#dates.format(complement.reponse.date,'dd/MM/yyyy HH:mm:ss')}" />
											</dt>
											<dd>
												<span>Texte</span>
											</dd>
											<dt>
												<span th:text="${complement.reponse.texte}" />
											</dt>
											<div th:each="fichier : ${complement.reponse.fichiers}">
												<dd>
													<span>Fichier</span>
												</dd>
												<dt>
													<span th:text="${fichier.name}" /> <a
														th:href="@{/ws/file/get}+${fichier.url}"><span
														class="btn btn-action icon-action_telecharger" /></a>
												</dt>
											</div>
										</dl>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>