/* Override top bar */
#header .headerTitle img {
    width: 204px;
    float: left;
}

#header .headerSubtitle {
    float: left;
}

.dropdown-submenu {
    position: relative;
    min-height: 40px;
    height: auto;
    background: #0F607C;
    color: #E7F4F8;
    text-transform: uppercase;
    vertical-align: middle;
    cursor: pointer;
}

.dropdown-menu-custom > li > a {
    color: #E7F4F8;
    text-align: center;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
    color: #E7F4F8;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* Override footer */
#footer {
    padding-left: 15px;
}

/* Override padding col boostrap */
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.margin-left {
    margin-left: 15px;
}

.margin-top {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-50 {
    margin-top: 50px;
}


/* Radio Button (source de RHEIGEL) */


.radiobuttons {
    display: table;
}

.radiobuttons li {
    list-style-type: none;
    margin: 0;
    padding-right: 10px;
    border-radius: 15px;
    background: none;
    display: table-cell;
    vertical-align: top;
}

.radiobuttons label {
    border: 4px solid #0F607C;
    padding: 4px;
    margin: 0;
    border-radius: 15px;
    background: none;
    color: #0F607C;
    font-size: 1.2em;
    font-weight: bold;
    font-variant: small-caps;

}

.radiobuttons label span {
    margin: 0;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    line-height: 1.5em;
}

.radiobuttons label .ico:before {
    font-family: 'icomoon';
    content: "\e932";
    font-size: 1.5em;
    margin-right: 5px;
}

.radiobuttons li.disabled label {
    border: 4px solid #676767;
    color: #676767;
}


/**

Gestion du Tous : Aucun
*/


#tousModeTr, #aucunModeTr, #tousEtat, #aucunEtat {
    color: rgb(21, 98, 124);
}


#aucunModeTr {
    color: rgb(21, 98, 124);
}


#commentairesInternes .row {
    margin-right: 0;
    margin-left: 0;
}

.statusbox {
    border-radius: 15px;
    vertical-align: middle;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;

    font-size: 1.3rem;
    line-height: 1;
    white-space: nowrap;
    cursor: default;
}

.histo-user {
    font-weight: bold;
}

.disabled input[data-toggle]:checked + label,
.disabled input[data-toggle]:checked + label:active {
    border: 4px solid #676767;
    background-color: #676767;
    color: #E7F4F8;
}

.disabled label[data-toggle] {
    color: #676767;
}


input[data-toggle] {
    display: none;
}

input[data-toggle]:checked + label .ico:before {
    font-family: 'icomoon';
    content: "\e933";
}

input[data-toggle]:checked + label,
input[data-toggle]:checked + label:active {
    margin: 0;
    border: 4px solid #0F607C;
    padding: 4px;
    border-radius: 15px;
    background-color: #0F607C;
    color: #E7F4F8;
}

/* #41757 - Correction de l'affichage des fichiers à upload */
.multiple-file-input {
    width: 100%;
}

.histo-valideur {
    font-weight: bold;
}

.histo-usager {
    font-weight: bold;
}

.histo-action {
    font-weight: bold;
}

.histo-separator:after {
    content: " : ";
}

.autocomplete-suggestions {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
    background: #FFF;
    cursor: default;
    overflow: auto;
    -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-no-suggestion {
    padding: 2px 5px;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: bold;
    color: #000;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    font-weight: bold;
    font-size: 16px;
    color: #000;
    display: block;
    border-bottom: 1px solid #000;
}

.sectiondemande {
    padding: 15px 5px 5px;
    margin-bottom: 10px;
    margin-top: 0;
}

.sectiondemande h3 {
    text-align: left;
    font-size: 1em;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #333333;
    border-bottom: 3px solid #DDDDDD;
    padding-bottom: 3px;
}

.display-commentaire {
    white-space: pre-wrap;
    word-break: normal;
}

dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0
}

dt {
    float: left;
    padding: 0;
    margin: 0;
    font-weight: bold;
    clear: both;
}

dd {
    float: left;
    padding: 0;
    margin: 0;
    font-weight: normal !important;
    word-wrap: break-word;
}

dd span {
    white-space: pre-wrap;
}

.sectiondemande dt {
    width: 40%;
}

.sectiondemande dd {
    width: 60%;
}

.sectionic {
    padding: 5px;
    padding-top: 15px;
    margin-top: 0px;
}

.sectionic h3 {
    text-align: left;
    font-size: 1em;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #333333;
    border-bottom: 3px solid #DDDDDD;
    padding-bottom: 3px;
}

.sectionic dt {
    width: 20%;
}

.sectionic dd {
    width: 80%;
}

.required::after {
    content: "*";
    font-weight: bold;
}

.active-facet {
    background: #068BAD;
    color: white;
}

.updated-value {
    background-color: #F2DDDD !important;
}


.job-en-cours-execution {
    background-color: #EC661C;
}

.job-erreur {
    background-color: #E83F40;
}

.job-reussi {
    background-color: #00983A;
}

.job-statut-inconnu {
    background-color: #FFDE00;
    color: #0F607C;
}

.fixed-layout {
    table-layout: fixed;
}

.file-name-col {
    width: 70%;
}

.file-name-col-small {
    width: 25%;
}

.typedoc-col {
    width: 30%;
}

.date-col {
    width: 15%;
}

.action-col {
    width: 15%;
}

.check-col {
    width: 15%;
}

.file-name-col, .file-name-col-small {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file-name-col, .file-name-col-small, .typedoc-col, .date-col, .action-col, .check-col {
    padding-right: 0 !important;
}

.valid-background {
    background-color: #5cb85c20 !important;
}

.non-applicable-background {
    background-color: #ec971f20 !important;
}

.bouton-action {
    display: inline-block;
}

.no-margin-row {
    margin-left: 0;
    margin-right: 0;
}

/* overrides bootstrap datetimepicker */
.bootstrap-datetimepicker-widget table td span:hover {
    background: transparent !important;
}

/* #22728 : Commentaire de justification de traitement */
.justif-traitement-view {
    max-height: 200px;
    overflow: auto;
}

.dropdown-menu-custom {
    cursor: pointer;
}

.dropdown .dropdown-menu a.dropdown-item-custom {
    min-height: 40px;
    height: auto;
}

/* #40905 : Décalage du texte pour les éléments du menu */
#sidebar-wrapper.open .menuContent {
    margin-left: -3px;
}

.anciennedonnee-titre {
    background-color: #eee;
    font-weight: bold;
    display: none;
    cursor: pointer;
}

.nouvelledonnee-titre {
    background-color: #def1f5;
    font-weight: bold;
    cursor: pointer;
}

.anciennedonnee-contenu {
    background-color: #eee;
    color: #676767;
    display: none;
}

.nouvelledonnee-contenu {
    background-color: #def1f5;
    color: #676767;
}


.recaptable {
    display: block;
    overflow-x: auto;
}

/* Classes pour avoir de plus petites icones */
.icon-small {
    font-size: 1em !important;
}

.iconSmallContent {
    display: inline-block;
    width: 20px;
    height: 25px;
    position: relative;
    margin: 0;
}

/* Classe pour changer la couleur des panneaux */
.panel-locked > .panel-heading {
    background-color: #5e6164;
}

.panel-locked > .panel-heading:hover {
    background-color: #c6c6c6;
}

/* Classe pour les boutons */
.btn-transparent {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    background-color: transparent;
    color: #337ab7;
}

.btn-transparent:disabled {
    color: #676767;
}

.btn-transparent:hover:not([disabled]), .btn-transparent:active:not([disabled]), .btn-transparent:focus:not([disabled]) {
    color: #fff;
    background: #068BAD;
}
/* classe pour afficher le picto vert pour les données de source fiable */
.img-source-fiable{
    float: right;
    margin-right: 10px;
}

.mandatory{
    color : red;
}

.encartinfoerreur dt {
    width: 20%;
}

.encartinfoerreur dd {
    width: 80%;
}

#preview-container > .modal-dialog {
    width: auto;
}
