/* Override top bar */
#header .headerTitle img {
	width: 204px;
	float: left;
}

#header .headerSubtitle {
	float: left;
}


/* Override footer */
#footer {
	padding-left: 15px;
}

/* Override padding col boostrap */
.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

.margin-left {
	margin-left: 15px;
}

.margin-top {
	margin-top: 10px;
}

.mt-15{
	margin-top: 15px;
}




/* Radio Button (source de RHEIGEL) */


.radiobuttons{
    display:table;  
}

.radiobuttons li{
    list-style-type:none;
    margin:0px;
    padding-right:10px;
    border-radius:15px;
    background:none;
    display:table-cell;
    vertical-align:top;
}

.radiobuttons label{
  border:4px solid #0F607C;
  padding:4px;
  margin:0px;
  border-radius:15px;
  background:none;
  color:#0F607C;
  font-size:1.2em;
  font-weight:bold;
  font-variant:small-caps;

}

.radiobuttons label span{
    margin:0px;
    padding:0px;
    display:table-cell;
    vertical-align:middle;
    line-height:1.5em;
}
.radiobuttons label .ico:before{
    font-family: 'icomoon-ts';
    content: "\e910";
    font-size:1.5em;
    margin-right:5px;
}

.radiobuttons li.disabled label{
  border:4px solid #676767;
  color:#676767;    
}



/**

Gestion du Tous : Aucun
*/


#tousModeTr,#aucunModeTr,#tousEtat,#aucunEtat {
    color : rgb(21, 98, 124);
}


#aucunModeTr {
    color : rgb(21, 98, 124);
}


#commentairesInternes .row {
	margin-right: 0px;
    margin-left: 0px;
}

.statusbox {
	border-radius: 15px;
	vertical-align: middle;
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;

    font-size: 1.3rem;
    line-height: 1;
    white-space: nowrap;
    cursor: default;
}

.histo-user {
	font-weight: bold;
}

.disabled input[data-toggle]:checked + label,
.disabled input[data-toggle]:checked + label:active {
  border:4px solid #676767;
  background-color:#676767; 
  color:#E7F4F8;
}

.disabled label[data-toggle]{
    color:#676767;
}


input[data-toggle]{
    display:none;   
}

input[data-toggle]:checked + label .ico:before{
    font-family: 'icomoon-ts';
    content: "\e90e";
}

input[data-toggle]:checked + label,
input[data-toggle]:checked + label:active {
  margin:0px;
  border:4px solid #0F607C;
  padding:4px;
  border-radius:15px;
  background-color:#0F607C; 
  color:#E7F4F8;
}

.histo-valideur {
	font-weight: bold;
}

.histo-usager {
	font-weight: bold;
}

.histo-action {
	font-weight: bold;
}

.histo-separator:after {
	content: " : ";
}

.autocomplete-suggestions {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #999;
	background: #FFF;
	cursor: default;
	overflow: auto;
	-webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
	-moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
	box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
	/* bugfix 16581, autocomplete derrière la fancybox */
	z-index: 99999 !important;
}

.autocomplete-suggestion {
	padding: 2px 5px;
	white-space: nowrap;
	overflow: hidden;
}

.autocomplete-no-suggestion {
	padding: 2px 5px;
}

.autocomplete-selected {
	background: #F0F0F0;
}

.autocomplete-suggestions strong {
	font-weight: bold;
	color: #000;
}

.autocomplete-group {
	padding: 2px 5px;
}

.autocomplete-group strong {
	font-weight: bold;
	font-size: 16px;
	color: #000;
	display: block;
	border-bottom: 1px solid #000;
}

.sectiondemande {
	padding: 5px;
	padding-top: 15px;
	margin-bottom: 10px;
	margin-top: 0px;
}

.sectiondemande h3 {
	text-align: left;
	font-size: 1em;
	margin-bottom: 10px;
	text-transform: uppercase;
	color: #333333;
	border-bottom: 3px solid #DDDDDD;
	padding-bottom: 3px;
}

.display-commentaire {
	white-space: pre-wrap;
	word-break: normal;
}

dl {
	width: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0
}

dt {
	margin-bottom: 0;
	float: left;
	padding : 0;
	margin: 0;
	font-weight: bold;
	clear: both;
}

dd {
	margin-bottom: 0;
	float: left;
	padding : 0;
	margin: 0;
	font-weight: normal !important;
	word-wrap: break-word;
}

dd span {
	white-space: pre-wrap;
}

.sectiondemande dt {
	width: 40%;
}

.sectiondemande dd {
	width: 60%;
}

.sectionic {
	padding: 5px;
	padding-top: 15px;
	margin-top: 0px;
}

.sectionic h3 {
	text-align: left;
	font-size: 1em;
	margin-bottom: 10px;
	text-transform: uppercase;
	color: #333333;
	border-bottom: 3px solid #DDDDDD;
	padding-bottom: 3px;
}

.sectionic dt {
	width: 20%;
}

.sectionic dd {
	width: 80%;
}

.required::after {
	content: "*";
	font-weight: bold;
}

.active-facet {
  background: #068BAD;
  color: white;
}

.updated-value {
	background-color: #F2DDDD !important;
}


.job-en-cours-execution {
    background-color: #EC661C;
}

.job-erreur {
    background-color: #E83F40;
}

.job-reussi {
    background-color: #00983A;
}

.job-statut-inconnu {
    background-color: #FFDE00;
    color: #0F607C;
}

.fixed-layout {
	table-layout: fixed;
}

.file-name-col {
	width: 85%;
}

.file-name-col-small {
	width: 50%;
}

.typedoc-col {
	width: 35%;
}

.date-col {
	width: 10%;
}

.action-col {
	width: 5%;
}

.file-name-col, .file-name-col-small {
	overflow: hidden;
	text-overflow: ellipsis;
}

.file-name-col, .file-name-col-small, .typedoc-col, .date-col, .action-col {
	padding-right: 0 !important;
}

.no-margin-row {
	margin-left: 0;
	margin-right: 0;
}

/* #18771: Ajout d'une propriété pour casser les mots trop long */
.table>tbody>tr>td {
    word-break: break-word;
}

/* overrides bootstrap datetimepicker */
.bootstrap-datetimepicker-widget table td span:hover {
	background: transparent !important;
}

/* #22728 : Commentaire de justification de traitement */
.justif-traitement-view {
	max-height: 200px;
	overflow: auto;
}

.dropdown-menu-custom {
	cursor: pointer;
}
.dropdown .dropdown-menu a.dropdown-item-custom {
	min-height: 40px;
    height: auto;
}
