#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	  class="no-js sidebar-left-collapsed" lang="fr" dir="ltr">

<head>

	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport"
		  content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title th:text="${symbol_dollar}{AfBackUtils.getDemarcheNom()}"></title>

	<!-- Import FONTS -->
	<link th:href="@{/webjars/xcb-wlib/fonts/style.css}" rel="stylesheet" />
	<link rel="stylesheet" th:href="@{/webjars/xcb-wlib/fonts/ie7/ie7.css}" />

	<!-- Import CSS -->
	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
		  rel="stylesheet" type="text/css" />
	<link th:href="@{/webjars/xcb-wlib/css/template.css}" rel="stylesheet" />
	<link th:href="@{/webjars/xcb-wlib/css/sidebar.css}" rel="stylesheet" />
	<link th:href="@{/webjars/xcb-wlib/css/element.css}" rel="stylesheet" />
	<link th:href="@{/webjars/datatables/css/dataTables.bootstrap.css}"
		  rel="stylesheet" />
	<link
			th:href="@{/webjars/bootstrap-datepicker/css/bootstrap-datepicker.css}"
			rel="stylesheet" />

	<link rel="shortcut icon" type="image/x-icon"
		  th:href="@{/img/favicon.ico}" />
	<link th:href="@{/css/tsgen.css(${symbol_dollar}{applicationBuildTimestamp})}"
		  rel="stylesheet" />
	<link th:href="@{/css/tsdem.css(${symbol_dollar}{applicationBuildTimestamp})}"
		  rel="stylesheet" />

</head>

<body th:with="pageAccueilActive='active'">

<div th:replace="fragments/header :: header"></div>

<div id="wrapper">

	<div th:replace="fragments/sidebar :: sidebar"></div>

	<!-- Contenu -->
	<div id="page-content-wrapper">
		<div class="breadcrumbContent">
			<ol class="breadcrumb">
				<span class="breadcrumb-item active"><a th:href="@{/}">Accueil</a>&gt;</span>
			</ol>
			<div class="triangleTopright"></div>
		</div>

		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 text-right">
					<a id="ajouterDemande" class="btn btn-action ripple-effect"
					   th:href="@{/demandes/courriers}"
					   th:disabled="!${symbol_dollar}{${symbol_pound}authorization.expression('hasRole(''ROLE_TRAITEMENT'')')}"><span
							class="icon-action_plus"></span>&nbsp;&nbsp;Ajouter une demande</a>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h1>Pour action</h1>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="panel-group" role="tablist"
						 aria-multiselectable="true">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<a role="button" data-toggle="collapse" href="${symbol_pound}collapseOne"
									   aria-expanded="true" aria-controls="collapseOne"> <span
											class="pannelState icon-action_accordeon-ouvert"></span>
										Nouvelles demandes à prendre en charge <span
												class="badge badgeState info" id="nouvellesDemandesCounter">0</span>
									</a>
								</h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in"
								 role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body">
									<table id="nouvellesDemandes" class="table table-striped"
										   th:attr="data-href=@{/ws/demandes/pageable?statut=EN_ATTENTE_TRAIT}">
										<thead>
										<tr>
											<th>Identifiant</th>
											<th>Date demande</th>
											<th>Etat</th>
											<th>Demandeur</th>
											<th>Langue</th>
											<th>Mode de réception</th>
											<th>Responsable</th>
											<th>Actions</th>
										</tr>
										</thead>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12" sec:authorize="hasRole('ROLE_TRAITEMENT')">
					<div class="panel-group" role="tablist"
						 aria-multiselectable="true">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingTwo">
								<h4 class="panel-title">
									<a role="button" data-toggle="collapse" href="${symbol_pound}collapseTwo" aria-expanded="true"
									   aria-controls="collapseTwo"> <span
											class="pannelState icon-action_accordeon-ouvert"></span> À
										traiter <span class="badge badgeState info"
													  id="demandesATraiterCounter">0</span>
									</a>
								</h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse in"
								 role="tabpanel" aria-labelledby="collapseTwo">
								<div class="panel-body">
									<table id="demandesATraiter" class="table table-striped"
										   th:attr="data-href=@{'~/${artifactIdLower}/ws/demandes/pageable?statut=EN_COURS_TRAIT&amp;agentId='+${symbol_dollar}{T(mc.gouv.af.back.util.AfBackUtils).getAuthenticatedAgentId()}}">
										<thead>
										<tr>
											<th>Identifiant</th>
											<th>Date demande</th>
											<th>Etat</th>
											<th>Demandeur</th>
											<th>Langue</th>
											<th>Mode de réception</th>
											<th>Responsable</th>
											<th>Actions</th>
										</tr>
										</thead>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12" sec:authorize="hasRole('ROLE_VALIDATION')">
					<div class="panel-group" role="tablist"
						 aria-multiselectable="true">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingThree">
								<h4 class="panel-title">
									<a role="button" data-toggle="collapse"
									   href="${symbol_pound}collapseThree" aria-expanded="true" aria-controls="collapseThree"> <span
											class="pannelState icon-action_accordeon-ouvert"></span> À
										valider <span class="badge badgeState info"
													  id="demandesAValiderCounter">0</span>
									</a>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse in"
								 role="tabpanel" aria-labelledby="headingThree">
								<div class="panel-body">
									<table id="demandesAValider" class="table table-striped"
										   th:attr="data-href=@{'~/${artifactIdLower}/ws/demandes/pageable?statut=validationHierarchiqueTask&amp;data=and:IS_EN_ATTENTE_VALIDATION=1'}">
										<thead>
										<tr>
											<th>Identifiant</th>
											<th>Date demande</th>
											<th>Etat</th>
											<th>Demandeur</th>
											<th>Langue</th>
											<th>Mode de réception</th>
											<th>Responsable</th>
											<th>Actions</th>
										</tr>
										</thead>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h1>Pour information</h1>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="panel-group" role="tablist"
						 aria-multiselectable="true">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingFour">
								<h4 class="panel-title">
									<a role="button" data-toggle="collapse"
									   href="${symbol_pound}collapseFour"
									   aria-expanded="true" aria-controls="collapseFour"> <span
											class="pannelState icon-action_accordeon-ouvert"></span>
										Demandes en attente d'informations complémentaires <span
												class="badge badgeState info" id="demandesAttenteICCounter">0</span>
									</a>
								</h4>
							</div>
							<div id="collapseFour" class="panel-collapse collapse in"
								 role="tabpanel" aria-labelledby="headingFour">
								<div class="panel-body">
									<table id="demandesAttenteIC" class="table table-striped"
										   th:attr="data-href=@{'~/${artifactIdLower}/ws/demandes/pageable?statut=EN_ATTENTE_COMPL&amp;agentId='+${symbol_dollar}{T(mc.gouv.af.back.util.AfBackUtils).getAuthenticatedAgentId()}}">
										<thead>
										<tr>
											<th>Identifiant</th>
											<th>Date demande</th>
											<th>Etat</th>
											<th>Demandeur</th>
											<th>Langue</th>
											<th>Mode de réception</th>
											<th>Responsable</th>
											<th>Actions</th>
										</tr>
										</thead>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- FIN Contenu -->

<div th:replace="fragments/footer :: footer"></div>

<script>
	${symbol_dollar}(document)
			.ready(
					function() {
						${symbol_dollar}(
								'${symbol_pound}nouvellesDemandes,${symbol_pound}demandesATraiter,${symbol_pound}demandesAValider,${symbol_pound}demandesAttenteIC')
								.each(
										function(index, value) {
											//Affichage de 10 éléments
											var id = this.id;
											configurationDataTable.iDisplayLength = 5;
											configurationDataTable.pageLength = 5;
											configurationDataTable.lengthChange = false;
											configurationDataTable.bInfo = false;
											//tri par date de la demande par défaut
											configurationDataTable.order = [ [
												1, "desc" ] ]
											configurationDataTable.ajax.url = ${symbol_dollar}(
													this).data("href");
											configurationDataTable.ajax.data = APP.buildDefaultDatafunction;
											var dt = ${symbol_dollar}(this).DataTable(
													configurationDataTable);

											dt
													.on(
															'xhr.dt',
															function(
																	e,
																	settings,
																	json,
																	xhr) {
																${symbol_dollar}(
																		"${symbol_pound}"
																		+ id
																		+ "Counter")
																		.text(
																				json.totalElements);
															});
										});
					});

	// Empêcher d'ajouter une demande si on n'a pas les droits
	${symbol_dollar}("${symbol_pound}ajouterDemande").click(function() {
		if (${symbol_dollar}("${symbol_pound}ajouterDemande").attr("disabled") == "disabled") {
			event.preventDefault();
		}
	});
</script>



</body>
</html>