<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js sidebar-left-collapsed" lang="fr"
    dir="ltr">
    
<head>

	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
    <meta name="author" content="" />
    <title th:text="${AfBackUtils.getDemarcheNom()}"></title>
    
	<!-- Import FONTS -->
    <link th:href="@{/webjars/xcb-wlib/fonts/style.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/webjars/xcb-wlib/fonts/ie7/ie7.css}" />
	
	<!-- Import CSS -->
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/webjars/xcb-wlib/css/template.css}" rel="stylesheet" />
    <link th:href="@{/webjars/xcb-wlib/css/sidebar.css}" rel="stylesheet" />
    <link th:href="@{/webjars/xcb-wlib/css/element.css}" rel="stylesheet" />
    <link th:href="@{/webjars/datatables/css/dataTables.bootstrap.css}" rel="stylesheet" />
    
	<link th:href="@{/css/tsgen.css(${applicationBuildTimestamp})}"
		rel="stylesheet" />
	<link th:href="@{/css/tsdem.css(${applicationBuildTimestamp})}"
		rel="stylesheet" />
	
</head>

<body>

	<div th:replace="fragments/header :: header" />

	<div id="wrapper">

	<!-- DEBUT CONTENU -->
		<div id="page-content-wrapper">
                
	        <div class="container">
	            <div class="row" style="">
	                <div class="col-xs-12">
	                    <h1>Ce programme a rencontré une erreur !</h1>
	                </div>
	            </div>
	    
	            <div class="row">
	                <div class="col-xs-12">
			            <div class="row ">
			                <div class="col-xs-12">
			                    <h2>Erreur 404 : La page demandée n'a pas pu être trouvée</h2>
			                </div>
			                <div class="col-xs-12">
			                    <div class="row error-content">
			                        <div class="row ">
			                            <div class="col-xs-4">
			                                <img th:src="@{/webjars/xcb-wlib/img/error.gif}"></img>
			                            </div>
			                            <div class="col-xs-8">
			                                    Vous n'avez peut-être pas les droits suffisants pour afficher
			                                cette page. <br /> Vous pouvez effectuer les actions
			                                suivantes :
			
			                                <ul>
			                                    <li>Cliquez sur le bouton précédent de votre navigateur.</li>
			
			                                </ul>
			                                Si cette erreur persiste, nous vous invitons à prendre une
			                                copie d'écran (à l'aide de la touche impr. écran), incluant
			                                l'adresse de cette page, et à la transmettre au support
			                                technique en cliquant <a target="blank"
			                                    th:href="${contactSupportUrl}">ici</a>.
			                            </div>
			                       	</div>
			                        <div class="row">
			                            <div class="col-xs-5">
			                               
			                            </div>
			                                    <div class="col-xs-7 ">
			                                        <a target="blank" th:href="${contactSupportUrl}"
			                                            class="btn btn-action ripple-effect">Contacter le centre de service</a>
			                                            <a th:href="@{/}" class="btn btn-action ripple-effect ">Retour
			                                            à l'accueil</a>
			                                    </div>
			                        </div>
			                    </div>
			                </div>
			            </div>
	        		</div>
	            </div>
	        </div>
      	</div>
      	
		<!-- FIN CONTENU -->
	</div>


    <div th:replace="fragments/footer :: footer" />

</body>
</html>