#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div id="sectiondetachement" th:fragment="sectiondetachement" th:remove="tag">
	<div class="row mt-15">
		<div class="col-xs-12">
			<div class="panel-group accordion" role="tablist"
				 aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" id="headingInformationsDetachement" role="tab">
						<h4 class="panel-title">
							<a href="${symbol_pound}collapseInformationsDetachement"
							   role="button"
							   data-toggle="collapse"
							   th:attr="aria-expanded=${symbol_dollar}{isInformationsDetachementAccardeonIsOpen}"
							   th:class="${symbol_dollar}{isInformationsDetachementAccardeonIsOpen}  ? '' : collapsed ">
								<i class="pannelState"
								   th:classappend="${symbol_dollar}{isInformationsDetachementAccardeonIsOpen} ? icon-action_accordeon-ouvert : icon-action_accordeon-ferme"></i>
								INFORMATIONS SUR LE ${tsIdentifiantDemande}ACHEMENT
							</a>
						</h4>
					</div>
					<div id="collapseInformationsDetachement" class="panel-collapse collapse"
						 th:classappend="${symbol_dollar}{isInformationsDetachementAccardeonIsOpen} ? in:out"
						 role="tabpanel" aria-labelledby="headingInformationsDetachement">
						<div class="panel-body">
							<div class="row">
								<div class="col-xs-12">
									<form id="informationsDetachement" th:action="@{/demandes/informationsdetachement}"
										  th:object="${symbol_dollar}{informationsDetachementFormBean}" method="POST">

										<div class="row">
											<div class="col-xs-6">
												<label for="nombreSalariesDetaches">Nombre de salarié(s) détaché(s)</label> <input
													type="text" id="nombreSalariesDetaches" name="nombreSalariesDetaches"
													th:errorclass="errorTooltip"
													class="form-control form-control-sm"
													th:value="*{nombreSalariesDetaches}" pattern="^[0-9]{1,5}${symbol_dollar}"
                                                    title="Maximum 5 chiffres autorisés"
													th:disabled="!${symbol_dollar}{isInformationsDetachementPanelActive}" />
											</div>
										</div>
										<div class="row">
											<div class="col-xs-6">
												<label for="nombreSalariesNonDetaches">Nombre de salarié(s) non-détaché(s)</label> <input
													type="text" id="nombreSalariesNonDetaches" name="nombreSalariesNonDetaches"
													th:errorclass="errorTooltip"
													class="form-control form-control-sm"
                                                    title="Maximum 5 chiffres autorisés"
													th:value="*{nombreSalariesNonDetaches}" pattern="^[0-9]{1,5}${symbol_dollar}"
													th:disabled="!${symbol_dollar}{isInformationsDetachementPanelActive}" />
											</div>
										</div>
										<input type="hidden" name="pkDemande" th:value="${symbol_dollar}{demandeDTO.pkDemandes}" />
										<div class="row mt-15">
											<div class="col-xs-12 text-right">
												<input type="submit" class="btn btn-action ripple-effect"
													   name="saveInformationsDetachement" id="saveInformationsDetachement"
													   value="Enregistrer"
													   th:disabled="!${symbol_dollar}{isInformationsDetachementPanelActive}" />
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>