<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
	http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    metadata-complete="true">
    <display-name>appfactory-servlet</display-name>

    <servlet>
        <servlet-name>AccessesServlet</servlet-name>
        <servlet-class>mc.gouv.af.servlet.AccessesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccessesServlet</servlet-name>
        <url-pattern>/accesses</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SessionsServlet</servlet-name>
        <servlet-class>mc.gouv.af.servlet.SessionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionsServlet</servlet-name>
        <url-pattern>/sessions</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DemandesServlet</servlet-name>
        <servlet-class>mc.gouv.af.servlet.DemandesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DemandesServlet</servlet-name>
        <url-pattern>/demandes/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>mc.gouv.af.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PaysServlet</servlet-name>
        <servlet-class>mc.gouv.af.servlet.PaysServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaysServlet</servlet-name>
        <url-pattern>/pays/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>mc.gouv.af.servlet.FileUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/fileupload/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FileDownloadServlet</servlet-name>
        <servlet-class>mc.gouv.af.servlet.FileDownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileDownloadServlet</servlet-name>
        <url-pattern>/filedownload/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>MotifsServlet</servlet-name>
        <servlet-class>mc.gouv.af.servlet.MotifsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MotifsServlet</servlet-name>
        <url-pattern>/motifs</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AnnulationServlet</servlet-name>
        <servlet-class>mc.gouv.af.servlet.AnnulationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AnnulationServlet</servlet-name>
        <url-pattern>/annulation/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AssociationDemandeCourrierServlet</servlet-name>
        <servlet-class>mc.gouv.af.servlet.AssociationDemandeCourrierServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AssociationDemandeCourrierServlet</servlet-name>
        <url-pattern>/associerDemandeCourrier/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RedirectToBackOfficeServlet</servlet-name>
        <servlet-class>mc.gouv.af.servlet.RedirectToBackOfficeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RedirectToBackOfficeServlet</servlet-name>
        <url-pattern>/redirect-to-backoffice</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>IPFilter</filter-name>
        <filter-class>mc.gouv.af.servlet.filter.IPFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>IPFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <context-param>
        <param-name>DemarcheID</param-name>
        <param-value>HAB</param-value>
    </context-param>

    <context-param>
        <param-name>ContainerID</param-name>
        <param-value>ROOT</param-value>
    </context-param>
    
    <error-page>
        <exception-type>mc.gouv.xapi.error.exception.WebException</exception-type>
        <location>/erreur</location>
    </error-page>
    
    <servlet>
        <servlet-name>ErreurServlet</servlet-name>
        <servlet-class>mc.gouv.af.servlet.ErreurServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ErreurServlet</servlet-name>
        <url-pattern>/erreur</url-pattern>
    </servlet-mapping>

</web-app>
