#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<div class="tableContent">
	<div class="tableTitle">
		Demandes <span class="badge" id="demandesSize"></span>
	</div>
	<table id="datatable-demandes" class="table table-striped ">
		<thead>
			<tr>
				<th></th>
				<th>Identifiant</th>
				<th>Date demande</th>
				<th>Etat</th>
				<th>Demandeur</th>
				<th>Nom du propriétaire du véhicule</th>
				<th>N° ordre</th>
				<th>Langue</th>
				<th>Mode de réception</th>
				<th>Responsable</th>
				<th>Actions</th>
			</tr>
		</thead>
	</table>
</div>