<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      class="no-js sidebar-left-collapsed" lang="fr" dir="ltr">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title th:text="${titre}"></title>

    <!-- Import FONTS -->
    <link th:href="@{/css/font-style.css(${applicationBuildTimestamp})}" rel="stylesheet"/>
    <!--[if lt IE 8]><!-->
    <link rel="stylesheet" th:href="@{/webjars/xcb-wlib/fonts/ie7/ie7.css}"/>

    <!-- Import CSS -->
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" type="text/css"/>
    <link th:href="@{/webjars/xcb-wlib/css/template.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/xcb-wlib/css/sidebar.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/xcb-wlib/css/element.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/datatables/css/dataTables.bootstrap.css}"
          rel="stylesheet"/>
    <link rel="stylesheet"
          th:href="@{/webjars/fancybox/jquery.fancybox.css}"/>
    <link rel="shortcut icon" type="image/x-icon"
          th:href="@{/img/favicon.ico}"/>
    <link th:href="@{/css/tsgen.css(${applicationBuildTimestamp})}"
          rel="stylesheet"/>
    <link th:href="@{/css/tsdem.css(${applicationBuildTimestamp})}"
          rel="stylesheet"/>
</head>
<body th:with="pageConfigurationActive='active'">

<div th:replace="fragments/header :: header"></div>

<div id="wrapper">

    <div th:replace="fragments/sidebar :: sidebar"></div>

    <!-- DEBUT CONTENU -->
    <div id="page-content-wrapper">

        <div class="breadcrumbContent">
            <div class="breadcrumb">
                <a id="ariane0" th:href="@{/}" class="breadcrumb-item active">Accueil</a>&nbsp;&gt;&nbsp;
                <a id="ariane1" th:href="@{/gestion/properties}" class="breadcrumb-item active">PROPRIÉTÉS</a>
            </div>
            <div class="triangleTopright"></div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Administration des propriétés</h1>
                </div>

                <div th:if="${AfBackUtils.getDemarcheCanHandleProperties()}" class="col-xs-12 tableContent">
                    <div class="tableTitle">
                        Liste des propriétés
                        <span class="badge" id="propertiesTableCounter">0</span>
                    </div>
                    <table id="datatable-properties" class="table table-striped" style="width: 100%">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Type</th>
                            <th>Clé</th>
                            <th>Descriptif</th>
                            <th>Valeur</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                    </table>
                </div>

                <div th:unless="${AfBackUtils.getDemarcheCanHandleProperties()}" class="col-xs-12">
                    Cette page n'est pas accessible.
                </div>
            </div>
        </div>

    </div>
    <!-- FIN CONTENU -->

    <!-- EDITION MODAL -->
    <div id="editionModal" style="display: none">
        <form method="POST" id="editionPropertiesForm" th:action="@{/gestion/properties/edit}">
            <!-- input cachée pour insérer la pk de la properties à modifier -->
            <input type="hidden" id="pkProperties" name="pkProperties"/>
            <div class="row no-margin-row" style="width: 400px;">
                <div class="col-xs-12 text-center">
                    <h2>Modification d'une propriété</h2>
                </div>
                <div class="col-xs-12">
                    <strong>Type :</strong>&nbsp;<span id="propertiesType"></span>
                </div>
                <div class="col-xs-12 mt-15">
                    <strong>Clé :</strong>&nbsp;<span id="propertiesKey"></span>
                </div>
                <div class="col-xs-12 mt-15">
                    <strong>Descriptif :</strong>&nbsp;<span id="propertiesDescriptif"></span>
                </div>
                <div class="col-xs-12 mt-15 form-group">
                    <label for="propertiesValue">Valeur</label>
                    <textarea id="propertiesValue" name="value" class="form-control"
                              style="overflow: auto; max-height: 500px"></textarea>
                </div>
                <div class="col-xs-12 text-center">
                    <button id="annulerEditBouton" class="btn btn-action-second ripple-effect annulerBouton"
                            type="button" name="annuler" value="annuler">
                        annuler
                    </button>
                    <button id="saveBtn" class="btn btn-action ripple-effect" type="submit">
                        modifier
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!-- FIN EDITION MODAL -->

</div>

<div th:replace="fragments/footer :: footer"></div>

<script th:inline="javascript">

    var columnsProperties = [
        {
            data: "pkProperties",
            keyword: false,
            visible: false,
            render: function (data, type, property) {
                return property.pkProperties;
            }
        },
        {
            data: "type",
            keyword: false,
            render: function (data, type, property) {
                return property.type;
            }
        },
        {
            data: "key",
            keyword: false,
            render: function (data, type, property) {
                return property.key;
            }
        },
        {
            data: "descriptif",
            keyword: false,
            render: function (data, type, property) {
                return property.descriptif;
            }
        },
        {
            data: "value",
            keyword: false,
            render: function (data, type, property) {
                return textRenderer(property.value);
            }
        },
        {
            orderable: false,
            keyword: false,
            render: function (data, type, property) {
                return '<button class="btn btn-action ripple-effect greyTooltip boutonModifier" data-toggle="tooltip"'
                    + ' data-placement="bottom" data-original-title="Modifier la propriété" data-pkproperties="' + property.pkProperties
                    + '" data-type="' + property.type + '" data-key="' + property.key + '" data-descriptif="' + property.descriptif
                    + '" data-value="' + property.value + '"><i class="icon-action_modifier"></i></button>';
            }
        }];

    var textRenderer = $.fn.dataTable.render.text().display;
    /*<![CDATA[*/
    $(document).ready(function () {
        var properties = /*[[${properties}]]*/'default';
        $('#datatable-properties').DataTable({
            paging: false,
            searching: false,
            select: false,
            bInfo: false,
            columns: columnsProperties,
            data: properties,
            language: frenchTranslation
        });
        $("#propertiesTableCounter").text(properties.length);

        autosize($("#propertiesValue"));

        var messagesSuccessList = /*[[${successMessages}]]*/'default';
        if (messagesSuccessList !== 'undefined' && messagesSuccessList !== null) {
            $.each(messagesSuccessList, function (key, msg) {
                $.notify({
                    message: msg
                }, {
                    type: 'success'
                });
            });
        }

        var messagesErrorList = /*[[${errorMessages}]]*/'default';
        if (messagesErrorList !== 'undefined' && messagesErrorList !== null) {
            $.each(messagesErrorList, function (key, msg) {
                $.notify({
                    message: msg
                }, {
                    type: 'danger'
                });
            });
        }

        $(".boutonModifier").click(function (e) {
            e.preventDefault();

            $('#pkProperties').val($(this).data('pkproperties'));
            $('#propertiesType').text($(this).data('type'));
            $('#propertiesKey').text($(this).data('key'));
            $('#propertiesDescriptif').text($(this).data('descriptif'));
            $('#propertiesValue').val($(this).data('value'));
            
            if($(this).data('key').startsWith("LISTE_")) {
            	// Redirection vers IHM d'édition du json
            	document.location.href = "configjson?key="+$(this).data('key');
            } else {
	            $.fancybox.open({
	                src: '#editionModal',
	                type: 'inline'
	            });
            }

            autosize.update($('#propertiesValue'));
            return true;
        });

        $('.annulerBouton').click(function (e) {
            e.preventDefault();
            $.fancybox.close();
            return true;
        });

        $('#editionPropertiesForm').submit(function () {
            $('#saveBtn').prop('disabled', true);
        });

    });
    /*]]>*/
</script>

</body>
</html>