<!doctype html>
<html class="no-js sidebar-left-collapsed"
      dir="ltr" lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8"/>
  <meta content="ie=edge" http-equiv="x-ua-compatible"/>
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
        name="viewport"/>
  <title th:text="${nomDemarche}"></title>

  <!-- Import FONTS -->
  <link rel="stylesheet" th:href="@{/css/font-style.css(${applicationBuildTimestamp})}"/>

  <!-- Import CSS -->
  <link rel="stylesheet"
        th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
  <link rel="stylesheet" th:href="@{/webjars/xcb-wlib/css/template.css}"/>
  <link rel="stylesheet" th:href="@{/webjars/xcb-wlib/css/sidebar.css}"/>
  <link rel="stylesheet" th:href="@{/webjars/xcb-wlib/css/element.css}"/>
  <link rel="stylesheet"
        th:href="@{/webjars/datatables/css/dataTables.bootstrap.min.css}"/>
  <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap-datepicker/css/bootstrap-datepicker.min.css}"/>

  <link rel="shortcut icon" th:href="@{/img/favicon.ico}"
        type="image/x-icon"/>
  <link rel="stylesheet"
        th:href="@{/css/tsgen.css(${applicationBuildTimestamp})}"/>
  <link rel="stylesheet"
        th:href="@{/css/tsdem.css(${applicationBuildTimestamp})}"/>
</head>

<body th:with="pageDemandesActive='active'">

<div th:replace="~{fragments/header :: header}"></div>

<div id="wrapper">

  <div th:replace="~{fragments/sidebar :: sidebar}"></div>

  <!-- DEBUT CONTENU -->
  <div id="page-content-wrapper">

    <div class="breadcrumbContent">
      <div class="breadcrumb">
					<span> <a class="breadcrumb-item active" id="ariane0"
                    th:href="@{/}">ACCUEIL</a>&nbsp;&gt;&nbsp; <a
              class="breadcrumb-item active" id="ariane1" th:href="@{/demandes}">DEMANDES</a>
						&gt;
					</span>
      </div>
      <div class="triangleTopright"></div>
    </div>

    <div class="container-fluid">
      <form id="rechercheForm">
        <div class="row">
          <div class="col-xs-12">
            <h1>Toutes les demandes</h1>


            <div class="panel panel-simple">
              <h4 class="titre">Recherche</h4>
              <div class="form-group" id="txtRechercheDemandeFormGroup">
                <label for="txtRechercheDemande">Saisissez un terme</label>
                <div class="row">
                  <div class="col-xs-8">
                    <input class="form-control" id="txtRechercheDemande" maxlength="160"
                           name="texte" th:value="${texte}"
                           type="text"></input>
                  </div>
                  <div class="col-xs-4 nopadding">
                    <button class="btn btn-action ripple-effect" id="btnRechercherDemande"
                            name="action" type="submit" value="Rechercher">
                      <i class="icon-action_chercher"></i>
                    </button>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-xs-12">

                  <div aria-multiselectable="true" class="panel-group accordion">
                    <div class="panel panel-default">
                      <div class="panel-heading" id="headingOne" role="tab">
                        <h4 class="panel-title">
                          <a aria-controls="panelFiltreDemande" aria-expanded="false"
                             class="collapsed" data-parent="#accordion"
                             data-toggle="collapse" href="#panelFiltreDemande"
                             role="button"> <i
                              class="pannelState icon-action_accordeon-ferme"></i>
                            Filtres
                          </a>
                        </h4>
                      </div>
                      <div aria-labelledby="headingOne"
                           class="sectionrecherche panel-collapse collapse"
                           id="panelFiltreDemande" role="tabpanel">
                        <div class="panel-body">
                          <h3>
                            <div class="row">
                              <div class="col-xs-12 col-md-10">
                                <span>Mode de réception</span>
                              </div>
                              <div class="col-xs-12 col-md-2">
                                <a href="#" id="tousModeTr"><span>TOUS</span></a><span>
																		/ </span><a href="#" id="aucunModeTr"><span>AUCUN</span></a>
                              </div>
                            </div>
                          </h3>
                          <div class="row">
                            <div class="col-xs-12 col-md-3">
                              <div class="toggle">
                                <label class="switch"> <input
                                    checked="" class="switch-input" id="switchTS"
                                    name="canal" type="checkbox" value="GUICHET_VIRTUEL"/> <input
                                    checked="" type="hidden"/> <span class="slider"></span>
                                </label> <label class="toggleLabel">Téléservice</label>

                              </div>
                            </div>

                            <div class="col-xs-12 col-md-3">
                              <div class="toggle">
                                <label class="switch"> <input
                                    checked="" class="switch-input"
                                    id="switchGuichet" name="canal" type="checkbox"
                                    value="GUICHET_PHYSIQUE"/> <input checked=""
                                                                      type="hidden"/> <span
                                    class="slider"></span>
                                </label> <label class="toggleLabel">Au guichet</label>
                              </div>
                            </div>

                            <div class="col-xs-12 col-md-3">
                              <div class="toggle">
                                <label class="switch"> <input
                                    checked="" class="switch-input"
                                    id="switchCourrier" name="canal" type="checkbox"
                                    value="COURRIER"/> <input checked="" type="hidden"/>
                                  <span class="slider"></span>
                                </label> <label class="toggleLabel">Par courrier</label>
                              </div>
                            </div>
                          </div>

                          <br/>
                          <h3>
                            <div class="row">
                              <div class="col-xs-12 col-md-10">
                                <span>État de la demande</span>
                              </div>
                              <div class="col-xs-12 col-md-2">
                                <a href="#" id="tousEtat"><span>TOUS</span></a><span>
																		/ </span><a href="#" id="aucunEtat"><span>AUCUN</span></a>
                              </div>
                            </div>
                          </h3>

                          <div>
                            <div class="row">
                              <div class="col-xs-12 col-md-3"
                                   th:each="statut,iter: ${statuts}"
                                   th:style="${iter.index}>
																	3? 'margin-top:1em': ''">
                                <div class="toggle">
                                  <label class="switch"> <input
                                      checked="" class="switch-input"
                                      name="statut" th:id="'switch' + ${statut.key}" th:value="${statut.key}"
                                      type="checkbox"/> <input checked=""
                                                                        type="hidden"/> <span
                                      class="slider"></span>
                                  </label> <label class="toggleLabel"
                                                  th:text="${statut.value}"></label>
                                </div>
                              </div>
                            </div>


                          </div>


                          <br/>
                          <div class="row text-center">
                            <div class="form-inline  ">
                              <div class="form-group">
                                <label for="agentId">Responsable</label> <select
                                  class="form-control" id="agentId" name="agentId"
                                  style="margin-left: 1em">
                                <option th:text="Tous" th:value="null"/>
                                <option th:each="agent : ${agentsInit}"
                                        th:text="${agent.displayName}"
                                        th:value="${agent.matricule}"/>
                              </select>
                              </div>

                              <div class="form-group" style="margin-left: 2em">
                                <label for="creationStartDate">Après le</label>
                                <div class="input-group date" style="margin-left: 1em">
                                  <input class="form-control" id="creationStartDate"
                                         name="creationStartDate" placeholder="__/__/____"
                                         type="text"/> <span
                                    class="input-group-addon"><i
                                    class="icon-action_calendrier"></i></span>
                                </div>
                              </div>
                              <div class="form-group" style="margin-left: 2em">
                                <label for="creationEndDate">Avant le</label>
                                <div class="input-group date" style="margin-left: 1em">
                                  <input class="form-control" id="creationEndDate"
                                         name="creationEndDate" placeholder="__/__/____"
                                         type="text"/> <span
                                    class="input-group-addon"><i
                                    class="icon-action_calendrier"></i></span>
                                </div>
                              </div>
                            </div>
                          </div>

                          <br/>
                          <div class="row"
                               th:if="${filtersDataRecherche != null and !filtersDataRecherche.isEmpty()}">
                            <div class="col-xs-12">
                              <div class="row" th:each="f : ${filtersDataRecherche}">
                                <div class="col-xs-12 col-md-3" style="margin-top: 1em;">
                                  <div class="form-group" style="margin-left: 2em;">
                                    <label th:for="${'filter_' + f.key}"
                                           th:text="${f.value}"></label>
                                    <input class="form-control"
                                           maxlength="40"
                                           th:id="${'filter_' + f.key}"
                                           th:name="${f.key}"
                                           th:value="${param[f.key] != null ? param[f.key][0] : ''}"
                                           type="text" />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-xs-12 text-center">
                              <button class="btn btn-action ripple-effect"
                                      id="rechercherButton2">Appliquer le
                                filtre
                              </button>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="row" id="affinerDiv">
                <div class="col-xs-12">

                  <div aria-multiselectable="true" class="panel-group accordion">
                    <div class="panel panel-default">
                      <div class="panel-heading" id="headingOne" role="tab">
                        <h4 class="panel-title">
                          <a aria-controls="collapseAffiner" aria-expanded="false" class="collapsed"
                             data-parent="#accordion" data-toggle="collapse"
                             href="#collapseAffiner" id="affinerLink"
                             role="button"> <i
                              class="pannelState icon-action_accordeon-ferme"></i>
                            Affiner
                          </a>
                        </h4>
                      </div>
                      <div aria-labelledby="headingOne"
                           class="sectionrecherche panel-collapse collapse"
                           id="collapseAffiner" role="tabpanel">
                        <div class="panel-body">


                          <div>

                            <div id="facets">
                              <div class="col-xs-12 col-sm-2" id="facetCategory"
                                   style='display: none'>
                                <h2 id="facetCategoryName">category</h2>
                                <div id="facet"
                                     style='display: none; margin-bottom: 0.5em'>
                                  <a class="greyTooltip" data-toggle="tooltip"
                                     href="javascript:;" id="facetLink">
                                    <span id="facetName">name </span>
                                  </a>
                                </div>
                              </div>
                            </div>

                            <div id="rechercheavancee"
                                 style="padding-left: 3em; padding-top: 1em;"></div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

      <div class="input-group" id="pagedropdown"
           style="margin-left: auto; margin-right: 0; margin-top: 10px">
        <select class="form-control" id="pagelist" name="pagelist" style="height: 32px"></select>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div id="demandesTable" th:insert="~{demandes/demandetable}"></div>
        </div>
      </div>

    </div>

  </div>

  <!-- FIN CONTENU -->

</div>

<div th:replace="~{fragments/footer :: footer}"></div>
<script th:src="@{/js/tsgenrechercheavancee.js(${applicationBuildTimestamp})}"></script>
<script th:src="@{/js/tsgenutils.js}" type="text/javascript"></script>
<script th:inline="javascript" type="text/javascript">
  /*<![CDATA[*/
  var demandeRechercheData = /*[[${demandeRechercheData}]]*/;
  var filtersDataRechercheKeys = /*[[${filtersDataRecherche}]]*/;

  if (filtersDataRechercheKeys && filtersDataRechercheKeys.length) {
    filtersDataRechercheKeys = filtersDataRechercheKeys
        .flatMap(function (f) {
          return Object.keys(f);
        });
  } else {
    filtersDataRechercheKeys = [];
  }
  var demandeRechercheCreationStartDate = /*[[${demandeRechercheCreationStartDate}]]*/;
  var demandeRechercheCreationEndDate = /*[[${demandeRechercheCreationEndDate}]]*/;

  var buildFacetsSerachData = function (params) {
    if (params === undefined) {
      params = {}
    }

    var rechercheParams = $("#rechercheForm").serializeArray();

    $.each(rechercheParams, function (i, o) {
      var n = o.name, v = o.value;

      if (v !== '') {

        params[n] = params[n] === undefined ? v : $
            .isArray(params[n]) ? params[n].concat(v) : [
          params[n], v];
      }

    });

    return params
  }

  var buildSearchDatafunction = function (params) {

    //Ajout des champs de recherche
    self.buildFacetsSerachData(params)

    //Suppression de toutes les valeurs renvoyées par datatable
    params.columns = null;
    params.search = null;
    params.searchFields = APP.selectedField

    //conversion des params pour Pageable Spring MVC
    params.size = params.length;
    params.page = params.start / params.length;

    if ($("input[name='canal']:checked").length === 0) {
      params.aucunCanal = true;
    }

    if ($("input[name='statut']:checked").length === 0) {
      params.aucunStatut = true;
    }
    if (demandeRechercheData) {
      params.data = demandeRechercheData;
    }
    if (filtersDataRechercheKeys && filtersDataRechercheKeys.length) {
      for (var i = 0; i < filtersDataRechercheKeys.length; i++) {
        var key = filtersDataRechercheKeys[i];
        var value = params[key];
        if (value !== undefined && value !== null && value !== '') {
          params.data = "AND:" + key + "=" + value;
          delete params[key];
          break;
        }
      }
    }
    params.sort = columns[params.order[0].column].data
        + "," + params.order[0].dir;

    if (!params.fields || params.fields.length === 0) {
      params.fields = 'data';
    } else if (!params.fields.includes('data')) {
      params.fields += ',data';
    }
  }

  var self = this
  self.buildFacetsSerachData = buildFacetsSerachData
  self.buildSearchDatafunction = buildSearchDatafunction
  self.facets = {}

  // Action du sélecteur de pages
  $('#pagelist').change(function () {
    var page_number = parseInt($('#pagelist').val());
    var test_table = $('#datatable-demandes').dataTable();
    test_table.fnPageChange(page_number);
  });

  $(document).ready(
      function () {
        APP.buildFacets();
        // Cacher le tooltip au chargement de la page
        $("#txtRechercheDemande").tooltip("hide");
        $("#txtRechercheDemande").tooltip("disable");

        // Sélection d'une date dans un calendrier
        $('#creationStartDate, #creationEndDate').datepicker({
          format: "dd/mm/yyyy",
          weekStart: 1,
          language: "fr",
          todayHighlight: true
        });
        if(demandeRechercheCreationStartDate) {
          $('#creationStartDate').datepicker('setDate', moment(demandeRechercheCreationStartDate).format("DD/MM/YYYY"));
        }
        if(demandeRechercheCreationEndDate) {
          $('#creationEndDate').datepicker('setDate', moment(demandeRechercheCreationEndDate).format("DD/MM/YYYY"));
        }

        $('.input-group-addon').click(function () {
          var $input = $(this).closest('div').find(':input');
          $input.focus();
        });

        $('#btnRechercherDemande').click(function (e) {
          e.preventDefault();
          $('#rechercherButton2').click();
        });

        $('#rechercheButton1, #rechercherButton2').click(
            function (e) {
              // Désactiver champs de recherche pendant la requête
              rechercheEnCours(true);
              APP.selectedField = null;
              $('#datatable-demandes').DataTable().ajax.reload(rechercheTerminee, true);
              APP.buildFacets();
            });

        if ($("#txtRechercheDemande").val() !== '') {
          APP.buildFacets();
        }

        configurationDataTable.ajax.data = buildSearchDatafunction;
        if (typeof searchDefaultSort !== 'undefined') {
          configurationDataTable.order = searchDefaultSort;
        }

        // Configuration du drawCallback de Datatables afin d'afficher un dropdown permettant de changer de page
        function callback() {
          $('[data-toggle="tooltip"]').tooltip();

          var page_info = table.page.info();
          $('#totalpages').text(page_info.pages);
          var html = '';
          var start = 0;
          var length = page_info.length;
          for (var count = 1; count <= page_info.pages; count++) {
            var page_number = count - 1;
            html += '<option value="' + page_number + '" data-start="' + start + '" data-length="' + length + '">' + count + '</option>';
            start = start + page_info.length;
          }
          $('#pagelist').html(html);
          $('#pagelist').val(page_info.page);
        }

        configurationDataTable.drawCallback = callback;
        configurationDataTable.dom = 'lfrt<"footer">ip';
        configurationDataTable.fnInitComplete = function () {
          $('div.footer').html($('#pagedropdown'));
        }
        var table = $('#datatable-demandes').DataTable(configurationDataTable);

        $('#tousModeTr').click(function (e) {
          e.preventDefault();
          $("input[name='canal']").prop('checked', true);
        });

        $('#aucunModeTr').click(function (e) {
          e.preventDefault();
          $("input[name='canal']").prop('checked', false);
        });

        $('#tousEtat').click(function (e) {
          e.preventDefault();
          $("input[name='statut']").prop('checked', true);
        });

        $('#aucunEtat').click(function (e) {
          e.preventDefault();
          $("input[name='statut']").prop('checked', false);
        });
        $('#datatable-demandes').on('click', 'tbody td', function () {
          const lien = $(this).closest('tr').find('td:eq(0) a').attr('href');
          if (lien) {
            window.location = lien;
          }
        });
      });

  $("body").tooltip({
    selector: '[data-toggle=tooltip]'
  }).tooltip();

  function rechercheTerminee() {
    rechercheEnCours(false);
    // #44100: On focus le tableau des demandes
    document.getElementById("demandesTable").scrollIntoView();
  }

  function rechercheEnCours(desactiverChamps) {
    if (desactiverChamps) {
      $('#btnRechercherDemande, #rechercherButton2').addClass("loading");
    } else {
      $('#btnRechercherDemande, #rechercherButton2').removeClass("loading");
    }
    $('#btnRechercherDemande, #rechercherButton2').prop('disabled', desactiverChamps);
  }

  function escapeHtml(unsafe) {
    return unsafe
        .replace(/&/g, "&amp;")
        .replace(/</g, "&lt;")
        .replace(/>/g, "&gt;")
        .replace(/"/g, "&quot;")
        .replace(/'/g, "&#039;");
  }

  /*]]>*/
</script>
</body>
</html>
