<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	class="no-js sidebar-left-collapsed" lang="fr" dir="ltr">

<head>
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title th:text="${AfBackUtils.getDemarcheNom()}"></title>
<link rel="shortcut icon" th:href="@{/img/favicon.ico}" />
<!-- Import FONTS -->
<link th:href="@{/css/font-style.css(${applicationBuildTimestamp})}" rel="stylesheet" />

<!-- Import CSS -->
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css" />
<link th:href="@{/webjars/xcb-wlib/css/template.css}" rel="stylesheet" />
<link th:href="@{/webjars/xcb-wlib/css/sidebar.css}" rel="stylesheet" />
<link th:href="@{/webjars/xcb-wlib/css/element.css}" rel="stylesheet" />
<link th:href="@{/webjars/datatables/css/dataTables.bootstrap.min.css}"
	rel="stylesheet" />
<link
	th:href="@{/webjars/bootstrap-datepicker/css/bootstrap-datepicker.min.css}"
	rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon"
	th:href="@{/img/favicon.ico}" />

<link th:href="@{/css/tsgen.css(${applicationBuildTimestamp})}"
	rel="stylesheet" />
<link th:href="@{/css/tsdem.css(${applicationBuildTimestamp})}"
	rel="stylesheet" />
</head>

<body th:with="pageDemandesActive='active'">

	<div th:replace="~{fragments/header :: header}"></div>

	<div id="wrapper">

		<div th:replace="~{fragments/sidebar :: sidebar}"></div>

		<!-- DEBUT CONTENU -->
		<div id="page-content-wrapper">

			<div class="breadcrumbContent">
				<div class="breadcrumb">
					<span class="breadcrumb-item active"><a id="ariane0"
						th:href="@{/}" class="breadcrumb-link">Accueil</a>&nbsp;&gt;&nbsp;<a
						id="ariane1" th:href="@{/gestion/usagers}" class="breadcrumb-link">Demandes</a>
						&gt; Nouvelle demande</span>
				</div>
				<div class="triangleTopright"></div>
			</div>

			<div class="container-fluid">

				<div class="row">
					<div class="col-xs-12">
						<h1>Nouvelle demande</h1>
					</div>
				</div>

				<div class="row">
					<form id="form-courrier" method="post" th:action="@{''}"
						th:object="${demandesCourrierFormBean}" text-align="center">

						<div class="col-xs-12">
							<span class="titre">Création de la demande</span>
							<div class="panel panel-simple">

								<div class="row">
									<div class="col-xs-3">
										<label>Usager</label>
									</div>
									<div class="col-xs-9">
										<input id="txtUsager" class="form-control" type="text"
											th:value="${usager}" disabled="disabled" /> <input
											class="form-control" type="hidden" th:value="${usager}"
											th:field="*{usagerId}" />
									</div>
								</div>

								<br />
								<div class="row">
									<div
										th:class="${#fields.hasErrors('dateReception')} ? 'form-group error' : 'form-group'">
										<div class="col-xs-3">
											<label for="dateReception">Date de dépôt / Réception
												<span class="required"></span>
											</label>
										</div>
										<div class="container-fluid">
											<div class="col-xs-2">

												<div class="input-group date">
													<input type="text" class="form-control dateDepot"
														placeholder="__/__/____" data-mask="99/99/9999"
														name="dateDepot" th:field="*{dateReception}"
														th:errorclass="errorTooltip"
														th:attr="data-title=${#fields.hasErrors('dateReception')} ? ${#fields.errors('dateReception')} :''"></input>
													<span id="dateReception" class="input-group-addon">
														<i class="icon-action_calendrier"></i>
													</span>
												</div>
											</div>
										</div>
									</div>

								</div>

								<div class="row">
									<div
										th:class="${#fields.hasErrors('canal')} ? 'form-group error' : 'form-group'">
										<div class="col-xs-3">
											<label for="code">Mode de réception <span
												class="required"></span>
											</label>
										</div>
										<div class="col-xs-9">

											<select class="form-control" th:field="*{canal}"
												th:errorclass="errorTooltip"
												th:attr="data-title=${#fields.hasErrors('canal')} ? ${#fields.errors('canal')} :''">
												<option th:value="null">Veuillez sélectionner une
													valeur...</option>
												<option th:each="canal : ${canaux}"
													th:value="${canal.name()}" th:text="${canal.libelle}"></option>
											</select>
										</div>
									</div>
								</div>

								<br />
								<div class="row">
									<div
										th:class="${#fields.hasErrors('langue')} ? 'form-group error' : 'form-group'">
										<div class="col-xs-3">
											<label for="code">Langue <span class="required"></span></label>
										</div>
										<div class="col-xs-9">

											<select class=" form-control" th:field="*{langue}"
												th:errorclass="errorTooltip"
												th:attr="data-title=${#fields.hasErrors('langue')} ? ${#fields.errors('langue')} :''">
												<option th:value="null">Veuillez sélectionner une
													valeur...</option>
												<option th:each="langue : ${langues}"
													th:value="${langue.key}" th:text="${langue.value}"></option>
											</select>
										</div>
									</div>
								</div>

								<br />
								<div class="row">
									<div id="refInterneFormGroup"
										th:class="${#fields.hasErrors('refInterne')} ? 'form-group error' : 'form-group'">
										<div class="col-xs-3">
											<label for="refInterne">Référence interne</label>
										</div>
										<div class="col-xs-9">
											<input id="refInterne" type="text" class="form-control"
												name="refInterne" th:field="*{refInterne}"
												th:errorclass="errorTooltip"
												th:attr="data-title=${#fields.hasErrors('refInterne')} ? ${#fields.errors('refInterne')} :''" />
										</div>
									</div>
								</div>
								
								<br />
								<div class="row" th:if="${duplicationKeyId != null}">
									<div id="duplicationFormGroup">
										<div class="col-xs-3">
											&nbsp;
										</div>
										<div class="col-xs-9">
											<input id="duplicationKeyId" type="checkbox" name="duplicationKeyId" >&nbsp;&nbsp;Renouveler la demande
											<a target="_new"
												th:href="@{/demandes/}+${duplicationKeyId}">[[${duplicationIdentifiant}]]</a>
										</div>
									</div>
								</div>

								<br />
								<div class="row">
									<div class="col-xs-12 text-center">
										<a id="btnRetourUsager" class="btn btn-action ripple-effect"
											th:href="@{/gestion/usagers/}+${usagerId}">Retour</a> <input
											id="submitButton" type="submit" name="action"
											value="Étape suivante" class="btn btn-action ripple-effect" />
									</div>
								</div>
							</div>
						</div>
					</form>
					<div class="container-fluid">
						<small>Les champs obligatoires sont suivis par *</small>
					</div>
				</div>
			</div>

		</div>

		<!-- FIN CONTENU -->

	</div>


	<div th:replace="~{fragments/footer :: footer}"></div>

	<div th:replace="~{fragments/message :: message}"></div>

	<script>
		$(document).ready(function() {
			
			
			$('#duplicationKeyId').val('[[${duplicationKeyId}]]');

			//Initialisaiton des tooltips pour les erreurs
			$(".errorTooltip").each(function() {
				var $this = $(this);
				var title = $this.data("title");
				//New title sans les crochets car les erreurs et un toString d'un tableau d'erreur messages
				var newTitle = title.substring(1, title.length - 1);
				$this.tooltip({
					placement : "bottom",
					title : newTitle
				});

			});

			// Sélection d'une date dans un calendrier
			$('.dateDepot').datepicker({
				format : "dd/mm/yyyy",
				weekStart : 1,
				language : "fr",
				todayHighlight : true
			});

			$('.input-group-addon').click(function() {
				var $input = $(this).closest('div').find(':input');
				$input.focus();
			});

			$('#submitButton').click(function() {
				var inputId = '#refInterne';
				var formGroup = inputId + 'FormGroup';
				var hasErrors = $(formGroup).hasClass('error');
				if (hasErrors) {
					var val = $(inputId).val();
					var len = val ? val.length : 0;
					var maxlenght = 128;
					if (len <= maxlenght) {
						$(inputId).tooltip("hide");
						$(formGroup).removeClass('error');
						$(inputId).tooltip("disable");
					}
				}
			});

		});
	</script>


</body>
</html>
