
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	class="no-js sidebar-left-collapsed" lang="fr" dir="ltr">

<head>
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<meta th:name="_csrf" th:content="${_csrf.token}" />
<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />





<title th:text="${titre}"></title>

<!-- Import FONTS -->
<link th:href="@{/webjars/xcb-wlib/fonts/style.css}" rel="stylesheet" />
<!--[if lt IE 8]><!-->
<link rel="stylesheet" th:href="@{/webjars/xcb-wlib/fonts/ie7/ie7.css}" />

<!-- Import CSS -->
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css" />
<link th:href="@{/webjars/xcb-wlib/css/template.css}" rel="stylesheet" />
<link th:href="@{/webjars/xcb-wlib/css/sidebar.css}" rel="stylesheet" />
<link th:href="@{/webjars/xcb-wlib/css/element.css}" rel="stylesheet" />
<link th:href="@{/webjars/datatables/css/dataTables.bootstrap.css}"
	rel="stylesheet" />
<link rel="stylesheet"
	th:href="@{/webjars/fancybox/jquery.fancybox.css}" />
<link rel="shortcut icon" type="image/x-icon"
	th:href="@{/img/favicon.ico}" />
<link th:href="@{/css/tsgen.css(${applicationBuildTimestamp})}"
	rel="stylesheet" />
<link th:href="@{/css/tsdem.css(${applicationBuildTimestamp})}"
	rel="stylesheet" />


</head>

<body th:with="pageParametresActive='active'">

	<div th:replace="fragments/header :: header" />

	<div id="wrapper">

		<div th:replace="fragments/sidebar :: sidebar" />

		<!-- DEBUT CONTENU -->
		<div id="page-content-wrapper">


			<div class="breadcrumbContent">
				<div class="breadcrumb">
					<span> <a th:href="@{/}" class="breadcrumb-item active">Accueil</a>&nbsp;&gt;&nbsp;
						<a th:href="@{/gestion/parametres}" class="breadcrumb-item active">Administration
							de la recherche avancée</a> &gt;
					</span>
				</div>
				<div class="triangleTopright"></div>
			</div>

			<div class="container-fluid">
				<div class="text-left col-md-3" style="padding-left: 0px">
					<input type="submit" value="Ajouter une catégorie"
						id="addCategoryButton" class="btn btn-action ripple-effect ">
				</div>
				<div class="text-right col-md-9">
	
				
				
					<a th:href="@{/ws/admin/export}" id="exportConfigButton" style="float: right; margin-left:10px"
							class="btn btn-action ripple-effect pull-right"><i
							class="icon-action_telecharger"></i> <span>Exporter</span></a>
					<input type="submit" value="Valider l'import" style="float: right; margin-left:10px" id="submitImportConfigButtonButton"
									class="btn btn-action ripple-effect pull-right" />
									
					<input type="file" value="Importer"  style="margin-left:10px"
									id="importConfigButtonButton"  accept=".json"
									class="btn btn-action ripple-effect pull-right" />
								


				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="tableContent">
							<div class="tableTitle">
								Configuration des catégories <span class="badge"
									id="categoriesSize"></span>
							</div>
							<table id="datatable-categories" class="table table-striped ">
								<thead>
									<tr>
										<th class="col-xs-9">Libelle</th>
										<th class="col-xs-3">Action</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>

				<div class="col-xs-12 text-right">
					<input type="submit" value="Enregistrer" id="saveCatButton"
						class="btn btn-action ripple-effect " disabled>
				</div>

				<div class="row">
					<div class="col-xs-12">

						<div class="tableContent">
							<div class="tableTitle">
								Configuration des champs de la recherche avancée <span
									class="badge" id="propertiesSize"></span>
							</div>
							<table id="datatable-search-properties"
								class="table table-striped ">
								<thead>
									<tr>
										<th class="col-md-3">Clé</th>
										<th class="col-md-5">Libelle</th>
										<th class="col-md-3">Catégorie</th>
										<th class="col-md-1">Actif</th>
									</tr>
								</thead>
							</table>
						</div>

						<div class="col-xs-12 text-right">
							<input type="submit" value="Enregistrer"
								id="savePropertiesButton" class="btn btn-action ripple-effect"
								disabled>
						</div>
					</div>
				</div>

				<div class="row">
					<div id="removeCategoryConfirmPanel" style="display: none">

						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-12" id="removeCatConfirmationMsg"
									style="padding: 20px">Etes vous sure de vouloir supprimer
									cette catégorie ?</div>
							</div>

							<div class="row ">
								<div class=" text-right">
									<a class="annuler-preview btn btn-action ripple-effect"
										id="cancelDeleteCategoryButton">Annuler</a> <a
										class="valider-preview btn btn-action ripple-effect"
										id="deleteCategoryButton">Valider</a>
								</div>
							</div>
						</div>
					</div>
					<div id="saveCategoriesConfirmPanel" style="display: none">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-12" id="saveCategoriesConfirmationMsg"
									style="padding: 20px">Etes vous sure de vouloir mettre à
									jour les catégories ?</div>
							</div>

							<div class="row ">
								<div class=" text-right">
									<a class="annuler-preview btn btn-action ripple-effect"
										id="cancelSaveCategoriesButton">Annuler</a> <a
										class="valider-preview btn btn-action ripple-effect"
										id="saveCategoriesButton">Valider</a>
								</div>
							</div>
						</div>
					</div>
					<div id="savePropertiesConfirmPanel" style="display: none">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-12" id="savePropertiesConfirmationMsg"
									style="padding: 20px">Etes vous sure de vouloir mettre à
									jour les facets ?</div>
							</div>

							<div class="row ">
								<div class=" text-right">
									<a class="annuler-preview btn btn-action ripple-effect"
										id="cancelSavePropertiesButton">Annuler</a> <a
										class="valider-preview btn btn-action ripple-effect"
										id="savePropertiesConfirmButton">Valider</a>
								</div>
							</div>
						</div>
					</div>
					<div id="addCategoryPanel" style="display: none">
						<form>
							<div class="container-fluid">
								<div class="row">
									<h1>Ajouter une catégorie</h1>
								</div>
								<div class="row">

									<div class="form-group">
										<label for="libelleCatInput">Catégorie</label> <input
											class="form-control" id="libelleCatInput">
									</div>
								</div>
								<div class="row ">
									<div class="text-right">
										<input class="annuler-preview btn btn-action ripple-effect"
											id="cancelAddCategoryConfirmButton" value="Annuler" /> <input
											class="valider-preview btn btn-action ripple-effect"
											id="addCategoryConfirmButton" value="Valider" />
									</div>
								</div>

							</div>
						</form>
					</div>

				</div>

			</div>

			<input type="hidden" href="javascript:void(0);" data-type="success"
				data-delay="5000" data-message="sss" id="successMessage"
				class="notification" /> 
			<input type="hidden"
				href="javascript:void(0);" data-type="danger" data-delay="0"
				data-message="" id="errorMessage" class="notification" />
			

			<!-- FIN CONTENU -->
		</div>


		<div th:replace="fragments/footer :: footer" />

		<script type="text/javascript" th:inline="javascript">
		
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
		
		
		
		
		
			/* Create an array with the values of all the input boxes in a column */
			$.fn.dataTable.ext.order['dom-text'] = function(settings, col) {
				return this.api().column(col, {
					order : 'index'
				}).nodes().map(function(td, i) {
					return $('input', td).val();
				});
			}
		
			$.fn.dataTable.ext.order['dom-select'] = function(settings, col) {
				return this.api().column(col, {
					order : 'index'
				}).nodes().map(function(td, i) {
					return $('select', td).val();
				});
			}
		
			/* Create an array with the values of all the checkboxes in a column */
			$.fn.dataTable.ext.order['dom-checkbox'] = function(settings, col) {
				return this.api().column(col, {
					order : 'index'
				}).nodes().map(function(td, i) {
					return $('input', td).prop('checked') ? '1' : '0';
				});
			}
		
			var configurationDataTableFacets = {
				serverSide : false,
				"ajax" : {
		
					//Pour ne pas envoyer canal[]=XXX non géré par Spring mvc
					"traditional" : true,
					"url" : APP.getContextPath() + "/ws/admin/properties",
					"dataSrc" : function(json) {
		
						json['recordsTotal'] = json['length'];
						json['recordsFiltered'] = json['length'];
		
						//json['data'] = json['content'];
						$("#propertiesSize").html(json.length)
						return json;
					}
				},
		
				"columns" : [ {
					"data" : "name",
					render : function(data, type, property) {
						var id = property.name.replace(/\./g, '');
						return '<span id="' + id + '" >' + property.name.trim() + '</span>';
					}
				},
					{
						"data" : "label",
						"orderDataType" : "dom-text",
						type : 'string',
						render : function(data, type, property) {
							var disabled = '';
							var label = '';
							if (property.label) {
								label = property.label;
							}
							if (!property.editable) {
								disabled = 'disabled';
							}
							var id = property.name.replace(/\./g, '') + "Label";
							return '<div class="col-xs-10 col-md-10"><input type="text" value="' + label + '" name="' + property.name + '" class="form-control" id="' + id + '" title="" ' + disabled + '/></div>';
						}
					},
					{
						"data" : "categoryId",
						"orderDataType" : "dom-select",
						render : function(data, type, property) {
							var disabled = '';
							if (!property.editable) {
								disabled = 'disabled';
							}
		
							var id = property.name.replace(/\./g, '') + "Category";
							var selectBox = '<div class="col-xs-8 col-md-8" >' +
								'<select style="margin-left: 1em"  name="' + property.name + '" id="' + id + '" class="form-control " ' + disabled + '>' +
								'<option value="">Merci de selectionner une catégorie</option>';
							if (property.allCategories) {
								property.allCategories.forEach(function(cat) {
		
									var selected = '';
									if (cat.id === property.categoryId) {
										selected = 'selected="selected"';
									}
		
									selectBox += '<option value="' + cat.id + '" ' + selected + '>' + cat.label + '</option>'
								});
							}
							selectBox += '</select></div>';
							return selectBox;
						}
					},
					{
						"data" : "enabled",
						"orderDataType" : "dom-checkbox",
						render : function(data, type, property) {
							var id = property.name.replace(/\./g, '') + "Check";
							var checked = '';
							var chkedLabel = '';
							if (property.enabled) {
								checked = 'checked';
								chekedLabel = 'Actif';
							} else {
								chekedLabel = 'Inactif';
							}
		
							var disabled = '';
							if (property.name.startsWith("complement.fichiers")) {
								disabled = 'disabled';
							}
		
							return '<div class="form-group">  <div class="checkbox-custom checkbox-default">  <input type="checkbox" ' + checked + ' id="' + id + '" name="' + property.name + '" ' + disabled + '><label for="' + id + '" id="' + property.name + 'CheckLabel"  >' + chekedLabel + '</label>'
								+ '</div> </div>';
		
		
						}
					} ],
				"scrollY" : "700px",
				"scrollCollapse" : true,
				"paging" : false,
				autoWidth : false,
				filter : false,
				colReorder : true,
				language : frenchTranslation,
				iDisplayLength : 10
			}
		
			var tableProperties = $('#datatable-search-properties').DataTable(configurationDataTableFacets);
		
			$("#datatable-search-properties").on('change', "input[type='checkbox']", function(e) {
		
				if (this.labels[0].innerText === "Actif") {
					this.labels[0].innerText = "Inactif";
				} else {
					this.labels[0].innerText = "Actif";
				}
		
				if (this.name.startsWith("fichiers.")) {
					var idComplement = "complement" + this.name.replace(/\./g, '') + "Check";
					$("#" + idComplement).removeAttr("disabled").click().attr("disabled", true);
				}
		
		
			});
		
			function equals(val1, val2) {
				if ((val1 == null && val2 == "") || (val1 == "" && val2 == null))
					return true;
				else
					return val1 == val2;
			}
		
			var changedProperties = [];
			$("#datatable-search-properties").on('change', "input,select", function(e) {
		
				var rowData = tableProperties.row($(this).parents('tr')).data();
		
				var id = this.name.replace(/\./g, '');
				var propLabel = tableProperties.$('#' + id + 'Label')[0].value;
				var catId = tableProperties.$('#' + id + 'Category')[0].value;
				var enabled = tableProperties.$('#' + id + 'Check').is(":checked");
		
				var propIndex = changedProperties.indexOf(this.name);
		
				if (propIndex === -1 && (!equals(propLabel, rowData.label) || !equals(catId, rowData.categoryId) || enabled !== rowData.enabled)) {
					changedProperties.push(this.name);
					$(this).parents("tr").addClass("updated-value");
				}
				if (propIndex !== -1 && equals(propLabel, rowData.label) && equals(catId, rowData.categoryId) && enabled == rowData.enabled) {
					changedProperties.splice(propIndex, 1);
					$(this).parents("tr").removeClass("updated-value");
				}
				console.log(this);
			});
		
		
		
		
		
			$("#savePropertiesButton").click(function() {
		
				$.fancybox.open($("#savePropertiesConfirmPanel"),
					{
						autoSize : false,
						width : "30%",
						height : "auto"
					});
		
		
			});
		
			$("#savePropertiesConfirmButton").click(function() {
		
				var properties = [];
		
				changedProperties.forEach(function(p) {
		
					var id = p.replace(/\./g, '');
					properties.push({
						"name" : tableProperties.$('#' + id)[0].innerText,
						"label" : tableProperties.$('#' + id + 'Label')[0].value,
						"categoryId" : tableProperties.$('#' + id + 'Category')[0].value,
						"enabled" : tableProperties.$('#' + id + 'Check').is(":checked")
					});
				});
		
				$.ajax({
					url : APP.getContextPath() + "/ws/admin/updateproperties",
					method : "POST",
					traditional : true,
					contentType : "application/json",
					data : JSON.stringify({
						properties : properties
					}),
					beforeSend : function(xhr) {
						xhr.setRequestHeader(header, token);
					},
					success : function(data) {
						$("#successMessage").attr("data-message", "La configuration a été enregistrée avec succès").click();
						console.log("Success" + data);
						changedProperties = [];
						tableProperties.ajax.reload(null, true);
						$.fancybox.close();
		
					},
					error : function(e) {
						$("#errorMessage").attr("data-message", "Un problème est survenu lors de l'enregistrement de la configuration");
						$("#errorMessage").click();
						console.log("failed to submit : " + e);
					}
				});
		
			});
		
		
		
		
			var configurationDataTableCategories = {
				serverSide : false,
				"ajax" : {
		
					//Pour ne pas envoyer canal[]=XXX non géré par Spring mvc
					"traditional" : true,
					"url" : APP.getContextPath() + "/ws/admin/categories",
					"dataSrc" : function(json) {
		
						json['recordsTotal'] = json['length'];
						json['recordsFiltered'] = json['length'];
		
						//json['data'] = json['content'];
						$("#categoriesSize").html(json.length)
						return json;
					}
				},
		
				"columns" : [
					{
						"data" : "label",
						"orderDataType" : "dom-text",
						type : 'string',
						render : function(data, type, property) {
							var disabled = '';
							if (!property.editable) {
								disabled = 'disabled';
							}
							return '<div class="col-xs-10 col-md-10"><input type="text" value="' + property.label + '" class="form-control" id="' + property.id + 'Label" title="" ' + disabled + ' name="' + property.id + '"/></div>';
						}
					},
					{
						"data" : "action",
						"orderable" : false,
						render : function(data, type, property) {
							var disabled = '';
							if (!property.editable) {
								disabled = 'disabled';
							}
							return '<input type="submit" value="Supprimer" id="remove' + property.id + 'Button" class="btn btn-action ripple-effect "  name="' + property.id + '" ' + disabled + '>';
						}
					} ],
				"scrollY" : "700px",
				"scrollCollapse" : true,
				"paging" : false,
				autoWidth : false,
				filter : false,
				colReorder : true,
				language : frenchTranslation,
				iDisplayLength : 10
			}
		
			var tableCategories = $('#datatable-categories').DataTable(configurationDataTableCategories);
		
		
		
			var changedCategories = [];
			$("#datatable-categories").on('change', "input", function(e) {
		
				var catId = Number(this.name);
		
				var rowData = tableCategories.row($(this).parents('tr')).data();
				var categoryValue = tableCategories.$('#' + catId + 'Label')[0].value;
		
				var catIndex = changedCategories.indexOf(catId);
				if (catIndex === -1 && rowData.label !== categoryValue) {
					changedCategories.push(catId);
					$(this).parents("tr").addClass("updated-value");
				}
				if (catIndex !== -1 && rowData.label == categoryValue) {
					changedCategories.splice(catIndex, 1);
					$(this).parents("tr").removeClass("updated-value");
				}
		
			});
		
			$("#saveCatButton").click(function() {
		
				$.fancybox.open($("#saveCategoriesConfirmPanel"),
					{
						autoSize : false,
						width : "30%",
						height : "auto"
					});
			});
		
			$("#saveCategoriesButton").click(function() {
		
				var categories = [];
		
				changedCategories.forEach(function(catId) {
					categories.push({
						"id" : catId,
						"label" : tableCategories.$('#' + catId + 'Label')[0].value
					});
				});
		
				$.ajax({
					url : APP.getContextPath() + "/ws/admin/updatecategories",
					method : "POST",
					traditional : true,
					data : JSON.stringify({
						categories : categories
					}),
					contentType : "application/json",
					beforeSend : function(xhr) {
						xhr.setRequestHeader(header, token);
					},
					success : function(categories) {
						$("#successMessage").attr("data-message", "Les catégories ont bien été mis à jour avec succès").click();
						console.log("Success" + categories);
						categories.forEach(function(category) {
							tableProperties.$("select option[value='" + category.id + "']").text(category.label);
						});
						tableCategories.ajax.reload(null, true);
						$.fancybox.close();
		
					},
					error : function(xhr) {
						var error = jQuery.parseJSON(xhr.responseText);
						$("#errorMessage").attr("data-message", "Un problème est survenu lors de la mise à jour des catégories: " + error.message).click();
						console.log("failed to submit : " + error);
					}
				});
		
			});
		
		
			var categoryToDelete;
			$("#datatable-categories").on('click', "input", function(e) {
				if (this.type == "submit") {
					categoryToDelete = this.name;
					$.fancybox.open($("#removeCategoryConfirmPanel"),
						{
							autoSize : false,
							width : "30%",
							height : "auto"
						});
				}
			});
		
			$("#deleteCategoryButton").click(function() {
		
				$.ajax({
					url : APP.getContextPath() + "/ws/admin/deletecategory?id=" + categoryToDelete,
					method : "DELETE",
					traditional : true,
					contentType : "application/json",
					beforeSend : function(xhr) {
						xhr.setRequestHeader(header, token);
					},
					success : function(data) {
						$("#successMessage").attr("data-message", "La catégorie a été supprimer avec succès").click();
						console.log("Success" + data);
						tableCategories.ajax.reload(null, true);
						tableProperties.$("select option[value='" + categoryToDelete + "']").remove();
						categoryToDelete = null;
						$.fancybox.close();
		
					},
					error : function(xhr) {
		
						var error = jQuery.parseJSON(xhr.responseText);
		
						$("#errorMessage").attr("data-message", "Un problème est survenu lors de la suppression de la catégorie: " + error.message).click();
						console.log("failed to submit : " + error);
						$.fancybox.close();
					}
				});
		
			});
		
			$("#cancelDeleteCategoryButton, #cancelSaveCategoriesButton, #cancelAddCategoryConfirmButton, #cancelSavePropertiesButton").click(function() {
		
				$.fancybox.close();
		
			});
		
			$("#datatable-categories").on('change', "tr", function(e) {
		
				if (typeof changedCategories !== 'undefined' && changedCategories.length > 0) {
					$("#saveCatButton").removeAttr("disabled");
				} else {
					$("#saveCatButton").attr("disabled", true);
				}
			});
		
		
			$("#datatable-search-properties").on('change', "tr", function(e) {
		
				if (typeof changedProperties !== 'undefined' && changedProperties.length > 0) {
					$("#savePropertiesButton").removeAttr("disabled");
				} else {
					$("#savePropertiesButton").attr("disabled", true);
				}
		
			});
		
		
		
		
			$("#addCategoryButton").click(function() {
		
				$.fancybox.open($("#addCategoryPanel"),
					{
						autoSize : false,
						width : "40%",
						height : "auto"
					});
			});
		
		
		
		
			$("#addCategoryConfirmButton").click(function() {
				$.ajax({
					url : APP.getContextPath() + "/ws/admin/addcategory?label=" + $("#libelleCatInput").val(),
					method : "POST",
					traditional : true,
					contentType : "application/json",
					beforeSend : function(xhr) {
						xhr.setRequestHeader(header, token);
					},
					success : function(data) {
						$("#successMessage").attr("data-message", "La catégorie a été enregistrée avec succès").click();
						console.log("Success" + data);
						tableCategories.ajax.reload(null, true);
						tableProperties.$("select").append($('<option/>', {
							value : data.id,
							text : data.label
						}));
						$.fancybox.close();
		
					},
					error : function(xhr) {
						var error = jQuery.parseJSON(xhr.responseText);
						$("#errorMessage").attr("data-message", "Un problème est survenu lors de l'enregistrement de la catégorie: " + error.message).click();
						console.log("failed to submit : " + error);
					}
				});
			});
			
			$("#submitImportConfigButtonButton").click(function() {
				
				
				 if($("#importConfigButtonButton").val() === '')
				 {
					 $("#errorMessage").attr("data-message", "Le fichier à importer est obligatoire").click();
				 }
				 else
					 {
					 var filedata = $('#importConfigButtonButton').prop('files')[0];  		 
				  var formdata = new FormData();                  
				  formdata.append('file', filedata);
				    $.ajax({
				        url: APP.getContextPath() +'/ws/admin/import', // point to server-side PHP script 
				        cache : false,
				        contentType : false,
				        processData : false,
				        beforeSend : function(xhr) {
							xhr.setRequestHeader(header, token);
						},
				        data: formdata,                         
				        type: 'post',
				        success: function(message){
				        	$("#successMessage").attr("data-message", message).click();
				        	tableCategories.ajax.reload(null, true);
				        	tableProperties.ajax.reload(null, true);
				        	$("#importConfigButtonButton").val('');
				        },
						error : function(xhr) {
							var error = jQuery.parseJSON(xhr.responseText);
							$("#errorMessage").attr("data-message", "Un problème est survenu lors de l'import de la configuration: " + error.message).click();
						}
				     });}
			});
		
		
			
		</script>
</body>
</html>