<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
	http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    metadata-complete="true">
    <display-name>appfactory-servlet</display-name>

    <servlet>
        <servlet-name>AccessesServlet</servlet-name>
        <servlet-class>mc.gouv.xaf.servlet.AccessesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccessesServlet</servlet-name>
        <url-pattern>/accesses</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SessionsServlet</servlet-name>
        <servlet-class>mc.gouv.xaf.servlet.SessionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionsServlet</servlet-name>
        <url-pattern>/sessions</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DemandesServlet</servlet-name>
        <servlet-class>mc.gouv.xaf.servlet.DemandesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DemandesServlet</servlet-name>
        <url-pattern>/demandes/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DemandesPageableServlet</servlet-name>
        <servlet-class>mc.gouv.xaf.servlet.DemandesPageableServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DemandesPageableServlet</servlet-name>
        <url-pattern>/demandespage/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>mc.gouv.xaf.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PaysServlet</servlet-name>
        <servlet-class>mc.gouv.xaf.servlet.PaysServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaysServlet</servlet-name>
        <url-pattern>/pays/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>mc.gouv.xaf.servlet.FileUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/fileupload/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FileDownloadServlet</servlet-name>
        <servlet-class>mc.gouv.xaf.servlet.FileDownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileDownloadServlet</servlet-name>
        <url-pattern>/filedownload/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FilePreviewServlet</servlet-name>
        <servlet-class>mc.gouv.xaf.servlet.FilePreviewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FilePreviewServlet</servlet-name>
        <url-pattern>/filepreview/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>MotifsServlet</servlet-name>
        <servlet-class>mc.gouv.xaf.servlet.MotifsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MotifsServlet</servlet-name>
        <url-pattern>/motifs</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>PeriodesOuvertureServlet</servlet-name>
        <servlet-class>mc.gouv.xaf.servlet.PeriodesOuvertureServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PeriodesOuvertureServlet</servlet-name>
        <url-pattern>/periodesouverture</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AnnulationServlet</servlet-name>
        <servlet-class>mc.gouv.xaf.servlet.AnnulationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AnnulationServlet</servlet-name>
        <url-pattern>/annulation/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AssociationDemandeCourrierServlet</servlet-name>
        <servlet-class>mc.gouv.xaf.servlet.AssociationDemandeCourrierServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AssociationDemandeCourrierServlet</servlet-name>
        <url-pattern>/associerDemandeCourrier/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>VerificationIbanServlet</servlet-name>
        <servlet-class>mc.gouv.xaf.servlet.VerificationIbanServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerificationIbanServlet</servlet-name>
        <url-pattern>/verification-iban</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CustomRequestServlet</servlet-name>
        <servlet-class>mc.gouv.xaf.servlet.CustomRequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomRequestServlet</servlet-name>
        <url-pattern>/customRequest/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RedirectToBackOfficeServlet</servlet-name>
        <servlet-class>mc.gouv.xaf.servlet.RedirectToBackOfficeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RedirectToBackOfficeServlet</servlet-name>
        <url-pattern>/redirect-to-backoffice</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>IPFilter</filter-name>
        <filter-class>mc.gouv.xaf.servlet.filter.IPFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>IPFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <context-param>
        <param-name>DemarcheID</param-name>
        <param-value>HAB</param-value>
    </context-param>

    <context-param>
        <param-name>ContainerID</param-name>
        <param-value>ROOT</param-value>
    </context-param>
    
    <error-page>
        <exception-type>mc.gouv.xapi.error.exception.WebException</exception-type>
        <location>/erreur</location>
    </error-page>
    
    <servlet>
        <servlet-name>ErreurServlet</servlet-name>
        <servlet-class>mc.gouv.xaf.servlet.ErreurServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ErreurServlet</servlet-name>
        <url-pattern>/erreur</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PropertiesServlet</servlet-name>
        <servlet-class>mc.gouv.xaf.servlet.PropertiesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PropertiesServlet</servlet-name>
        <url-pattern>/properties</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DateServlet</servlet-name>
        <servlet-class>mc.gouv.xaf.servlet.DateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DateServlet</servlet-name>
        <url-pattern>/date</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>BrouillonsServlet</servlet-name>
        <servlet-class>mc.gouv.xaf.servlet.BrouillonsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BrouillonsServlet</servlet-name>
        <url-pattern>/brouillons/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BrouillonsPageableServlet</servlet-name>
        <servlet-class>mc.gouv.xaf.servlet.BrouillonsPageableServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BrouillonsPageableServlet</servlet-name>
        <url-pattern>/brouillonspage/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DocHolderServlet</servlet-name>
        <servlet-class>mc.gouv.xaf.servlet.DocHolderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DocHolderServlet</servlet-name>
        <url-pattern>/doc-holder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DocHolderSearchServlet</servlet-name>
        <servlet-class>mc.gouv.xaf.servlet.DocHolderSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DocHolderSearchServlet</servlet-name>
        <url-pattern>/doc-holder/search</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DocHolderFileServlet</servlet-name>
        <servlet-class>mc.gouv.xaf.servlet.DocHolderFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DocHolderFileServlet</servlet-name>
        <url-pattern>/doc-holder/file</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DocHolderFilesServlet</servlet-name>
        <servlet-class>mc.gouv.xaf.servlet.DocHolderFilesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DocHolderFilesServlet</servlet-name>
        <url-pattern>/doc-holder/files</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DocHolderCategoriesServlet</servlet-name>
        <servlet-class>mc.gouv.xaf.servlet.DocHolderCategoriesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DocHolderCategoriesServlet</servlet-name>
        <url-pattern>/doc-holder/categories</url-pattern>
        <url-pattern>/categories</url-pattern>
    </servlet-mapping>

</web-app>
