@page {
	margin-top: 80px;
	margin-bottom: 80px;
	@top-left {
		content: element( pageHeader);
	}
	@bottom-left {
		content: element(pageFooter);
	}
}

#pageHeader {
	position: running(pageHeader);
	width: 700px;
	height: 60px;
	padding-top: 20px;
}

#pageFooter {
	position: running(pageFooter);
	width: 700px;
	height: 80px;
}

#pageHeader>img, #pageFooter>img {
	max-width: 100%;
	height: auto;
}

/* CSS pour ajouter une font
body {
	font-family: 'SourceSansPro';
}
*/

table {
	width: 100%;
	border-collapse: collapse;
}

table.table-section {
	margin-top: 50px;
}

table, th, td {
	border: grey solid 1px;
}

th {
	text-transform: uppercase;
	text-align: left;
	background-color: #e5e5e5;
}

th.table-section {
	font-size: 20px;
}

td>:first-child, td>:first-child>h3 {
	margin-top: 0;
}

h1, .sectiondemande h3 {
	text-transform: uppercase;
}

h1, h2 {
	text-align: center;
	margin: 0;
}

h1 {
	font-size: 20px;
}

h2 {
	font-weight: normal;
	font-size: 18px;
}

dt {
	margin-top: 10px;
	float: left;
	clear: both;
	font-weight: bold;
	width: 30%;
}

dd {
	margin-top: 10px;
	float: left;
	margin-left: 0;
	width: 70%;
	word-wrap: break-word;
}

dl {
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.dem-admin>dl, .rep-usager>dl, .sectionrecap dl {
	padding-left: 20px;
}

dt span, dd span {
	white-space: pre-wrap;
}

.sectiondemande h3 {
	margin-bottom: 0;
}

.rep-usager {
	margin-top: 20px;
}

.display-commentaire {
	white-space: pre-wrap;
}

.table, .table td, .table th {
	border-spacing: 0;
}

.table td {
	vertical-align: top;
}

.table thead th {
	vertical-align: middle;
	display: table-cell;
	font-weight: bold;
}