<h2>Demande</h2>

<p>Afin de suivre les audience du téléservice ${TSCODE}, pourriez vous nous créer les codes du tracking piwik back et front de ce téléservice pour l&#39;environnement de PROD ?</p>

<h2>Réalisation</h2>

<p>Les URLs :</p>

<ul>
	<li>${tscode}-frontserver&nbsp;
	<ul>
		<li>url :&nbsp;<a href="https://teleservice.gouv.mc/${TSCONTEXTE}">https://teleservice.gouv.mc/${TSCONTEXTE}</a></li>
		<li>id : [TODO]</li>
	</ul>
	</li>
	<li>${tscode}-backserver
	<ul>
		<li>url :<a href="https://${tscode}-back.monaco-gouvernement.mc/${tscode}">https://${tscode}-back.monaco-gouvernement.mc/${tscode}</a></li>
		<li>id : [TODO]</li>
	</ul>
	</li>
</ul>

<p>&nbsp;</p>