<h2>Demande</h2>

<p>Pour la Mep du téléservice&nbsp;<strong>${TSCODE} v1.0.0</strong>, pourriez vous nous exécuter le script SQL en pièce jointe.</p>

<p>Schéma :&nbsp;<strong>${TSCODE}&nbsp;</strong><br />
Serveur :&nbsp;<strong>GENTS-EOSD1-0</strong></p>

<p><strong>Heure de réalisation : [[Préciser l'heure de réalisation]]</strong></p>

<p>Fichiers à exécuter dans l&#39;ordre suivant</p>

<ul>
	<li>${TSCODE}_01_S_v1.0.0-full.sql</li>
	<li>${TSCODE}_01_D_v1.0.0-full.sql</li>
</ul>

<p>Merci d&#39;avance</p>
